
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 38.3rem;
}.item--J7s {
  width: 100%;
  height: 61.8rem;

  .group-91-RCV {
    width: 100%;
    height: 100%;
    position: relative;

    .nocitication-block-yE1 {
      height: 61.8rem;
      position: absolute;
      box-sizing: border-box;
      width: 38.3rem;
      left: 0;
      top: 0;
      border: solid 0.4rem #ff25a7;
      background-color: #444444;
      border-radius: 0.5rem;
      padding: 42.5rem 3.2rem 14.3rem 5rem;

      .rectangle-40-g8R {
        vertical-align: top;
        border-radius: 0.5rem;
        width: 30.1rem;
        height: 5rem;
        object-fit: contain;
      }
    }
    .title-mff {
      top: 2.45rem;
      display: flex;
      align-items: center;
      font-weight: 400;
      line-height: 1.2575;
      font-family: ArcadeClassic, 'Source Sans Pro';
      left: 3.9rem;
      font-size: 3.5rem;
      white-space: nowrap;
      position: absolute;
      justify-content: center;
      width: 8.3rem;
      height: 4.5rem;
      color: #ffffff;
    }
    .mode-TYV {
      width: 8.9rem;
      font-family: ArcadeClassic, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      height: 4.5rem;
      top: 15.85rem;
      font-size: 3.5rem;
      left: 2.5rem;
      display: flex;
      line-height: 1.2575;
      color: #ffffff;
    }
    .group-89-ASu {
      height: 12.75rem;
      position: absolute;
      left: 5rem;
      top: 21.1rem;
      width: 19.05rem;

      .auto-group-ekos-gw3 {
        margin: 0rem 5.55rem 0.55rem 0rem;
        width: calc(100% - 5.55rem);
        display: flex;
        align-items: center;

        .auto-group-5whf-okm {
          margin: 0.1rem 1.5rem 0rem 0rem;
          width: 2.7rem;
          height: 2.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .pubilc-XRs {
          justify-content: center;
          font-size: 3rem;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          line-height: 1.2575;
          color: #d3d3d3;
          font-family: ArcadeClassic, 'Source Sans Pro';
        }
      }
      .auto-group-f4jm-T4d {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;
        width: 100%;

        .ellipse-7-o8V {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.05rem 0.2rem 0rem;
          width: 2.7rem;
          height: 2.5rem;
          object-fit: contain;
        }
        .protected-uxD {
          align-items: center;
          justify-content: center;
          font-weight: 400;
          line-height: 1.2575;
          display: flex;
          font-size: 3rem;
          color: #d3d3d3;
          font-family: ArcadeClassic, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-rdbf-ddK {
        display: flex;
        align-items: center;
        margin-right: 4.25rem;
        width: calc(100% - 4.25rem);

        .ellipse-7-a2m {
          height: 2.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.7rem;
          width: 2.7rem;
        }
        .private-JjT {
          align-items: center;
          justify-content: center;
          font-size: 3rem;
          font-weight: 400;
          font-family: ArcadeClassic, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          line-height: 1.2575;
          color: #d3d3d3;
          white-space: nowrap;
        }
      }
    }
    .password-dFw {
      height: 4.5rem;
      display: flex;
      justify-content: center;
      width: 16.6rem;
      left: 2.286rem;
      top: 36.75rem;
      font-weight: 400;
      line-height: 1.2575;
      font-size: 3.5rem;
      color: #a6a6a6;
      white-space: nowrap;
      position: absolute;
      align-items: center;
      font-family: ArcadeClassic, 'Source Sans Pro';
    }
    .group-81-iYH {
      width: 16.9rem;
      height: 5.2rem;
      position: absolute;
      left: 10.6rem;
      top: 53.2rem;
      border-radius: 0.5rem;

      .group-80-ewj {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;

        .edit-button-Dzq {
          width: 100%;
          height: 100%;
          position: relative;
          border-radius: 0.5rem;

          .rectangle-27-Bgm {
            height: 5.2rem;
            position: absolute;
            left: 0.1rem;
            top: 0;
            border: solid 0.2rem #ff3333;
            box-sizing: border-box;
            border-radius: 0.5rem;
            width: 16.8rem;
          }
          .create-6Hw {
            height: 3.8rem;
            left: 3.6rem;
            display: flex;
            justify-content: center;
            color: #ff3a3a;
            position: absolute;
            width: 9.7rem;
            top: 0.6rem;
            font-weight: 400;
            align-items: center;
            font-size: 3rem;
            line-height: 1.2575;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
    .rectangle-40-mQ5 {
      left: 5rem;
      top: 7.8rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 0.5rem;
      width: 30.1rem;
      height: 5rem;
      position: absolute;
    }
    .title-required-HtD {
      width: 14.2rem;
      top: 13.1rem;
      display: flex;
      font-size: 2.6rem;
      height: 3.3rem;
      position: absolute;
      left: 6rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #fabebe;
      font-family: ArcadeClassic, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
