
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--mq3 {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .layout-5aq {
    top: 0;
    display: flex;
    align-items: center;
    width: 192rem;
    height: 108rem;
    position: absolute;
    left: 0;

    .auto-group-wfy5-cKs {
      width: 152rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .item--M2Z {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffce50;
        width: 40rem;
        height: 108rem;
      }
      .item--gad {
        width: 112rem;
        height: 54rem;
        position: absolute;
        left: 40rem;
        top: 0;
        background-color: #ff37eb;
      }
      .item--pRw {
        left: 40rem;
        top: 54rem;
        background-color: #5f95ff;
        width: 112rem;
        height: 54rem;
        position: absolute;
      }
      .item--Z8d {
        align-items: center;
        display: flex;
        background-color: #000000;
        padding: 3.148rem 4rem 2.004rem 4rem;
        width: 112rem;
        height: 54rem;
        top: 0;
        flex-direction: column;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        position: absolute;
        left: 40rem;

        .auto-group-j6th-pqF {
          flex-direction: column;
          background-color: #d9d9d9;
          box-sizing: border-box;
          display: flex;
          width: 100%;
          align-items: center;
          border-radius: 2rem;
          flex-shrink: 0;
          margin-bottom: 2.4806rem;
          padding: 3.152rem 0rem 1.896rem 0rem;

          .item-1-jBX {
            height: 9.5rem;
            position: relative;
            background-color: #d9d9d9;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            width: 100%;

            .ladder-history-T7X {
              display: flex;
              align-items: flex-end;
              width: 100rem;
              height: 7.7032rem;
              position: absolute;
              left: 2rem;
              top: 0;

              .ladderleft-BJR {
                background-color: #292929;
                flex-shrink: 0;
                width: 40rem;
                height: 7.2509rem;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                margin: 0rem 5.667rem 0.452rem 0rem;
                position: relative;
                border-radius: 0.5rem;

                .image-1-6gH {
                  vertical-align: top;
                  width: 9.0667rem;
                  height: 6.5459rem;
                  position: absolute;
                  left: 0.4rem;
                  top: 0;
                  object-fit: cover;
                }
                .hahago-RCm {
                  height: 3.8rem;
                  left: 9.4667rem;
                  font-weight: 400;
                  width: 9.4rem;
                  top: 1.0032rem;
                  font-size: 3rem;
                  line-height: 1.2575;
                  color: #ffffff;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  white-space: nowrap;
                  position: absolute;
                }
              }
              .auto-group-uc1p-ros {
                margin-right: 6.2333rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .ladder-bWZ {
                  flex-shrink: 0;
                  margin-bottom: 0.5rem;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #3d3a3a;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .item-2-3-8Fb {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #3d3a3a;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-right: 0.4rem;
                }
              }
              .ladderright-rSV {
                padding: 0rem 1.333rem 0rem 2.2rem;
                height: 7.2509rem;
                flex-shrink: 0;
                margin-bottom: 0.4523rem;
                box-sizing: border-box;
                display: flex;
                align-items: flex-start;
                border: solid 0.1rem #000000;
                background-color: #292929;
                border-radius: 0.5rem;

                .seowokim-Zrh {
                  color: #ffffff;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin: 1rem 14.5rem 0rem 0rem;
                  font-size: 3rem;
                  font-weight: 400;
                  line-height: 1.2575;
                }
                .image-1-6bj {
                  height: 6.5459rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 9.0667rem;
                }
              }
            }
            .mins-ago-1ih {
              position: absolute;
              text-align: right;
              display: flex;
              font-size: 2rem;
              white-space: nowrap;
              width: 9rem;
              height: 2.6rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #6d6d6d;
              font-family: ArcadeClassic, 'Source Sans Pro';
              left: 94.7rem;
              top: 6.8rem;
            }
          }
          .auto-group-33yd-JSu {
            width: 100%;
            height: 18.9rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 1.7rem;

            .item-3-qxd {
              width: 104rem;
              height: 9.5rem;
              position: absolute;
              left: 0;
              top: 9.4rem;
              background-color: #d9d9d9;

              .ladder-history-Zdj {
                top: 0;
                display: flex;
                align-items: flex-end;
                width: 100rem;
                height: 7.7032rem;
                position: absolute;
                left: 2rem;

                .ladderleft-VXP {
                  position: relative;
                  border: solid 0.1rem #000000;
                  flex-shrink: 0;
                  margin: 0rem 5.667rem 0.452rem 0rem;
                  width: 40rem;
                  height: 7.2509rem;
                  box-sizing: border-box;
                  background-color: #292929;
                  border-radius: 0.5rem;

                  .image-1-cru {
                    object-fit: cover;
                    vertical-align: top;
                    width: 9.0667rem;
                    height: 6.5459rem;
                    position: absolute;
                    left: 0.4rem;
                    top: 0;
                  }
                  .junoh-9bw {
                    width: 8rem;
                    position: absolute;
                    left: 9.4667rem;
                    font-weight: 400;
                    white-space: nowrap;
                    height: 3.8rem;
                    top: 1.0032rem;
                    font-size: 3rem;
                    line-height: 1.2575;
                    color: #ffffff;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                }
                .auto-group-rmdj-ckR {
                  margin-right: 6.2333rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .ladder-Mi1 {
                    color: #3d3a3a;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.5rem;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                  }
                  .item-1-3-VJR {
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #3d3a3a;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-right: 0.4rem;
                    font-size: 2.4rem;
                  }
                }
                .ladderright-ctq {
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                  box-sizing: border-box;
                  display: flex;
                  align-items: flex-start;
                  background-color: #292929;
                  margin-bottom: 0.4523rem;
                  padding: 0rem 1.333rem 0rem 2.167rem;
                  height: 7.2509rem;
                  border: solid 0.1rem #000000;

                  .sielee-wgD {
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #ffffff;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin: 1.003rem 18.833rem 0rem 0rem;
                    font-size: 3rem;
                  }
                  .image-1-sZs {
                    width: 9.0667rem;
                    height: 6.5459rem;
                    object-fit: cover;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
              }
              .mins-ago-NmX {
                font-family: ArcadeClassic, 'Source Sans Pro';
                white-space: nowrap;
                top: 6.8rem;
                text-align: right;
                position: absolute;
                left: 93.3rem;
                display: flex;
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2575;
                width: 10.4rem;
                height: 2.6rem;
                color: #6d6d6d;
              }
            }
            .item-2-UJm {
              background-color: #d9d9d9;
              width: 104rem;
              height: 9.5rem;
              position: absolute;
              left: 0;
              top: 0;

              .ladder-history-CEm {
                width: 100rem;
                height: 7.7032rem;
                position: absolute;
                left: 2rem;
                top: 0;
                display: flex;
                align-items: flex-end;

                .ladderleft-7Mj {
                  margin: 0rem 5.667rem 0.452rem 0rem;
                  height: 7.2509rem;
                  background-color: #292929;
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                  width: 40rem;
                  position: relative;
                  border: solid 0.1rem #000000;
                  box-sizing: border-box;

                  .image-1-qHj {
                    width: 9.0667rem;
                    height: 6.5459rem;
                    position: absolute;
                    left: 0.4rem;
                    top: 0;
                    object-fit: cover;
                    vertical-align: top;
                  }
                  .hahago-mSH {
                    width: 9.4rem;
                    position: absolute;
                    left: 9.4667rem;
                    font-size: 3rem;
                    line-height: 1.2575;
                    color: #ffffff;
                    height: 3.8rem;
                    top: 1.0032rem;
                    font-weight: 400;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
                .auto-group-zbtf-SYR {
                  margin-right: 6.2333rem;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .ladder-ncH {
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.5rem;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #3d3a3a;
                  }
                  .item-2-3-vTb {
                    flex-shrink: 0;
                    margin-right: 0.4rem;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #3d3a3a;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
                .ladderright-441 {
                  align-items: flex-start;
                  border: solid 0.1rem #000000;
                  background-color: #292929;
                  margin-bottom: 0.4523rem;
                  box-sizing: border-box;
                  padding: 0rem 1.333rem 0rem 2.2rem;
                  height: 7.2509rem;
                  display: flex;
                  border-radius: 0.5rem;
                  flex-shrink: 0;

                  .dohyulee-yAy {
                    margin: 1rem 15.7rem 0rem 0rem;
                    font-size: 3rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #ffffff;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                  .image-1-WAu {
                    flex-shrink: 0;
                    width: 9.0667rem;
                    height: 6.5459rem;
                    object-fit: cover;
                    vertical-align: top;
                  }
                }
              }
              .mins-ago-dFX {
                top: 6.8rem;
                font-size: 2rem;
                line-height: 1.2575;
                font-family: ArcadeClassic, 'Source Sans Pro';
                white-space: nowrap;
                width: 9rem;
                position: absolute;
                text-align: right;
                display: flex;
                font-weight: 400;
                color: #6d6d6d;
                height: 2.6rem;
                left: 94.7rem;
              }
            }
          }
          .search-panel-Xrh {
            margin: 0rem 37.1rem 0rem 36.9rem;
            box-sizing: border-box;
            padding: 0.981rem 1.067rem 0.819rem 25.733rem;
            width: calc(100% - 74rem);
            border: solid 0.4rem #000000;
            background-color: #5e5e5e;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .icon-magnifying-glass-Sim {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .auto-group-5tuh-KnZ {
          margin: 0rem 32.267rem 0rem 32.4rem;
          height: 5.8198rem;
          font-size: 3.2rem;
          justify-content: center;
          width: calc(100% - 64.6667rem);
          display: flex;
          font-weight: 400;
          white-space: nowrap;
          align-items: center;
          line-height: 1.2575;
          color: #000000;
          font-family: ArcadeClassic, 'Source Sans Pro';
          background-color: #d9d9d9;
          border-radius: 2rem;
          flex-shrink: 0;
        }
      }
      .item--9Fo {
        width: 112rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0.825rem 2rem 1.886rem 2rem;
        height: 54rem;
        position: absolute;
        left: 40rem;
        top: 54rem;
        background-color: #414141;

        .auto-group-mrwz-DmT {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 0.667rem 1.297rem 0rem;
          width: calc(100% - 0.6667rem);

          .icon-settings-wxM {
            height: 4.7573rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 96.667rem 0.43rem 0rem;
            width: 5.3333rem;
          }
          .userlistbutton-TQu {
            width: 5.3333rem;
            height: 4.7162rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-nau9-AaD {
          border: solid 0.3rem #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.824rem 2.133rem 1.769rem 2.667rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .newmessage-5SH {
            margin: 0rem 0.134rem 0.881rem 0.265rem;
            width: calc(100% - 0.3993rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .line-1-CG1 {
              width: 40.0681rem;
              height: 0.5191rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.472rem 5.95rem 0rem 0rem;
            }
            .new-message-vSu {
              color: #ffea2d;
              font-family: Pixelroborobo, 'Source Sans Pro';
              flex-shrink: 0;
              display: flex;
              align-items: center;
              font-size: 2rem;
              line-height: 1.2575;
              white-space: nowrap;
              margin-right: 6.0833rem;
              justify-content: center;
              font-weight: 500;
            }
            .line-2-SAM {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.2358rem;
              width: 39.3992rem;
              height: 0.2649rem;
            }
          }
          .item-1-myK {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 87.44rem 0.472rem 0.267rem;
            width: calc(100% - 87.7069rem);
            height: 5.8952rem;
            display: flex;

            .image-2-V8d {
              flex-shrink: 0;
              margin-right: 0.4rem;
              width: 8.8931rem;
              height: 5.8952rem;
              object-fit: cover;
              vertical-align: top;
            }
            .auto-group-6qah-pgh {
              height: calc(100% - 1.7092rem);
              position: relative;
              flex-shrink: 0;
              margin: 0.907rem 0rem 0.802rem 0rem;
              width: 6.2rem;

              .seilee-kqF {
                white-space: nowrap;
                width: 6.2rem;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 1.6rem;
                line-height: 1.2575;
                height: 2.1rem;
                font-weight: 500;
                color: #ffa7a7;
                font-family: Pixelroborobo, 'Source Sans Pro';
              }
              .item-13-09-gD7 {
                height: 2.1rem;
                font-size: 1.6rem;
                color: #ffffff;
                font-family: Pixelroborobo, 'Source Sans Pro';
                display: flex;
                line-height: 1.2575;
                white-space: nowrap;
                align-items: baseline;
                width: 4.6rem;
                position: absolute;
                left: 0;
                top: 2.086rem;
                font-weight: 500;

                .item-13-09-gD7-sub-0 {
                }
                .item-13-09-gD7-sub-1 {
                  color: #919191;
                  font-family: Pixelroborobo, 'Source Sans Pro';
                  font-size: 1rem;
                  font-weight: 500;
                  line-height: 1.2575;
                }
              }
            }
          }
          .item-2-y5j {
            height: 5.8952rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 88.04rem 21.105rem 0.267rem;
            width: calc(100% - 88.3069rem);

            .image-2-tCh {
              width: 8.8931rem;
              height: 5.8952rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.6rem;
            }
            .auto-group-enkk-241 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.635rem 0rem 0.802rem 0rem;
              height: calc(100% - 1.4371rem);

              .me-kEu {
                font-family: Pixelroborobo, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2581rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2575;
                color: #ffa7a7;
              }
              .item-13-10-sqK {
                font-size: 1.6rem;
                white-space: nowrap;
                flex-shrink: 0;
                font-family: Pixelroborobo, 'Source Sans Pro';
                display: flex;
                align-items: baseline;
                font-weight: 500;
                line-height: 1.2575;
                color: #ffffff;

                .item-13-10-sqK-sub-0 {
                }
                .item-13-10-sqK-sub-1 {
                  font-size: 1rem;
                  font-weight: 500;
                  line-height: 1.2575;
                  color: #919191;
                  font-family: Pixelroborobo, 'Source Sans Pro';
                }
              }
            }
          }
          .item--THj {
            width: 100%;
            height: 4.3624rem;
            display: flex;
            align-items: flex-end;
            border-radius: 0.5rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 0rem;

            .item--PBP {
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 90.8rem;
              height: 4.1266rem;
              background-color: #ffffff;
              border-radius: 0.5rem;
            }
            .item--Jp9 {
              width: 11.2rem;
              height: calc(100% - 0rem);
              position: relative;
              border-radius: 0.5rem;
              flex-shrink: 0;
              margin-bottom: 0rem;

              .item--S9f {
                border-radius: 0.5rem;
                width: 11.2rem;
                height: 4.2382rem;
                position: absolute;
                left: 0;
                top: 0.1243rem;
                border: solid 0.3rem #35c2ff;
                box-sizing: border-box;
              }
              .send-YyP {
                left: 3.15rem;
                white-space: nowrap;
                justify-content: center;
                font-weight: 500;
                line-height: 1.2575;
                color: #35c2ff;
                height: 3.1rem;
                position: absolute;
                top: 0.5691rem;
                align-items: center;
                font-size: 2.4rem;
                width: 4.9rem;
                display: flex;
                font-family: Pixelroborobo, 'Source Sans Pro';
              }
            }
          }
        }
      }
      .item--yoo {
        top: 0;
        display: flex;
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.2575;
        color: #ffffff;
        position: absolute;
        align-items: center;
        justify-content: center;
        font-family: Pixelroborobo, 'Source Sans Pro';
        white-space: nowrap;
        width: 40rem;
        box-sizing: border-box;
        background-color: #ff6060;
        left: 0;
        border: solid 0.1rem #000000;
        border-radius: 1.5rem;
        height: 8.6rem;
      }
      .all-dtM {
        box-sizing: border-box;
        height: 57.3rem;
        top: 8.1rem;
        display: flex;
        background-color: #5f5f5f;
        padding-bottom: 0.2454rem;
        width: 40.098rem;
        position: absolute;
        left: 0.302rem;
        align-items: center;
        flex-direction: column;

        .auto-group-3zzu-LXs {
          width: 100%;
          height: 11.6563rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-20-tJV {
            width: 40.098rem;
            height: 5.9719rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
          }
          .channels-owF {
            left: 13.4471rem;
            top: 1.136rem;
            width: 11.6rem;
            position: absolute;
            font-size: 2.9rem;
            font-weight: 400;
            height: 3.7rem;
            color: #000000;
            justify-content: center;
            align-items: center;
            line-height: 1.2575;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
          }
          .channel-select-hWq {
            display: flex;
            align-items: center;
            width: 40.098rem;
            height: 6.1349rem;
            position: absolute;
            left: 0;
            top: 5.5214rem;

            .auto-group-r8lr-dvH {
              flex-shrink: 0;
              height: 100%;
              display: flex;
              align-items: center;
              line-height: 1.2575;
              color: #000000;
              white-space: nowrap;
              width: 20.049rem;
              font-weight: 400;
              font-family: ArcadeClassic, 'Source Sans Pro';
              border: solid 0.1rem #000000;
              background-color: #ffffff;
              justify-content: center;
              font-size: 2.9rem;
              box-sizing: border-box;
            }
            .group-82-7aZ {
              justify-content: center;
              flex-shrink: 0;
              color: #000000;
              border: solid 0.1rem #000000;
              height: 100%;
              font-weight: 400;
              font-family: ArcadeClassic, 'Source Sans Pro';
              background-color: #d7d7d7;
              width: 20.049rem;
              font-size: 2.9rem;
              line-height: 1.2575;
              white-space: nowrap;
              box-sizing: border-box;
              display: flex;
              align-items: center;
            }
          }
        }
        .search-panel-QJm {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.227rem 1.337rem 1.227rem 34.752rem;
          width: 100%;
          border: solid 0.4rem #ff25a7;
          background-color: #444444;
          border-radius: 0.5rem;

          .icon-magnifying-glass-91T {
            width: 4.0098rem;
            height: 3.6809rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .item-123-T29 {
          box-sizing: border-box;
          width: 100%;
          display: flex;
          flex-direction: column;
          border: solid 0.1rem #000000;
          background-color: #292929;
          border-radius: 0.5rem;
          flex-shrink: 0;
          padding: 1.338rem 0rem 1.711rem 0rem;

          .item-123-Ax9 {
            font-weight: 500;
            font-family: Pixelroborobo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.0671rem;
            display: flex;
            font-size: 2rem;
            line-height: 1.2575;
            color: #ffffff;
          }
          .public-3-10-HWy {
            font-family: Pixelroborobo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2575;
            color: #d3d3d3;
          }
        }
        .item-42--PK7 {
          display: flex;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.338rem 0rem 1.711rem 0rem;
          width: 100%;
          flex-direction: column;
          border: solid 0.1rem #000000;
          background-color: #292929;

          .item-42--JBB {
            line-height: 1.2575;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.0671rem;
            display: flex;
            font-size: 2rem;
            font-weight: 500;
            color: #ffffff;
            font-family: Pixelroborobo, 'Source Sans Pro';
          }
          .public-1-10-bg5 {
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2575;
            color: #d3d3d3;
            font-family: Pixelroborobo, 'Source Sans Pro';
          }
        }
        .item--hz1 {
          flex-shrink: 0;
          padding: 1.461rem 0rem 1.711rem 0rem;
          display: flex;
          flex-direction: column;
          border: solid 0.1rem #000000;
          border-radius: 0.5rem;
          box-sizing: border-box;
          width: 100%;
          background-color: #292929;

          .item--pYq {
            font-size: 2rem;
            line-height: 1.2575;
            color: #ffffff;
            white-space: nowrap;
            margin-bottom: 1.9444rem;
            display: flex;
            font-weight: 500;
            font-family: Pixelroborobo, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .protected-9-10-wdT {
            font-weight: 500;
            line-height: 1.2575;
            color: #d3d3d3;
            font-family: Pixelroborobo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
          }
        }
        .item--T61 {
          box-sizing: border-box;
          width: 100%;
          flex-direction: column;
          background-color: #292929;
          flex-shrink: 0;
          padding: 1.461rem 0rem 1.711rem 0rem;
          display: flex;
          border: solid 0.1rem #000000;
          border-radius: 0.5rem;

          .item--xoT {
            flex-shrink: 0;
            display: flex;
            line-height: 1.2575;
            color: #ffffff;
            white-space: nowrap;
            margin-bottom: 1.9444rem;
            font-size: 2rem;
            font-weight: 500;
            font-family: Pixelroborobo, 'Source Sans Pro';
          }
          .protected-9-10-gUZ {
            line-height: 1.2575;
            color: #d3d3d3;
            font-family: Pixelroborobo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 500;
          }
        }
      }
    }
    .auto-group-i5ey-mku {
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #3effa2;
      flex-shrink: 0;
      width: 40rem;
      height: 100%;

      .item--iAM {
        display: flex;
        border: solid 0.1rem #000000;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        align-items: center;
        flex-direction: column;
        background-color: #292929;
        padding: 1.404rem 3.467rem 3.733rem 4.933rem;

        .item--pDP {
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0rem 1.467rem 2.019rem 0rem;
          width: 20rem;
          height: 16.2rem;
          object-fit: cover;
        }
        .item--W6D {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 7.5rem 3.78rem 7.267rem;
          width: calc(100% - 14.7667rem);
          align-items: center;

          .item--Czd {
            flex-shrink: 0;
            display: flex;
            font-size: 4rem;
            font-weight: 400;
            line-height: 1.2575;
            white-space: nowrap;
            margin: 0rem 1.233rem 0.213rem 0rem;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
          .auto-group-swbp-WEd {
            margin: 0rem 3.533rem 0.064rem 2.3rem;
            width: calc(100% - 5.8333rem);
            height: 8.1354rem;
            position: relative;
            flex-shrink: 0;

            .item--d4M {
              line-height: 1.2575;
              color: #ffffff;
              width: 9.5rem;
              height: 4.1rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              left: 0.6833rem;
              position: absolute;
              top: 4.0354rem;
              font-size: 3.2rem;
              font-family: ArcadeClassic, 'Source Sans Pro';
              white-space: nowrap;
            }
            .item--JAV {
              position: absolute;
              justify-content: center;
              font-weight: 400;
              line-height: 1.2575;
              top: 0;
              display: flex;
              align-items: center;
              color: #b0d276;
              font-family: ArcadeClassic, 'Source Sans Pro';
              width: 11rem;
              height: 4.1rem;
              left: 0;
              font-size: 3.2rem;
              white-space: nowrap;
            }
          }
          .auto-group-njgq-PBw {
            flex-shrink: 0;
            margin-left: 0.2333rem;
            width: 16.6rem;
            height: 7.9517rem;
            position: relative;

            .item--7td {
              position: absolute;
              font-family: ArcadeClassic, 'Source Sans Pro';
              font-size: 3.2rem;
              width: 16.6rem;
              height: 4.1rem;
              display: flex;
              left: 0;
              align-items: center;
              font-weight: 400;
              color: #ffffff;
              white-space: nowrap;
              top: 3.8517rem;
              justify-content: center;
              line-height: 1.2575;
            }
            .item--zSd {
              left: 2.45rem;
              white-space: nowrap;
              width: 10.1rem;
              position: absolute;
              font-weight: 400;
              height: 4.1rem;
              align-items: center;
              justify-content: center;
              line-height: 1.2575;
              font-family: ArcadeClassic, 'Source Sans Pro';
              top: 0;
              display: flex;
              font-size: 3.2rem;
              color: #ffffff;
            }
          }
        }
        .item--4xH {
          position: relative;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 100%;
          height: 5.4rem;

          .rectangle-27-bxD {
            height: 5.4rem;
            position: absolute;
            left: 0.1333rem;
            top: 0;
            border: solid 0.2rem #ff3333;
            box-sizing: border-box;
            border-radius: 0.5rem;
            width: 31.4667rem;
          }
          .edit-my-info-8SM {
            white-space: nowrap;
            font-size: 3rem;
            font-weight: 400;
            color: #ff3a3a;
            line-height: 1.2575;
            width: 14.9rem;
            position: absolute;
            justify-content: center;
            left: 8.35rem;
            display: flex;
            align-items: center;
            height: 3.8rem;
            top: 0.692rem;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
        }
      }
      .friends-a3T {
        box-sizing: border-box;
        padding-top: 0.1067rem;
        width: 100%;
        height: 54rem;
        overflow: hidden;
        position: relative;
        background-color: #ffffff;
        flex-shrink: 0;

        .item--u5j {
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #5f5f5f;
          box-sizing: border-box;
          padding-bottom: 1rem;
          width: 100%;
          height: 100%;

          .auto-group-nak3-RZs {
            margin-bottom: 1rem;
            width: 100%;
            height: 44.8933rem;
            position: relative;
            flex-shrink: 0;

            .channel-MTX {
              border: solid 0.1rem #000000;
              background-color: #d9d9d9;
              top: 0;
              justify-content: center;
              font-size: 2.4rem;
              font-weight: 400;
              left: 13.3333rem;
              line-height: 1.2575;
              font-family: ArcadeClassic, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              align-items: center;
              box-sizing: border-box;
              width: 13.3333rem;
              height: 5.336rem;
              display: flex;
              color: #000000;
            }
            .friends-LKT {
              width: 13.3333rem;
              top: 0;
              font-weight: 400;
              white-space: nowrap;
              box-sizing: border-box;
              background-color: #ffffff;
              left: 0;
              display: flex;
              justify-content: center;
              color: #000000;
              font-family: ArcadeClassic, 'Source Sans Pro';
              border: solid 0.1rem #000000;
              height: 5.336rem;
              position: absolute;
              align-items: center;
              font-size: 2.4rem;
              line-height: 1.2575;
            }
            .all-pEd {
              height: 5.336rem;
              color: #000000;
              white-space: nowrap;
              background-color: #d9d9d9;
              width: 13.3333rem;
              top: 0;
              align-items: center;
              justify-content: center;
              border: solid 0.1rem #000000;
              position: absolute;
              display: flex;
              font-family: ArcadeClassic, 'Source Sans Pro';
              left: 26.6667rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2575;
              box-sizing: border-box;
            }
            .item--tVP {
              top: 5.2933rem;
              background-color: #5e5e5e;
              height: 5.336rem;
              position: absolute;
              left: 0;
              border: solid 0.3rem #ff25a7;
              box-sizing: border-box;
              padding: 1.057rem 1.5rem 1.079rem 35.3rem;
              width: 40rem;

              .icon-magnifying-glass-o6Z {
                width: 3.2rem;
                height: 3.2rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .item--6rM {
              width: 40rem;
              height: 34.3rem;
              position: absolute;
              left: 0;
              top: 10.5933rem;
              overflow: hidden;
              background-color: rgba(255, 255, 255, 0.8000000119);

              .item-3-p1f {
                top: 0;
                border: solid 0.1rem #000000;
                background-color: #292929;
                border-radius: 0.5rem;
                width: 40rem;
                padding: 0rem 17.433rem 0rem 0.4rem;
                height: 8rem;
                position: absolute;
                left: 0;
                display: flex;
                align-items: flex-start;
                box-sizing: border-box;

                .image-1-hr9 {
                  margin-right: 0.4rem;
                  width: 9.0667rem;
                  height: 7.2222rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .seowokim-online-39K {
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-top: 0.6667rem;
                  max-width: 12.7rem;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2102272511;
                  color: #000000;

                  .seowokim-online-39K-sub-0 {
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: rgba(255, 255, 255, 0.8000000119);
                  }
                  .seowokim-online-39K-sub-1 {
                    line-height: 1.2575;
                    color: #000000;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                    font-weight: 400;
                  }
                  .seowokim-online-39K-sub-2 {
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #a6a6a6;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                  .seowokim-online-39K-sub-3 {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #7ecff2;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                }
              }
              .item--2J5 {
                width: 0.9rem;
                height: 15rem;
                left: 39.1rem;
                top: 7.2rem;
                position: absolute;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                background-color: rgba(255, 255, 255, 0.8000000119);
                border-radius: 2rem;
              }
            }
          }
          .item--6SM {
            border: solid 1rem #ff4264;
            background-color: #292929;
            flex-shrink: 0;
            margin: 0 1rem;
            box-sizing: border-box;
            padding-right: 1.4589rem;
            width: calc(100% - 2rem);
            align-items: center;
            height: 7rem;
            display: flex;

            .item--PwF {
              margin: 0rem 0.611rem 0.248rem 0rem;
              width: 7.125rem;
              height: 6.7522rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item--ueh {
              max-width: 13.9rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2102272511;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 10.834rem 0.05rem 0rem;

              .item--ueh-sub-0 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2575;
                color: rgba(255, 255, 255, 0.8000000119);
                font-family: ArcadeClassic, 'Source Sans Pro';
              }
              .item--ueh-sub-1 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #444444;
                font-family: ArcadeClassic, 'Source Sans Pro';
              }
              .item--ueh-sub-2 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: ArcadeClassic, 'Source Sans Pro';
              }
              .item--ueh-sub-3 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #7ecff2;
                font-family: ArcadeClassic, 'Source Sans Pro';
              }
            }
            .item--NKK {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0416rem;
              width: 4.0714rem;
              height: 3.3761rem;
              position: relative;
            }
          }
        }
      }
    }
  }
  .channellist-px1 {
    height: 49.2rem;
    position: absolute;
    left: 0.2039rem;
    top: 65.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #5f5f5f;
    width: 40.1961rem;

    .auto-group-8vb3-9Db {
      white-space: nowrap;
      display: flex;
      font-family: ArcadeClassic, 'Source Sans Pro';
      line-height: 1.2575;
      height: 5.1277rem;
      justify-content: center;
      font-size: 2.9rem;
      color: #000000;
      font-weight: 400;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      flex-shrink: 0;
      width: 100%;
      align-items: center;
    }
    .auto-group-rsmb-pKj {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.033rem 0rem 29.092rem 0.026rem;
      width: 100%;
      height: 44.0723rem;
      align-items: flex-end;

      .item-3-vtZ {
        box-sizing: border-box;
        height: 6.8811rem;
        align-items: center;
        margin-bottom: 0.258rem;
        padding: 0rem 0.83rem 0rem 0.397rem;
        display: flex;
        border: solid 0.1rem #000000;
        background-color: #292929;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .image-1-d2H {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.397rem 0.669rem 0rem;
          width: 8.9875rem;
          height: 6.2121rem;
        }
        .kiki-online-9WR {
          font-weight: 400;
          line-height: 1.2102272511;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.366rem 9.046rem 0rem 0rem;
          max-width: 6.5rem;
          font-size: 2.4rem;

          .kiki-online-9WR-sub-0 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(255, 255, 255, 0.8000000119);
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
          .kiki-online-9WR-sub-1 {
            font-family: ArcadeClassic, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
          }
          .kiki-online-9WR-sub-2 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #a6a6a6;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
          .kiki-online-9WR-sub-3 {
            font-weight: 400;
            line-height: 1.2575;
            color: #7ecff2;
            font-family: ArcadeClassic, 'Source Sans Pro';
            font-size: 2rem;
          }
        }
        .auto-group-wx1f-GN5 {
          margin: 0.344rem 0rem 0.342rem 0rem;
          width: 13.4937rem;
          height: calc(100% - 0.6864rem);
          position: relative;
          flex-shrink: 0;

          .item--PBo {
            width: 1.6rem;
            position: absolute;
            align-items: center;
            font-weight: 400;
            line-height: 1.2125;
            left: 6.6734rem;
            justify-content: center;
            white-space: nowrap;
            height: 3.1rem;
            top: 3.0948rem;
            font-size: 2.5rem;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            color: #000000;
          }
          .item--5aR {
            justify-content: center;
            position: absolute;
            left: 10.5082rem;
            top: 3.3948rem;
            display: flex;
            font-size: 2rem;
            font-family: Inter, 'Source Sans Pro';
            color: #000000;
            white-space: nowrap;
            width: 1.3rem;
            height: 2.5rem;
            align-items: center;
            font-weight: 400;
            line-height: 1.2125;
          }
          .group-102-xu7 {
            left: 0;
            width: 13.4937rem;
            position: absolute;
            top: 0;
            border: solid 0.3rem #ff25a7;
            font-weight: 400;
            white-space: nowrap;
            box-sizing: border-box;
            background-color: #292929;
            height: 3.2685rem;
            justify-content: center;
            font-size: 2.5rem;
            line-height: 1.2575;
            color: #ff25a7;
            font-family: ArcadeClassic, 'Source Sans Pro';
            border-radius: 1rem;
            display: flex;
            align-items: center;
          }
        }
      }
      .item--zL1 {
        width: calc(100% - 0.002rem);
        background-color: #292929;
        border-radius: 0.5rem;
        margin-right: 0.002rem;
        padding: 0.602rem 0rem 0.495rem 0rem;
        flex-direction: column;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;

        .auto-group-tbhb-GHX {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.828rem 0.342rem 0rem;
          width: calc(100% - 0.8283rem);
          height: 3.2685rem;

          .item--yxd {
            margin: 0rem 16.746rem 0.081rem 0rem;
            display: flex;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2575;
            font-family: Pixelroborobo, 'Source Sans Pro';
            color: #ffffff;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .group-103-faZ {
            font-family: ArcadeClassic, 'Source Sans Pro';
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #ff25a7;
            background-color: #292929;
            border-radius: 1rem;
            width: 13.4937rem;
            height: 100%;
            align-items: center;
            box-sizing: border-box;
            justify-content: center;
            display: flex;
            white-space: nowrap;
            border: solid 0.3rem #ff25a7;
            flex-shrink: 0;
          }
        }
        .auto-group-zxgd-wHB {
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .protected-9-10-gkZ {
            font-weight: 500;
            line-height: 1.2575;
            flex-shrink: 0;
            margin: 0rem 14.927rem 0.303rem 0rem;
            font-size: 1.6rem;
            color: #d3d3d3;
            font-family: Pixelroborobo, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
          }
          .item--o4V {
            display: flex;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2.2348rem;
            align-items: center;
            justify-content: center;
            font-size: 2.5rem;
            color: #000000;
          }
          .item--86m {
            flex-shrink: 0;
            justify-content: center;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            margin-top: 0.3441rem;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
