
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.matchingsucess-o2h {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 108rem;

  .layout-Who {
    width: 192rem;
    height: 108rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;

    .auto-group-fgsd-FQV {
      height: 100%;
      position: relative;
      flex-shrink: 0;
      width: 152rem;

      .item--axZ {
        width: 40rem;
        height: 108rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffce50;
      }
      .item--iYy {
        width: 112rem;
        height: 54rem;
        position: absolute;
        left: 40rem;
        top: 0;
        background-color: #ff37eb;
      }
      .item--473 {
        width: 112rem;
        height: 54rem;
        position: absolute;
        left: 40rem;
        top: 54rem;
        background-color: #5f95ff;
      }
      .item--BxM {
        display: flex;
        background-color: #414141;
        box-sizing: border-box;
        left: 40rem;
        align-items: center;
        position: absolute;
        top: 54rem;
        flex-direction: column;
        padding: 0.825rem 2rem 1.886rem 2rem;
        width: 112rem;
        height: 54rem;

        .auto-group-mvrm-4mF {
          margin: 0rem 0.667rem 1.297rem 0rem;
          width: calc(100% - 0.6667rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .icon-settings-z97 {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 96.667rem 0.43rem 0rem;
            width: 5.3333rem;
            height: 4.7573rem;
          }
          .userlistbutton-VLm {
            width: 5.3333rem;
            height: 4.7162rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-ku7b-DXf {
          box-sizing: border-box;
          padding: 1.824rem 2.133rem 1.769rem 2.667rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          border: solid 0.3rem #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;

          .newmessage-8ed {
            margin: 0rem 0.134rem 0.881rem 0.265rem;
            width: calc(100% - 0.3993rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .line-1-4YH {
              margin: 0.472rem 5.95rem 0rem 0rem;
              width: 40.0681rem;
              height: 0.5191rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .new-message-Zjw {
              justify-content: center;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffea2d;
              white-space: nowrap;
              margin-right: 6.0833rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              font-size: 2rem;
              font-family: Pixelroborobo, 'Source Sans Pro';
            }
            .line-2-gJm {
              margin-top: 0.2358rem;
              width: 39.3993rem;
              height: 0.2649rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .item-1-pA5 {
            width: calc(100% - 87.7069rem);
            height: 5.8952rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 87.44rem 0.472rem 0.267rem;

            .image-2-7ey {
              height: 5.8952rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.4rem;
              width: 8.8932rem;
            }
            .auto-group-kwwz-FWH {
              height: calc(100% - 1.7092rem);
              position: relative;
              flex-shrink: 0;
              margin: 0.907rem 0rem 0.802rem 0rem;
              width: 6.2rem;

              .seilee-NL1 {
                font-family: Pixelroborobo, 'Source Sans Pro';
                white-space: nowrap;
                position: absolute;
                font-weight: 500;
                line-height: 1.2575;
                color: #ffa7a7;
                font-size: 1.6rem;
                width: 6.2rem;
                height: 2.1rem;
                left: 0;
                top: 0;
              }
              .item-13-09-GwB {
                position: absolute;
                left: 0;
                top: 2.086rem;
                font-size: 1.6rem;
                white-space: nowrap;
                align-items: baseline;
                width: 4.6rem;
                height: 2.1rem;
                color: #ffffff;
                font-family: Pixelroborobo, 'Source Sans Pro';
                display: flex;
                font-weight: 500;
                line-height: 1.2575;

                .item-13-09-GwB-sub-0 {
                }
                .item-13-09-GwB-sub-1 {
                  font-size: 1rem;
                  font-weight: 500;
                  line-height: 1.2575;
                  color: #919191;
                  font-family: Pixelroborobo, 'Source Sans Pro';
                }
              }
            }
          }
          .item-2-Z37 {
            width: calc(100% - 88.3068rem);
            height: 5.8952rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 88.04rem 21.105rem 0.267rem;

            .image-2-4kZ {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.6rem;
              width: 8.8932rem;
              height: 5.8952rem;
            }
            .auto-group-w45p-Crm {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.635rem 0rem 0.802rem 0rem;
              height: calc(100% - 1.4371rem);

              .me-8VX {
                font-family: Pixelroborobo, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2581rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2575;
                color: #ffa7a7;
              }
              .item-13-10-TXo {
                font-size: 1.6rem;
                line-height: 1.2575;
                color: #ffffff;
                display: flex;
                align-items: baseline;
                flex-shrink: 0;
                font-weight: 500;
                font-family: Pixelroborobo, 'Source Sans Pro';
                white-space: nowrap;

                .item-13-10-TXo-sub-0 {
                }
                .item-13-10-TXo-sub-1 {
                  line-height: 1.2575;
                  color: #919191;
                  font-family: Pixelroborobo, 'Source Sans Pro';
                  font-size: 1rem;
                  font-weight: 500;
                }
              }
            }
          }
          .item--Rsw {
            width: 100%;
            height: 4.3625rem;
            display: flex;
            align-items: flex-end;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .item--Mmb {
              background-color: #ffffff;
              border-radius: 0.5rem;
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 90.8rem;
              height: 4.1266rem;
            }
            .item--sV3 {
              margin-bottom: 0rem;
              width: 11.2rem;
              height: calc(100% - 0rem);
              position: relative;
              border-radius: 0.5rem;
              flex-shrink: 0;

              .item--zpZ {
                left: 0;
                top: 0.1243rem;
                border: solid 0.3rem #35c2ff;
                box-sizing: border-box;
                border-radius: 0.5rem;
                width: 11.2rem;
                height: 4.2382rem;
                position: absolute;
              }
              .send-6Mo {
                top: 0.5691rem;
                font-size: 2.4rem;
                color: #35c2ff;
                position: absolute;
                left: 3.15rem;
                justify-content: center;
                font-weight: 500;
                line-height: 1.2575;
                font-family: Pixelroborobo, 'Source Sans Pro';
                white-space: nowrap;
                width: 4.9rem;
                height: 3.1rem;
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
      .item--8pH {
        display: flex;
        align-items: center;
        font-size: 3.6rem;
        font-weight: 500;
        background-color: #ff6060;
        height: 8.6rem;
        justify-content: center;
        line-height: 1.2575;
        color: #ffffff;
        box-sizing: border-box;
        width: 40rem;
        position: absolute;
        left: 0;
        font-family: Pixelroborobo, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 1.5rem;
        top: 0;
        border: solid 0.1rem #000000;
      }
      .all-WZw {
        top: 8.1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #5f5f5f;
        box-sizing: border-box;
        width: 40.098rem;
        position: absolute;
        padding-bottom: 0.2454rem;
        height: 57.3rem;
        left: 0.302rem;

        .auto-group-nt13-1Wh {
          width: 100%;
          height: 11.6563rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-20-kz5 {
            background-color: #ffffff;
            width: 40.098rem;
            height: 5.9719rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
          .channels-gcq {
            position: absolute;
            left: 13.4471rem;
            display: flex;
            line-height: 1.2575;
            width: 11.6rem;
            top: 1.136rem;
            font-weight: 400;
            font-family: ArcadeClassic, 'Source Sans Pro';
            justify-content: center;
            font-size: 2.9rem;
            color: #000000;
            white-space: nowrap;
            height: 3.7rem;
            align-items: center;
          }
          .channel-select-mPP {
            left: 0;
            top: 5.5214rem;
            display: flex;
            align-items: center;
            width: 40.098rem;
            height: 6.1349rem;
            position: absolute;

            .auto-group-9alz-hH3 {
              font-size: 2.9rem;
              font-weight: 400;
              white-space: nowrap;
              box-sizing: border-box;
              flex-shrink: 0;
              align-items: center;
              font-family: ArcadeClassic, 'Source Sans Pro';
              background-color: #ffffff;
              height: 100%;
              display: flex;
              justify-content: center;
              color: #000000;
              border: solid 0.1rem #000000;
              width: 20.049rem;
              line-height: 1.2575;
            }
            .group-82-AwK {
              justify-content: center;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 2.9rem;
              font-weight: 400;
              color: #000000;
              font-family: ArcadeClassic, 'Source Sans Pro';
              width: 20.049rem;
              background-color: #d7d7d7;
              border: solid 0.1rem #000000;
              align-items: center;
              line-height: 1.2575;
              box-sizing: border-box;
              height: 100%;
            }
          }
        }
        .auto-group-fwk1-TfX {
          margin-bottom: 0rem;
          width: 100%;
          height: 15.9507rem;
          position: relative;
          flex-shrink: 0;

          .search-panel-zvM {
            width: 40.098rem;
            height: 6.1349rem;
            background-color: #444444;
            box-sizing: border-box;
            padding: 1.227rem 1.337rem 1.227rem 34.752rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.4rem #ff25a7;
            border-radius: 0.5rem;

            .icon-magnifying-glass-Wdo {
              width: 4.0098rem;
              height: 3.6809rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item-123-cwj {
            box-sizing: border-box;
            padding: 1.338rem 0rem 1.711rem 0rem;
            height: 9.8158rem;
            position: absolute;
            top: 6.1349rem;
            width: 40.098rem;
            left: 0;
            border: solid 0.1rem #000000;
            background-color: #292929;
            border-radius: 0.5rem;

            .item-123-WXK {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 2.0671rem;
              display: flex;
            }
            .public-3-10-pnu {
              line-height: 1.2575;
              color: #d3d3d3;
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
            }
          }
        }
        .auto-group-qdpd-iNV {
          width: 100%;
          height: 19.6317rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 0rem;

          .item-42--fYd {
            background-color: #292929;
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding: 1.338rem 0rem 1.711rem 0rem;
            width: 40.098rem;
            top: 0;
            border: solid 0.1rem #000000;
            height: 9.8158rem;
            position: absolute;
            left: 0;

            .item-42--ka5 {
              line-height: 1.2575;
              color: #ffffff;
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 2.0671rem;
              display: flex;
              font-size: 2rem;
              font-weight: 500;
            }
            .public-1-10-3p5 {
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #d3d3d3;
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .item--YF3 {
            left: 0;
            top: 9.8158rem;
            border: solid 0.1rem #000000;
            border-radius: 0.5rem;
            padding: 1.461rem 0rem 1.711rem 0rem;
            height: 9.8158rem;
            position: absolute;
            background-color: #292929;
            box-sizing: border-box;
            width: 40.098rem;

            .item--3Bo {
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.9444rem;
              display: flex;
              font-size: 2rem;
            }
            .protected-9-10-ZR3 {
              white-space: nowrap;
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #d3d3d3;
              font-family: Pixelroborobo, 'Source Sans Pro';
            }
          }
        }
        .item--GKT {
          background-color: #292929;
          flex-shrink: 0;
          padding: 1.461rem 0rem 1.711rem 0rem;
          flex-direction: column;
          border: solid 0.1rem #000000;
          border-radius: 0.5rem;
          box-sizing: border-box;
          width: 100%;
          display: flex;

          .item--AQq {
            font-family: Pixelroborobo, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 1.9444rem;
            display: flex;
            font-size: 2rem;
            line-height: 1.2575;
            color: #ffffff;
            font-weight: 500;
            white-space: nowrap;
          }
          .protected-9-10-fcV {
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2575;
            color: #d3d3d3;
            font-family: Pixelroborobo, 'Source Sans Pro';
          }
        }
      }
      .item--MER {
        left: 40rem;
        top: 0.1rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        position: absolute;
        height: 54rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #000000;
        padding: 8.396rem 12.567rem 4.874rem 12.933rem;
        width: 112rem;

        .auto-group-y5a9-pth {
          margin: 0rem 15.833rem 10.308rem 0rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .user1img-kXT {
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin: 0rem 2.233rem 1.539rem 0rem;
            width: 20rem;
            height: 14.311rem;
          }
          .dohyulee-TRs {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            font-size: 2.8rem;
            font-weight: 400;
            line-height: 1.2575;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 2.233rem 0.693rem 0rem;
            justify-content: center;
            color: #ffffff;
          }
          .info2-ZE1 {
            margin-left: 2.9333rem;
            width: 19.3rem;
            height: 10.2784rem;
            position: relative;
            flex-shrink: 0;

            .item-30-Urm {
              top: 3.3392rem;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              left: 12.4667rem;
              justify-content: center;
              font-family: ArcadeClassic, 'Source Sans Pro';
              display: flex;
              align-items: center;
              white-space: nowrap;
              width: 2.8rem;
              height: 3.6rem;
              position: absolute;
            }
            .item-101-yHj {
              color: #ffffff;
              white-space: nowrap;
              width: 4.2rem;
              font-size: 2.8rem;
              line-height: 1.2575;
              position: absolute;
              font-weight: 400;
              top: 6.6784rem;
              align-items: center;
              justify-content: center;
              font-family: ArcadeClassic, 'Source Sans Pro';
              height: 3.6rem;
              left: 15.1rem;
              display: flex;
            }
            .item-30-Tih {
              font-weight: 400;
              width: 2.8rem;
              height: 3.6rem;
              position: absolute;
              left: 10.4667rem;
              top: 0;
              justify-content: center;
              display: flex;
              align-items: center;
              font-family: ArcadeClassic, 'Source Sans Pro';
              font-size: 2.8rem;
              line-height: 1.2575;
              color: #ffffff;
              white-space: nowrap;
            }
            .win--Mp5 {
              white-space: nowrap;
              font-weight: 400;
              font-family: ArcadeClassic, 'Source Sans Pro';
              display: flex;
              align-items: center;
              line-height: 1.2575;
              color: #ffffff;
              position: absolute;
              top: 0;
              left: 0;
              justify-content: center;
              font-size: 2.8rem;
              width: 7.2rem;
              height: 3.6rem;
            }
            .lose--g5f {
              left: 1.0333rem;
              justify-content: center;
              line-height: 1.2575;
              display: flex;
              font-size: 2.8rem;
              white-space: nowrap;
              color: #ffffff;
              font-family: ArcadeClassic, 'Source Sans Pro';
              width: 7.8rem;
              top: 3.3392rem;
              align-items: center;
              height: 3.6rem;
              position: absolute;
              font-weight: 400;
            }
            .ladder--mso {
              font-weight: 400;
              height: 3.6rem;
              left: 0.4833rem;
              top: 6.6784rem;
              line-height: 1.2575;
              color: #ffffff;
              width: 11.3rem;
              position: absolute;
              display: flex;
              font-size: 2.8rem;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              font-family: ArcadeClassic, 'Source Sans Pro';
            }
          }
        }
        .auto-group-pzvk-U1X {
          margin: 10.885rem 16.733rem 0rem 0rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .vs-c7j {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            line-height: 1.2575;
            color: #ae3e3e;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 5.6456rem;
            font-size: 9.6rem;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
          .item-3-LZX {
            display: flex;
            justify-content: center;
            font-weight: 400;
            white-space: nowrap;
            font-family: ArcadeClassic, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.1334rem;
            align-items: center;
            font-size: 9.6rem;
            line-height: 1.2575;
            color: #e3d97f;
          }
        }
        .auto-group-tjho-ycV {
          margin-bottom: 10.3083rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .user2img-7ih {
            margin: 0rem 1.7rem 1.539rem 0rem;
            width: 20rem;
            height: 14.311rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
          .sielee-EYR {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.8rem;
            color: #ffffff;
            font-family: ArcadeClassic, 'Source Sans Pro';
            margin: 0rem 1.7rem 0.693rem 0rem;
            font-weight: 400;
            line-height: 1.2575;
            white-space: nowrap;
          }
          .info1-LrM {
            margin-left: 2.4rem;
            width: 19.3rem;
            height: 10.2784rem;
            position: relative;
            flex-shrink: 0;

            .item-30-5J9 {
              height: 3.6rem;
              white-space: nowrap;
              justify-content: center;
              font-weight: 400;
              font-family: ArcadeClassic, 'Source Sans Pro';
              width: 2.8rem;
              align-items: center;
              display: flex;
              font-size: 2.8rem;
              position: absolute;
              left: 12.4667rem;
              color: #ffffff;
              top: 3.3392rem;
              line-height: 1.2575;
            }
            .item-101-Zz1 {
              left: 15.1rem;
              font-size: 2.8rem;
              line-height: 1.2575;
              width: 4.2rem;
              top: 6.6784rem;
              font-family: ArcadeClassic, 'Source Sans Pro';
              white-space: nowrap;
              color: #ffffff;
              height: 3.6rem;
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 400;
            }
            .item-30-U5P {
              height: 3.6rem;
              display: flex;
              align-items: center;
              white-space: nowrap;
              position: absolute;
              font-size: 2.8rem;
              font-weight: 400;
              line-height: 1.2575;
              width: 2.8rem;
              top: 0;
              left: 10.4667rem;
              justify-content: center;
              color: #ffffff;
              font-family: ArcadeClassic, 'Source Sans Pro';
            }
            .win--mqB {
              top: 0;
              justify-content: center;
              line-height: 1.2575;
              left: 0;
              height: 3.6rem;
              font-weight: 400;
              font-family: ArcadeClassic, 'Source Sans Pro';
              white-space: nowrap;
              width: 7.2rem;
              position: absolute;
              align-items: center;
              font-size: 2.8rem;
              color: #ffffff;
              display: flex;
            }
            .lose--J4R {
              display: flex;
              font-weight: 400;
              color: #ffffff;
              position: absolute;
              width: 7.8rem;
              left: 1.0333rem;
              align-items: center;
              justify-content: center;
              line-height: 1.2575;
              height: 3.6rem;
              font-size: 2.8rem;
              font-family: ArcadeClassic, 'Source Sans Pro';
              white-space: nowrap;
              top: 3.3392rem;
            }
            .ladder--QdF {
              align-items: center;
              font-weight: 400;
              width: 11.3rem;
              top: 6.6784rem;
              justify-content: center;
              color: #ffffff;
              white-space: nowrap;
              height: 3.6rem;
              position: absolute;
              display: flex;
              font-size: 2.8rem;
              line-height: 1.2575;
              left: 0.4833rem;
              font-family: ArcadeClassic, 'Source Sans Pro';
            }
          }
        }
      }
    }
    .auto-group-azyw-gKs {
      flex-shrink: 0;
      width: 40rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #3effa2;

      .item--dF7 {
        box-sizing: border-box;
        flex-direction: column;
        background-color: #292929;
        flex-shrink: 0;
        padding: 1.404rem 3.467rem 3.733rem 4.933rem;
        width: 100%;
        align-items: center;
        display: flex;
        border: solid 0.1rem #000000;
        border-radius: 0.5rem;

        .item--jZ3 {
          flex-shrink: 0;
          margin: 0rem 1.467rem 2.019rem 0rem;
          width: 20rem;
          height: 16.2rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
        .item--1mT {
          margin: 0rem 7.5rem 3.78rem 7.267rem;
          width: calc(100% - 14.7667rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--WiD {
            margin: 0rem 1.233rem 0.213rem 0rem;
            align-items: center;
            justify-content: center;
            line-height: 1.2575;
            color: #ffffff;
            font-family: ArcadeClassic, 'Source Sans Pro';
            display: flex;
            font-size: 4rem;
            font-weight: 400;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .auto-group-3eho-Qob {
            width: calc(100% - 5.8333rem);
            height: 8.1354rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 3.533rem 0.064rem 2.3rem;

            .item--KvZ {
              top: 4.0354rem;
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              white-space: nowrap;
              height: 4.1rem;
              position: absolute;
              display: flex;
              width: 9.5rem;
              left: 0.6833rem;
              justify-content: center;
              font-family: ArcadeClassic, 'Source Sans Pro';
              align-items: center;
            }
            .item--Qx1 {
              top: 0;
              display: flex;
              line-height: 1.2575;
              width: 11rem;
              height: 4.1rem;
              position: absolute;
              left: 0;
              align-items: center;
              font-size: 3.2rem;
              font-family: ArcadeClassic, 'Source Sans Pro';
              justify-content: center;
              font-weight: 400;
              color: #b0d276;
              white-space: nowrap;
            }
          }
          .auto-group-dcq7-iC1 {
            margin-left: 0.2333rem;
            width: 16.6rem;
            height: 7.9517rem;
            position: relative;
            flex-shrink: 0;

            .item--r3K {
              font-size: 3.2rem;
              font-family: ArcadeClassic, 'Source Sans Pro';
              width: 16.6rem;
              height: 4.1rem;
              position: absolute;
              align-items: center;
              font-weight: 400;
              top: 3.8517rem;
              line-height: 1.2575;
              color: #ffffff;
              white-space: nowrap;
              left: 0;
              display: flex;
              justify-content: center;
            }
            .item--Ywj {
              position: absolute;
              left: 2.45rem;
              top: 0;
              align-items: center;
              height: 4.1rem;
              display: flex;
              font-size: 3.2rem;
              font-family: ArcadeClassic, 'Source Sans Pro';
              white-space: nowrap;
              width: 10.1rem;
              justify-content: center;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
            }
          }
        }
        .item--qfw {
          flex-shrink: 0;
          width: 100%;
          height: 5.4rem;
          position: relative;
          border-radius: 0.5rem;

          .rectangle-27-z33 {
            height: 5.4rem;
            position: absolute;
            left: 0.1333rem;
            top: 0;
            border: solid 0.2rem #ff3333;
            box-sizing: border-box;
            border-radius: 0.5rem;
            width: 31.4667rem;
          }
          .edit-my-info-JpR {
            position: absolute;
            left: 8.35rem;
            top: 0.692rem;
            justify-content: center;
            line-height: 1.2575;
            color: #ff3a3a;
            height: 3.8rem;
            font-weight: 400;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 3rem;
            align-items: center;
            display: flex;
            width: 14.9rem;
          }
        }
      }
      .all-y9s {
        padding-top: 0.1067rem;
        width: 100%;
        height: 54rem;
        overflow: hidden;
        position: relative;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;

        .item--JT3 {
          box-sizing: border-box;
          padding-bottom: 1rem;
          width: 100%;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #5f5f5f;

          .auto-group-cesd-dkD {
            width: 100%;
            height: 44.8933rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 1rem;

            .channel-mbX {
              white-space: nowrap;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              width: 13.3333rem;
              font-weight: 400;
              color: #000000;
              height: 5.336rem;
              top: 0;
              line-height: 1.2575;
              background-color: #d9d9d9;
              position: absolute;
              font-size: 2.4rem;
              font-family: ArcadeClassic, 'Source Sans Pro';
              justify-content: center;
              left: 13.3333rem;
              display: flex;
              align-items: center;
            }
            .friends-2nM {
              height: 5.336rem;
              border: solid 0.1rem #000000;
              align-items: center;
              font-weight: 400;
              white-space: nowrap;
              box-sizing: border-box;
              top: 0;
              line-height: 1.2575;
              color: #000000;
              font-family: ArcadeClassic, 'Source Sans Pro';
              background-color: #d9d9d9;
              width: 13.3333rem;
              position: absolute;
              left: 0;
              display: flex;
              justify-content: center;
              font-size: 2.4rem;
            }
            .all-WSd {
              position: absolute;
              white-space: nowrap;
              height: 5.336rem;
              font-weight: 400;
              color: #000000;
              align-items: center;
              display: flex;
              font-size: 2.4rem;
              width: 13.3333rem;
              top: 0;
              justify-content: center;
              line-height: 1.2575;
              font-family: ArcadeClassic, 'Source Sans Pro';
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              background-color: #ffffff;
              left: 26.6667rem;
            }
            .item--n9F {
              height: 5.336rem;
              left: 0;
              top: 5.2933rem;
              border: solid 0.3rem #ff25a7;
              background-color: #5e5e5e;
              box-sizing: border-box;
              padding: 1.057rem 1.5rem 1.079rem 35.3rem;
              width: 40rem;
              position: absolute;

              .icon-magnifying-glass-HLu {
                height: 3.2rem;
                object-fit: contain;
                vertical-align: top;
                width: 3.2rem;
              }
            }
            .item--b6h {
              top: 10.5933rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              background-color: rgba(255, 255, 255, 0.8000000119);
              position: absolute;
              left: 0;
              overflow: hidden;
              width: 40rem;
              height: 34.3rem;

              .auto-group-wt5f-5Xf {
                width: 100%;
                height: 24rem;
                position: relative;
                flex-shrink: 0;

                .item-3-pEM {
                  border-radius: 0.5rem;
                  box-sizing: border-box;
                  width: 40rem;
                  border: solid 0.1rem #000000;
                  background-color: #292929;
                  top: 16rem;
                  display: flex;
                  align-items: flex-start;
                  padding: 0rem 17.433rem 0rem 0.4rem;
                  height: 8rem;
                  position: absolute;
                  left: 0;

                  .image-1-Wcy {
                    flex-shrink: 0;
                    margin-right: 0.4rem;
                    width: 9.0667rem;
                    height: 7.2222rem;
                    object-fit: cover;
                    vertical-align: top;
                  }
                  .seowokim-online-DGV {
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-top: 0.6667rem;
                    max-width: 12.7rem;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2102272511;

                    .seowokim-online-DGV-sub-0 {
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2575;
                      color: rgba(255, 255, 255, 0.8000000119);
                      font-family: ArcadeClassic, 'Source Sans Pro';
                    }
                    .seowokim-online-DGV-sub-1 {
                      color: #000000;
                      font-family: ArcadeClassic, 'Source Sans Pro';
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2575;
                    }
                    .seowokim-online-DGV-sub-2 {
                      font-family: ArcadeClassic, 'Source Sans Pro';
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2575;
                      color: #a6a6a6;
                    }
                    .seowokim-online-DGV-sub-3 {
                      color: #7ecff2;
                      font-family: ArcadeClassic, 'Source Sans Pro';
                      font-size: 2rem;
                      font-weight: 400;
                      line-height: 1.2575;
                    }
                  }
                }
                .item-2-onR {
                  box-sizing: border-box;
                  width: 40rem;
                  height: 8rem;
                  top: 8rem;
                  align-items: flex-start;
                  border-radius: 0.5rem;
                  padding: 0rem 20.333rem 0rem 0.4rem;
                  position: absolute;
                  left: 0;
                  display: flex;
                  border: solid 0.1rem #000000;
                  background-color: #292929;

                  .image-1-HSh {
                    margin-right: 0.4rem;
                    width: 9.0667rem;
                    height: 7.2222rem;
                    object-fit: cover;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .sielee-in-game-1db {
                    flex-shrink: 0;
                    margin-top: 0.6667rem;
                    max-width: 9.8rem;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2102272511;
                    color: #ffffff;
                    font-family: Inter, 'Source Sans Pro';

                    .sielee-in-game-1db-sub-0 {
                      color: rgba(255, 255, 255, 0.8000000119);
                      font-family: ArcadeClassic, 'Source Sans Pro';
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2575;
                    }
                    .sielee-in-game-1db-sub-1 {
                      color: rgba(255, 255, 255, 0.8000000119);
                      font-family: ArcadeClassic, 'Source Sans Pro';
                      font-size: 2rem;
                      font-weight: 400;
                      line-height: 1.2575;
                    }
                    .sielee-in-game-1db-sub-2 {
                      line-height: 1.2575;
                      color: #b0d276;
                      font-family: ArcadeClassic, 'Source Sans Pro';
                      font-size: 2rem;
                      font-weight: 400;
                    }
                  }
                }
                .item-1-AoK {
                  padding: 0rem 19.8rem 0rem 0.4rem;
                  height: 8rem;
                  position: absolute;
                  display: flex;
                  border: solid 0.1rem #000000;
                  border-radius: 0.5rem;
                  box-sizing: border-box;
                  width: 40rem;
                  left: 0;
                  top: 0;
                  align-items: flex-start;
                  background-color: #292929;

                  .image-1-UZ7 {
                    width: 9.0667rem;
                    height: 7.2222rem;
                    object-fit: cover;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 0.4333rem;
                  }
                  .junoh-offline-DWh {
                    color: #000000;
                    font-family: Inter, 'Source Sans Pro';
                    flex-shrink: 0;
                    margin-top: 0.7rem;
                    max-width: 10.3rem;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2102272511;

                    .junoh-offline-DWh-sub-0 {
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2575;
                      color: rgba(255, 255, 255, 0.8000000119);
                      font-family: ArcadeClassic, 'Source Sans Pro';
                    }
                    .junoh-offline-DWh-sub-1 {
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2575;
                      color: #444444;
                      font-family: ArcadeClassic, 'Source Sans Pro';
                    }
                    .junoh-offline-DWh-sub-2 {
                      font-size: 2.4rem;
                      font-weight: 400;
                      line-height: 1.2575;
                      color: #000000;
                      font-family: ArcadeClassic, 'Source Sans Pro';
                    }
                    .junoh-offline-DWh-sub-3 {
                      font-size: 2rem;
                      font-weight: 400;
                      line-height: 1.2575;
                      color: #a6a6a6;
                      font-family: ArcadeClassic, 'Source Sans Pro';
                    }
                  }
                }
                .item--gx1 {
                  border: solid 0.1rem #000000;
                  box-sizing: border-box;
                  background-color: rgba(255, 255, 255, 0.8000000119);
                  border-radius: 2rem;
                  width: 0.9rem;
                  position: absolute;
                  left: 39.1rem;
                  height: 15rem;
                  top: 7.2rem;
                }
              }
              .item-5-yRK {
                box-sizing: border-box;
                padding: 0rem 16.933rem 0rem 0.4rem;
                align-items: flex-start;
                background-color: #292929;
                flex-shrink: 0;
                width: 100%;
                height: 8rem;
                display: flex;
                border: solid 0.1rem #000000;
                border-radius: 0.5rem;

                .image-1-toB {
                  width: 9.0667rem;
                  height: 7.2222rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.4rem;
                }
                .hahahoho-in-game-RYD {
                  max-width: 13.2rem;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2102272511;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-top: 0.6667rem;

                  .hahahoho-in-game-RYD-sub-0 {
                    font-weight: 400;
                    line-height: 1.2575;
                    color: rgba(255, 255, 255, 0.8000000119);
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                  }
                  .hahahoho-in-game-RYD-sub-1 {
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: rgba(255, 255, 255, 0.8000000119);
                  }
                  .hahahoho-in-game-RYD-sub-2 {
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #b0d276;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2rem;
                  }
                }
              }
              .item-4-xa5 {
                box-sizing: border-box;
                height: 8rem;
                align-items: flex-start;
                border-radius: 0.5rem;
                flex-shrink: 0;
                padding: 0rem 12.533rem 0rem 0.4rem;
                width: 100%;
                display: flex;
                border: solid 0.1rem #000000;
                background-color: #292929;

                .image-1-UoK {
                  height: 7.2222rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.4rem;
                  width: 9.0667rem;
                }
                .seodong-online-Dku {
                  margin-top: 0.6667rem;
                  font-size: 2.4rem;
                  white-space: nowrap;
                  align-items: baseline;
                  flex-shrink: 0;
                  font-weight: 400;
                  line-height: 1.2102272511;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  display: flex;

                  .seodong-online-Dku-sub-0 {
                    font-weight: 400;
                    line-height: 1.2575;
                    color: rgba(255, 255, 255, 0.8000000119);
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                  }
                  .seodong-online-Dku-sub-1 {
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #000000;
                  }
                  .seodong-online-Dku-sub-2 {
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #a6a6a6;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                  .seodong-online-Dku-sub-3 {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #7ecff2;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                }
              }
              .item-6-KL5 {
                box-sizing: border-box;
                padding: 0rem 14.4rem 0rem 0.4rem;
                width: 100%;
                align-items: flex-start;
                background-color: #292929;
                display: flex;
                border: solid 0.1rem #000000;
                border-radius: 0.5rem;
                flex-shrink: 0;

                .image-1-qpD {
                  width: 9.0667rem;
                  height: 7.2222rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.4333rem;
                }
                .junoh-offline-BdB {
                  font-weight: 400;
                  line-height: 1.2102272511;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                  display: flex;
                  align-items: baseline;
                  margin-top: 0.7rem;
                  font-size: 2.4rem;
                  flex-shrink: 0;
                  color: #000000;

                  .junoh-offline-BdB-sub-0 {
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: rgba(255, 255, 255, 0.8000000119);
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                  .junoh-offline-BdB-sub-1 {
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #444444;
                  }
                  .junoh-offline-BdB-sub-2 {
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #000000;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                  .junoh-offline-BdB-sub-3 {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #a6a6a6;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                }
              }
            }
          }
          .item--ogV {
            margin: 0 1rem;
            display: flex;
            border: solid 1rem #ff4264;
            flex-shrink: 0;
            align-items: center;
            background-color: #292929;
            box-sizing: border-box;
            padding-right: 1.459rem;
            width: calc(100% - 2rem);
            height: 7rem;

            .item--Und {
              margin: 0rem 0.611rem 0.248rem 0rem;
              width: 7.125rem;
              height: 6.7522rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item--BS9 {
              margin: 0rem 10.834rem 0.05rem 0rem;
              max-width: 13.9rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2102272511;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;

              .item--BS9-sub-0 {
                color: rgba(255, 255, 255, 0.8000000119);
                font-family: ArcadeClassic, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2575;
              }
              .item--BS9-sub-1 {
                line-height: 1.2575;
                color: #444444;
                font-family: ArcadeClassic, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 400;
              }
              .item--BS9-sub-2 {
                font-family: ArcadeClassic, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
              }
              .item--BS9-sub-3 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #7ecff2;
                font-family: ArcadeClassic, 'Source Sans Pro';
              }
            }
            .item--Fiq {
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0416rem;
              width: 4.0714rem;
              height: 3.3761rem;
              position: relative;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
  .channellist-6UZ {
    height: 49.2rem;
    left: 0.2039rem;
    flex-direction: column;
    width: 40.1961rem;
    top: 65.4rem;
    align-items: center;
    display: flex;
    background-color: #5f5f5f;
    position: absolute;

    .auto-group-qpob-cho {
      display: flex;
      white-space: nowrap;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      height: 5.1277rem;
      color: #000000;
      font-family: ArcadeClassic, 'Source Sans Pro';
      font-size: 2.9rem;
      background-color: #ffffff;
      width: 100%;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      line-height: 1.2575;
      flex-shrink: 0;
    }
    .auto-group-onzo-6cy {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.033rem 0rem 29.092rem 0.026rem;
      width: 100%;
      height: 44.0723rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .item-3-cLR {
        display: flex;
        align-items: center;
        margin-bottom: 0.258rem;
        padding: 0rem 0.83rem 0rem 0.397rem;
        height: 6.8811rem;
        border: solid 0.1rem #000000;
        background-color: #292929;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .image-1-WRo {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.396rem 0.669rem 0rem;
          width: 8.9875rem;
          height: 6.2121rem;
          object-fit: cover;
        }
        .kiki-online-Dr1 {
          margin: 0.366rem 9.046rem 0rem 0rem;
          max-width: 6.5rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2102272511;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;

          .kiki-online-Dr1-sub-0 {
            line-height: 1.2575;
            color: rgba(255, 255, 255, 0.8000000119);
            font-family: ArcadeClassic, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
          }
          .kiki-online-Dr1-sub-1 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
          .kiki-online-Dr1-sub-2 {
            font-family: ArcadeClassic, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #a6a6a6;
          }
          .kiki-online-Dr1-sub-3 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #7ecff2;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
        }
        .auto-group-x4qw-w3F {
          margin: 0.344rem 0rem 0.342rem 0rem;
          width: 13.4937rem;
          height: calc(100% - 0.6864rem);
          position: relative;
          flex-shrink: 0;

          .item--FJq {
            line-height: 1.2125;
            width: 1.6rem;
            height: 3.1rem;
            font-size: 2.5rem;
            font-weight: 400;
            color: #000000;
            position: absolute;
            top: 3.0948rem;
            display: flex;
            align-items: center;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            left: 6.6734rem;
            justify-content: center;
          }
          .item--99K {
            height: 2.5rem;
            color: #000000;
            line-height: 1.2125;
            white-space: nowrap;
            left: 10.5082rem;
            font-size: 2rem;
            font-weight: 400;
            width: 1.3rem;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 3.3948rem;
            display: flex;
          }
          .group-102-ERf {
            top: 0;
            display: flex;
            white-space: nowrap;
            box-sizing: border-box;
            font-weight: 400;
            line-height: 1.2575;
            border: solid 0.3rem #ff25a7;
            border-radius: 1rem;
            height: 3.2685rem;
            left: 0;
            justify-content: center;
            font-size: 2.5rem;
            color: #ff25a7;
            background-color: #292929;
            width: 13.4937rem;
            position: absolute;
            align-items: center;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
        }
      }
      .item--eVP {
        box-sizing: border-box;
        width: calc(100% - 0.0021rem);
        display: flex;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 0.0021rem;
        padding: 0.602rem 0rem 0.495rem 0rem;
        flex-direction: column;
        border: solid 0.1rem #000000;
        background-color: #292929;

        .auto-group-xver-KrR {
          height: 3.2685rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.828rem 0.342rem 0rem;
          width: calc(100% - 0.8283rem);

          .item--eNu {
            color: #ffffff;
            font-family: Pixelroborobo, 'Source Sans Pro';
            display: flex;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2575;
            margin: 0rem 16.746rem 0.081rem 0rem;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .group-103-Kzq {
            background-color: #292929;
            justify-content: center;
            white-space: nowrap;
            border: solid 0.3rem #ff25a7;
            box-sizing: border-box;
            height: 100%;
            font-family: ArcadeClassic, 'Source Sans Pro';
            display: flex;
            font-size: 2.5rem;
            color: #ff25a7;
            flex-shrink: 0;
            border-radius: 1rem;
            width: 13.4937rem;
            align-items: center;
            font-weight: 400;
            line-height: 1.2575;
          }
        }
        .auto-group-w2uf-CHw {
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .protected-9-10-YMo {
            margin: 0rem 14.927rem 0.303rem 0rem;
            font-weight: 500;
            font-family: Pixelroborobo, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
            line-height: 1.2575;
            color: #d3d3d3;
            white-space: nowrap;
          }
          .item--e9w {
            align-items: center;
            font-weight: 400;
            flex-shrink: 0;
            margin-right: 2.2348rem;
            display: flex;
            justify-content: center;
            font-size: 2.5rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item--kyf {
            justify-content: center;
            line-height: 1.2125;
            color: #000000;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.3441rem;
            display: flex;
            align-items: center;
            font-size: 2rem;
          }
        }
      }
    }
  }
}
