
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.matching-5m3 {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .layout-Q2d {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 192rem;
    height: 108rem;

    .auto-group-iyhx-8jK {
      width: 152rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .item--sgu {
        width: 40rem;
        height: 108rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffce50;
      }
      .item--oKf {
        width: 112rem;
        height: 54rem;
        position: absolute;
        left: 40rem;
        top: 0;
        background-color: #ff37eb;
      }
      .item--8cq {
        width: 112rem;
        height: 54rem;
        position: absolute;
        left: 40rem;
        top: 54rem;
        background-color: #5f95ff;
      }
      .item--fMs {
        background-color: #414141;
        box-sizing: border-box;
        padding: 0.825rem 2rem 1.886rem 2rem;
        width: 112rem;
        position: absolute;
        align-items: center;
        flex-direction: column;
        height: 54rem;
        left: 40rem;
        top: 54rem;
        display: flex;

        .auto-group-4pcm-waH {
          width: calc(100% - 0.6667rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 0.667rem 1.297rem 0rem;

          .icon-settings-eUh {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 96.667rem 0.43rem 0rem;
            width: 5.3333rem;
            height: 4.7573rem;
            position: relative;
            object-fit: contain;
          }
          .userlistbutton-wyb {
            height: 4.7162rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            width: 5.3333rem;
          }
        }
        .auto-group-3xjz-gAV {
          display: flex;
          flex-direction: column;
          border: solid 0.3rem #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.824rem 2.133rem 1.769rem 2.667rem;
          width: 100%;

          .newmessage-zBB {
            flex-shrink: 0;
            margin: 0rem 0.134rem 0.881rem 0.265rem;
            width: calc(100% - 0.3993rem);
            display: flex;
            align-items: center;

            .line-1-uow {
              height: 0.5191rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.472rem 5.95rem 0rem 0rem;
              width: 40.0681rem;
            }
            .new-message-pvu {
              line-height: 1.2575;
              color: #ffea2d;
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              font-size: 2rem;
              font-weight: 500;
              margin-right: 6.0833rem;
              display: flex;
              flex-shrink: 0;
            }
            .line-2-LeM {
              margin-top: 0.2358rem;
              width: 39.3993rem;
              height: 0.2649rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .item-1-seH {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 87.44rem 0.472rem 0.267rem;
            width: calc(100% - 87.7069rem);
            height: 5.8952rem;

            .image-2-BQ5 {
              height: 5.8952rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.4rem;
              width: 8.8932rem;
            }
            .auto-group-1owy-vMf {
              margin: 0.907rem 0rem 0.802rem 0rem;
              width: 6.2rem;
              height: calc(100% - 1.7092rem);
              position: relative;
              flex-shrink: 0;

              .seilee-S57 {
                color: #ffa7a7;
                font-family: Pixelroborobo, 'Source Sans Pro';
                height: 2.1rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2575;
                white-space: nowrap;
                width: 6.2rem;
                position: absolute;
                left: 0;
                top: 0;
              }
              .item-13-09-wXf {
                height: 2.1rem;
                position: absolute;
                left: 0;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2575;
                display: flex;
                width: 4.6rem;
                align-items: baseline;
                color: #ffffff;
                font-family: Pixelroborobo, 'Source Sans Pro';
                white-space: nowrap;
                top: 2.086rem;

                .item-13-09-wXf-sub-0 {
                }
                .item-13-09-wXf-sub-1 {
                  line-height: 1.2575;
                  color: #919191;
                  font-family: Pixelroborobo, 'Source Sans Pro';
                  font-size: 1rem;
                  font-weight: 500;
                }
              }
            }
          }
          .item-2-Ddb {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 88.04rem 21.105rem 0.267rem;
            width: calc(100% - 88.3068rem);
            height: 5.8952rem;
            display: flex;

            .image-2-vnu {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.6rem;
              width: 8.8932rem;
              height: 5.8952rem;
            }
            .auto-group-wl17-Tnq {
              margin: 0.635rem 0rem 0.802rem 0rem;
              height: calc(100% - 1.4371rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .me-CEd {
                flex-shrink: 0;
                margin-bottom: 0.2581rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2575;
                color: #ffa7a7;
                font-family: Pixelroborobo, 'Source Sans Pro';
                white-space: nowrap;
              }
              .item-13-10-X21 {
                white-space: nowrap;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2575;
                color: #ffffff;
                font-family: Pixelroborobo, 'Source Sans Pro';
                display: flex;
                align-items: baseline;
                flex-shrink: 0;

                .item-13-10-X21-sub-0 {
                }
                .item-13-10-X21-sub-1 {
                  font-weight: 500;
                  line-height: 1.2575;
                  color: #919191;
                  font-family: Pixelroborobo, 'Source Sans Pro';
                  font-size: 1rem;
                }
              }
            }
          }
          .item--5Bw {
            display: flex;
            align-items: flex-end;
            border-radius: 0.5rem;
            flex-shrink: 0;
            width: 100%;
            height: 4.3625rem;

            .item--QED {
              flex-shrink: 0;
              margin-right: 1.2rem;
              width: 90.8rem;
              height: 4.1266rem;
              background-color: #ffffff;
              border-radius: 0.5rem;
            }
            .item--vCZ {
              margin-bottom: 0rem;
              width: 11.2rem;
              height: calc(100% - 0rem);
              position: relative;
              border-radius: 0.5rem;
              flex-shrink: 0;

              .item--qqK {
                left: 0;
                top: 0.1243rem;
                border: solid 0.3rem #35c2ff;
                box-sizing: border-box;
                border-radius: 0.5rem;
                width: 11.2rem;
                height: 4.2382rem;
                position: absolute;
              }
              .send-w7f {
                line-height: 1.2575;
                width: 4.9rem;
                position: absolute;
                display: flex;
                align-items: center;
                font-size: 2.4rem;
                color: #35c2ff;
                font-family: Pixelroborobo, 'Source Sans Pro';
                font-weight: 500;
                white-space: nowrap;
                height: 3.1rem;
                left: 3.15rem;
                top: 0.5691rem;
                justify-content: center;
              }
            }
          }
        }
      }
      .item--ZPw {
        justify-content: center;
        border: solid 0.1rem #000000;
        display: flex;
        line-height: 1.2575;
        border-radius: 1.5rem;
        height: 8.6rem;
        top: 0;
        white-space: nowrap;
        background-color: #ff6060;
        align-items: center;
        font-size: 3.6rem;
        left: 0;
        font-weight: 500;
        color: #ffffff;
        font-family: Pixelroborobo, 'Source Sans Pro';
        box-sizing: border-box;
        width: 40rem;
        position: absolute;
      }
      .all-Cho {
        display: flex;
        flex-direction: column;
        background-color: #5f5f5f;
        box-sizing: border-box;
        width: 40.098rem;
        left: 0.302rem;
        top: 8.1rem;
        padding-bottom: 0.2454rem;
        height: 57.3rem;
        position: absolute;
        align-items: center;

        .auto-group-tkxf-JVw {
          position: relative;
          flex-shrink: 0;
          width: 100%;
          height: 11.6563rem;

          .rectangle-20-3yK {
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 40.098rem;
            height: 5.9719rem;
            position: absolute;
          }
          .channels-aTT {
            left: 13.4471rem;
            font-size: 2.9rem;
            height: 3.7rem;
            top: 1.136rem;
            color: #000000;
            font-family: ArcadeClassic, 'Source Sans Pro';
            position: absolute;
            font-weight: 400;
            line-height: 1.2575;
            width: 11.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
          }
          .channel-select-Gr5 {
            width: 40.098rem;
            height: 6.1349rem;
            position: absolute;
            left: 0;
            top: 5.5214rem;
            display: flex;
            align-items: center;

            .auto-group-he3j-QhP {
              white-space: nowrap;
              box-sizing: border-box;
              background-color: #ffffff;
              display: flex;
              align-items: center;
              line-height: 1.2575;
              justify-content: center;
              font-weight: 400;
              color: #000000;
              border: solid 0.1rem #000000;
              width: 20.049rem;
              height: 100%;
              flex-shrink: 0;
              font-size: 2.9rem;
              font-family: ArcadeClassic, 'Source Sans Pro';
            }
            .group-82-HFP {
              line-height: 1.2575;
              white-space: nowrap;
              justify-content: center;
              font-size: 2.9rem;
              border: solid 0.1rem #000000;
              font-weight: 400;
              color: #000000;
              flex-shrink: 0;
              height: 100%;
              font-family: ArcadeClassic, 'Source Sans Pro';
              align-items: center;
              box-sizing: border-box;
              background-color: #d7d7d7;
              width: 20.049rem;
              display: flex;
            }
          }
        }
        .auto-group-ip1k-xcR {
          margin-bottom: 0rem;
          width: 100%;
          height: 15.9507rem;
          position: relative;
          flex-shrink: 0;

          .search-panel-ha1 {
            width: 40.098rem;
            height: 6.1349rem;
            left: 0;
            top: 0;
            border: solid 0.4rem #ff25a7;
            background-color: #444444;
            border-radius: 0.5rem;
            box-sizing: border-box;
            position: absolute;
            padding: 1.227rem 1.337rem 1.227rem 34.752rem;

            .icon-magnifying-glass-QjK {
              vertical-align: top;
              width: 4.0098rem;
              height: 3.6809rem;
              object-fit: contain;
            }
          }
          .item-123-WnM {
            box-sizing: border-box;
            position: absolute;
            top: 6.1349rem;
            border: solid 0.1rem #000000;
            border-radius: 0.5rem;
            padding: 1.338rem 0rem 1.711rem 0rem;
            width: 40.098rem;
            height: 9.8158rem;
            left: 0;
            background-color: #292929;

            .item-123-c4h {
              white-space: nowrap;
              margin-bottom: 2.0671rem;
              display: flex;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Pixelroborobo, 'Source Sans Pro';
            }
            .public-3-10-KUu {
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #d3d3d3;
            }
          }
        }
        .auto-group-k6wk-D4V {
          margin-bottom: 0rem;
          width: 100%;
          height: 19.6317rem;
          position: relative;
          flex-shrink: 0;

          .item-42--MgV {
            left: 0;
            background-color: #292929;
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding: 1.338rem 0rem 1.711rem 0rem;
            width: 40.098rem;
            position: absolute;
            height: 9.8158rem;
            top: 0;
            border: solid 0.1rem #000000;

            .item-42--Sxq {
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 2.0671rem;
              display: flex;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
            }
            .public-1-10-kCq {
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #d3d3d3;
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .item--eJD {
            position: absolute;
            border-radius: 0.5rem;
            padding: 1.461rem 0rem 1.711rem 0rem;
            width: 40.098rem;
            left: 0;
            top: 9.8158rem;
            border: solid 0.1rem #000000;
            background-color: #292929;
            box-sizing: border-box;
            height: 9.8158rem;

            .item--jqT {
              color: #ffffff;
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.9444rem;
              display: flex;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2575;
            }
            .protected-9-10-rv5 {
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #d3d3d3;
            }
          }
        }
        .item--m1T {
          box-sizing: border-box;
          padding: 1.461rem 0rem 1.711rem 0rem;
          border: solid 0.1rem #000000;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #292929;

          .item--eqw {
            font-family: Pixelroborobo, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.9444rem;
            display: flex;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2575;
            color: #ffffff;
            flex-shrink: 0;
          }
          .protected-9-10-kty {
            font-weight: 500;
            line-height: 1.2575;
            color: #d3d3d3;
            font-family: Pixelroborobo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
          }
        }
      }
      .item--ejT {
        width: 112rem;
        height: 54rem;
        position: absolute;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        padding: 8.396rem 12.767rem 4.6rem 12.933rem;
        left: 40rem;
        top: 0.1rem;
        display: flex;
        background-color: #000000;
        box-sizing: border-box;

        .auto-group-wird-7sw {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 5.633rem 10.582rem 0rem;
          align-items: center;
          display: flex;

          .user1img-qZ3 {
            margin: 0rem 1.7rem 1.539rem 0rem;
            width: 20rem;
            height: 14.311rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.5rem;
            flex-shrink: 0;
          }
          .dohyulee-93w {
            margin: 0rem 1.7rem 0.693rem 0rem;
            line-height: 1.2575;
            flex-shrink: 0;
            color: #ffffff;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.8rem;
            font-weight: 400;
          }
          .info-qhT {
            flex-shrink: 0;
            margin-left: 2.4rem;
            width: 19.3rem;
            height: 10.2784rem;
            position: relative;

            .item-30-aQ9 {
              left: 12.4667rem;
              display: flex;
              align-items: center;
              font-size: 2.8rem;
              font-weight: 400;
              white-space: nowrap;
              width: 2.8rem;
              color: #ffffff;
              font-family: ArcadeClassic, 'Source Sans Pro';
              top: 3.3392rem;
              height: 3.6rem;
              position: absolute;
              justify-content: center;
              line-height: 1.2575;
            }
            .item-101-G25 {
              left: 15.1rem;
              display: flex;
              align-items: center;
              font-size: 2.8rem;
              line-height: 1.2575;
              top: 6.6784rem;
              font-weight: 400;
              width: 4.2rem;
              justify-content: center;
              font-family: ArcadeClassic, 'Source Sans Pro';
              white-space: nowrap;
              height: 3.6rem;
              position: absolute;
              color: #ffffff;
            }
            .item-30-YkH {
              display: flex;
              height: 3.6rem;
              position: absolute;
              left: 10.4667rem;
              align-items: center;
              justify-content: center;
              font-weight: 400;
              line-height: 1.2575;
              color: #ffffff;
              font-family: ArcadeClassic, 'Source Sans Pro';
              width: 2.8rem;
              top: 0;
              font-size: 2.8rem;
              white-space: nowrap;
            }
            .win--FPo {
              position: absolute;
              font-size: 2.8rem;
              height: 3.6rem;
              align-items: center;
              justify-content: center;
              line-height: 1.2575;
              font-family: ArcadeClassic, 'Source Sans Pro';
              white-space: nowrap;
              left: 0;
              top: 0;
              font-weight: 400;
              width: 7.2rem;
              color: #ffffff;
              display: flex;
            }
            .lose--9zy {
              font-weight: 400;
              font-family: ArcadeClassic, 'Source Sans Pro';
              white-space: nowrap;
              height: 3.6rem;
              font-size: 2.8rem;
              top: 3.3392rem;
              line-height: 1.2575;
              width: 7.8rem;
              position: absolute;
              color: #ffffff;
              left: 1.0333rem;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .ladder--GJu {
              position: absolute;
              top: 6.6784rem;
              display: flex;
              height: 3.6rem;
              justify-content: center;
              line-height: 1.2575;
              color: #ffffff;
              width: 11.3rem;
              align-items: center;
              font-size: 2.8rem;
              font-weight: 400;
              font-family: ArcadeClassic, 'Source Sans Pro';
              left: 0.4833rem;
              white-space: nowrap;
            }
          }
        }
        .auto-group-vbv1-wR3 {
          margin: 10.885rem 10.033rem 0rem 0rem;
          width: 31.2rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .vs-Fgd {
            font-size: 9.6rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
            line-height: 1.2575;
            color: #ae3e3e;
            font-family: ArcadeClassic, 'Source Sans Pro';
            margin: 0rem 0rem 10.789rem 0.267rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .auto-group-6tsr-kdP {
            width: 100%;
            height: 7.2304rem;
            position: relative;
            flex-shrink: 0;

            .giveup-hoX {
              position: absolute;
              left: 0;
              top: 0;
              background-color: #db5050;
              border-radius: 4rem;
              width: 31.2rem;
              height: 6.583rem;
              cursor: pointer;
            }
            .give-up-1ZK {
              top: 0.9304rem;
              white-space: nowrap;
              width: 16.7rem;
              left: 6.2333rem;
              font-size: 5rem;
              font-weight: 400;
              line-height: 1.2575;
              color: #f3f0d4;
              font-family: ArcadeClassic, 'Source Sans Pro';
              height: 6.3rem;
              position: absolute;
            }
          }
        }
        .item--TgD {
          width: 17.7333rem;
          height: 11.6396rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 23.9562rem;
        }
      }
    }
    .auto-group-kfyv-UrD {
      flex-shrink: 0;
      width: 40rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #3effa2;

      .item--CnD {
        box-sizing: border-box;
        padding: 1.404rem 3.467rem 3.733rem 4.933rem;
        align-items: center;
        border: solid 0.1rem #000000;
        background-color: #292929;
        margin-right: 0rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: calc(100% - 0rem);

        .item--TTF {
          height: 16.2rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0rem 1.467rem 2.019rem 0rem;
          width: 20rem;
        }
        .item--hMb {
          margin: 0rem 7.5rem 3.78rem 7.267rem;
          width: calc(100% - 14.7667rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item--qMK {
            display: flex;
            justify-content: center;
            font-weight: 400;
            flex-shrink: 0;
            margin: 0rem 1.233rem 0.213rem 0rem;
            font-size: 4rem;
            line-height: 1.2575;
            color: #ffffff;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
          }
          .auto-group-1j5f-vdf {
            flex-shrink: 0;
            margin: 0rem 3.533rem 0.064rem 2.3rem;
            width: calc(100% - 5.8333rem);
            height: 8.1354rem;
            position: relative;

            .item--Sc1 {
              position: absolute;
              align-items: center;
              height: 4.1rem;
              color: #ffffff;
              white-space: nowrap;
              left: 0.6833rem;
              display: flex;
              justify-content: center;
              font-size: 3.2rem;
              line-height: 1.2575;
              width: 9.5rem;
              top: 4.0354rem;
              font-weight: 400;
              font-family: ArcadeClassic, 'Source Sans Pro';
            }
            .item--LBb {
              color: #b0d276;
              width: 11rem;
              top: 0;
              display: flex;
              justify-content: center;
              line-height: 1.2575;
              font-family: ArcadeClassic, 'Source Sans Pro';
              height: 4.1rem;
              position: absolute;
              left: 0;
              font-size: 3.2rem;
              align-items: center;
              font-weight: 400;
              white-space: nowrap;
            }
          }
          .auto-group-9fmb-2KK {
            height: 7.9517rem;
            position: relative;
            flex-shrink: 0;
            margin-left: 0.2333rem;
            width: 16.6rem;

            .item--N8H {
              align-items: center;
              color: #ffffff;
              font-family: ArcadeClassic, 'Source Sans Pro';
              width: 16.6rem;
              display: flex;
              line-height: 1.2575;
              left: 0;
              justify-content: center;
              white-space: nowrap;
              height: 4.1rem;
              font-weight: 400;
              font-size: 3.2rem;
              position: absolute;
              top: 3.8517rem;
            }
            .item--f7P {
              justify-content: center;
              color: #ffffff;
              width: 10.1rem;
              position: absolute;
              font-size: 3.2rem;
              font-family: ArcadeClassic, 'Source Sans Pro';
              left: 2.45rem;
              top: 0;
              white-space: nowrap;
              height: 4.1rem;
              font-weight: 400;
              line-height: 1.2575;
              display: flex;
              align-items: center;
            }
          }
        }
        .item--LDX {
          height: 5.4rem;
          position: relative;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 100%;

          .rectangle-27-sUM {
            border-radius: 0.5rem;
            width: 31.4667rem;
            height: 5.4rem;
            position: absolute;
            left: 0.1333rem;
            top: 0;
            border: solid 0.2rem #ff3333;
            box-sizing: border-box;
          }
          .edit-my-info-bQM {
            top: 0.692rem;
            font-size: 3rem;
            font-weight: 400;
            font-family: ArcadeClassic, 'Source Sans Pro';
            left: 8.35rem;
            position: absolute;
            align-items: center;
            white-space: nowrap;
            height: 3.8rem;
            width: 14.9rem;
            justify-content: center;
            line-height: 1.2575;
            color: #ff3a3a;
            display: flex;
          }
        }
      }
      .all-ReH {
        height: 54rem;
        overflow: hidden;
        position: relative;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-top: 0.1067rem;
        width: 100%;

        .item--kRf {
          height: 100%;
          position: relative;
          background-color: #5f5f5f;
          width: 100%;

          .channel-Geu {
            display: flex;
            align-items: center;
            color: #000000;
            white-space: nowrap;
            border: solid 0.1rem #000000;
            background-color: #d9d9d9;
            width: 13.3333rem;
            position: absolute;
            left: 13.3333rem;
            justify-content: center;
            font-size: 2.4rem;
            font-weight: 400;
            top: 0;
            height: 5.336rem;
            line-height: 1.2575;
            font-family: ArcadeClassic, 'Source Sans Pro';
            box-sizing: border-box;
          }
          .friends-jHb {
            line-height: 1.2575;
            white-space: nowrap;
            border: solid 0.1rem #000000;
            height: 5.336rem;
            font-size: 2.4rem;
            box-sizing: border-box;
            background-color: #d9d9d9;
            width: 13.3333rem;
            color: #000000;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            position: absolute;
            left: 0;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
          .all-zDX {
            left: 26.6667rem;
            align-items: center;
            background-color: #ffffff;
            color: #000000;
            white-space: nowrap;
            width: 13.3333rem;
            height: 5.336rem;
            position: absolute;
            display: flex;
            font-weight: 400;
            line-height: 1.2575;
            border: solid 0.1rem #000000;
            top: 0;
            font-size: 2.4rem;
            font-family: ArcadeClassic, 'Source Sans Pro';
            box-sizing: border-box;
            justify-content: center;
          }
          .item--fKf {
            height: 7rem;
            position: absolute;
            left: 1rem;
            top: 45.8933rem;
            display: flex;
            border: solid 1rem #ff4264;
            background-color: #292929;
            box-sizing: border-box;
            width: 38rem;
            align-items: center;
            padding-right: 1.4589rem;

            .item--MCV {
              margin: 0rem 0.611rem 0.248rem 0rem;
              width: 7.125rem;
              height: 6.7522rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item--4Mo {
              flex-shrink: 0;
              margin: 0rem 10.834rem 0.05rem 0rem;
              max-width: 13.9rem;
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2102272511;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';

              .item--4Mo-sub-0 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2575;
                color: rgba(255, 255, 255, 0.8000000119);
                font-family: ArcadeClassic, 'Source Sans Pro';
              }
              .item--4Mo-sub-1 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #444444;
                font-family: ArcadeClassic, 'Source Sans Pro';
              }
              .item--4Mo-sub-2 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: ArcadeClassic, 'Source Sans Pro';
              }
              .item--4Mo-sub-3 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #7ecff2;
                font-family: ArcadeClassic, 'Source Sans Pro';
              }
            }
            .item--TAy {
              margin-top: 0.0416rem;
              width: 4.0714rem;
              height: 3.3761rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .item--kA5 {
            padding: 1.057rem 1.5rem 1.079rem 35.3rem;
            width: 40rem;
            height: 5.336rem;
            position: absolute;
            border: solid 0.3rem #ff25a7;
            box-sizing: border-box;
            top: 5.2933rem;
            background-color: #5e5e5e;
            left: 0;

            .icon-magnifying-glass-SYh {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item--k3b {
            background-color: rgba(255, 255, 255, 0.8000000119);
            width: 40rem;
            height: 34.3rem;
            flex-direction: column;
            overflow: hidden;
            align-items: center;
            display: flex;
            position: absolute;
            left: 0;
            top: 10.5933rem;

            .auto-group-xaxh-EUZ {
              width: 100%;
              height: 24rem;
              position: relative;
              flex-shrink: 0;

              .item-3-aYR {
                top: 16rem;
                align-items: flex-start;
                background-color: #292929;
                box-sizing: border-box;
                padding: 0rem 17.433rem 0rem 0.4rem;
                position: absolute;
                display: flex;
                border: solid 0.1rem #000000;
                border-radius: 0.5rem;
                width: 40rem;
                height: 8rem;
                left: 0;

                .image-1-fpm {
                  width: 9.0667rem;
                  height: 7.2222rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.4rem;
                }
                .seowokim-online-QGZ {
                  max-width: 12.7rem;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2102272511;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-top: 0.6667rem;

                  .seowokim-online-QGZ-sub-0 {
                    color: rgba(255, 255, 255, 0.8000000119);
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                  }
                  .seowokim-online-QGZ-sub-1 {
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #000000;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                  .seowokim-online-QGZ-sub-2 {
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #a6a6a6;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                  .seowokim-online-QGZ-sub-3 {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #7ecff2;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                }
              }
              .item-2-shs {
                padding: 0rem 20.333rem 0rem 0.4rem;
                height: 8rem;
                align-items: flex-start;
                border-radius: 0.5rem;
                box-sizing: border-box;
                position: absolute;
                left: 0;
                top: 8rem;
                display: flex;
                border: solid 0.1rem #000000;
                background-color: #292929;
                width: 40rem;

                .image-1-n49 {
                  width: 9.0667rem;
                  height: 7.2222rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.4rem;
                }
                .sielee-in-game-K45 {
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-top: 0.6667rem;
                  max-width: 9.8rem;
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2102272511;

                  .sielee-in-game-K45-sub-0 {
                    color: rgba(255, 255, 255, 0.8000000119);
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                  }
                  .sielee-in-game-K45-sub-1 {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: rgba(255, 255, 255, 0.8000000119);
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                  .sielee-in-game-K45-sub-2 {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #b0d276;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                }
              }
              .item-1-43b {
                width: 40rem;
                top: 0;
                align-items: flex-start;
                border: solid 0.1rem #000000;
                background-color: #292929;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 0rem 19.8rem 0rem 0.4rem;
                height: 8rem;
                position: absolute;
                left: 0;
                display: flex;

                .image-1-kSD {
                  width: 9.0667rem;
                  height: 7.2222rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.4333rem;
                }
                .junoh-offline-5zH {
                  font-weight: 400;
                  line-height: 1.2102272511;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  max-width: 10.3rem;
                  font-size: 2.4rem;

                  .junoh-offline-5zH-sub-0 {
                    line-height: 1.2575;
                    color: rgba(255, 255, 255, 0.8000000119);
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                    font-weight: 400;
                  }
                  .junoh-offline-5zH-sub-1 {
                    color: #444444;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                  }
                  .junoh-offline-5zH-sub-2 {
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #000000;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                  }
                  .junoh-offline-5zH-sub-3 {
                    color: #a6a6a6;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.2575;
                  }
                }
              }
              .item--CL9 {
                height: 15rem;
                box-sizing: border-box;
                border-radius: 2rem;
                top: 7.2rem;
                border: solid 0.1rem #000000;
                background-color: rgba(255, 255, 255, 0.8000000119);
                width: 0.9rem;
                position: absolute;
                left: 39.1rem;
              }
            }
            .item-5-fjX {
              padding: 0rem 16.933rem 0rem 0.4rem;
              width: 100%;
              height: 8rem;
              border: solid 0.1rem #000000;
              flex-shrink: 0;
              box-sizing: border-box;
              display: flex;
              align-items: flex-start;
              background-color: #292929;
              border-radius: 0.5rem;

              .image-1-P9j {
                height: 7.2222rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.4rem;
                width: 9.0667rem;
              }
              .hahahoho-in-game-JnV {
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-top: 0.6667rem;
                max-width: 13.2rem;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2102272511;

                .hahahoho-in-game-JnV-sub-0 {
                  font-weight: 400;
                  line-height: 1.2575;
                  color: rgba(255, 255, 255, 0.8000000119);
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  font-size: 2.4rem;
                }
                .hahahoho-in-game-JnV-sub-1 {
                  line-height: 1.2575;
                  color: rgba(255, 255, 255, 0.8000000119);
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 400;
                }
                .hahahoho-in-game-JnV-sub-2 {
                  line-height: 1.2575;
                  color: #b0d276;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 400;
                }
              }
            }
            .item-4-gRf {
              padding: 0rem 12.533rem 0rem 0.4rem;
              height: 8rem;
              align-items: flex-start;
              border: solid 0.1rem #000000;
              box-sizing: border-box;
              width: 100%;
              display: flex;
              background-color: #292929;
              border-radius: 0.5rem;
              flex-shrink: 0;

              .image-1-Q6m {
                flex-shrink: 0;
                margin-right: 0.4rem;
                width: 9.0667rem;
                height: 7.2222rem;
                object-fit: cover;
                vertical-align: top;
              }
              .seodong-online-LFK {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2102272511;
                color: #000000;
                display: flex;
                flex-shrink: 0;
                margin-top: 0.6667rem;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                align-items: baseline;

                .seodong-online-LFK-sub-0 {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: rgba(255, 255, 255, 0.8000000119);
                  font-family: ArcadeClassic, 'Source Sans Pro';
                }
                .seodong-online-LFK-sub-1 {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                }
                .seodong-online-LFK-sub-2 {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #a6a6a6;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                }
                .seodong-online-LFK-sub-3 {
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #7ecff2;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  font-size: 2rem;
                }
              }
            }
            .item-6-EdX {
              box-sizing: border-box;
              padding: 0rem 14.4rem 0rem 0.4rem;
              display: flex;
              border-radius: 0.5rem;
              flex-shrink: 0;
              width: 100%;
              align-items: flex-start;
              border: solid 0.1rem #000000;
              background-color: #292929;

              .image-1-xpR {
                flex-shrink: 0;
                margin-right: 0.4333rem;
                width: 9.0667rem;
                height: 7.2222rem;
                object-fit: cover;
                vertical-align: top;
              }
              .junoh-offline-txy {
                color: #000000;
                white-space: nowrap;
                display: flex;
                align-items: baseline;
                margin-top: 0.7rem;
                font-size: 2.4rem;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                font-weight: 400;
                line-height: 1.2102272511;

                .junoh-offline-txy-sub-0 {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: rgba(255, 255, 255, 0.8000000119);
                  font-family: ArcadeClassic, 'Source Sans Pro';
                }
                .junoh-offline-txy-sub-1 {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #444444;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                }
                .junoh-offline-txy-sub-2 {
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  font-size: 2.4rem;
                }
                .junoh-offline-txy-sub-3 {
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #a6a6a6;
                }
              }
            }
          }
        }
      }
    }
  }
  .channellist-b8d {
    background-color: #5f5f5f;
    width: 40.1961rem;
    height: 49.2rem;
    position: absolute;
    top: 65.4rem;
    align-items: center;
    display: flex;
    left: 0.2039rem;
    flex-direction: column;

    .auto-group-fhjx-iDF {
      width: 100%;
      align-items: center;
      flex-shrink: 0;
      white-space: nowrap;
      box-sizing: border-box;
      background-color: #ffffff;
      font-size: 2.9rem;
      font-weight: 400;
      line-height: 1.2575;
      font-family: ArcadeClassic, 'Source Sans Pro';
      border: solid 0.1rem #000000;
      height: 5.1277rem;
      display: flex;
      justify-content: center;
      color: #000000;
    }
    .auto-group-qqm3-nyo {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.033rem 0rem 29.092rem 0.026rem;
      width: 100%;
      height: 44.0723rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .item-3-WQ1 {
        padding: 0rem 0.83rem 0rem 0.397rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #000000;
        border-radius: 0.5rem;
        margin-bottom: 0.258rem;
        box-sizing: border-box;
        height: 6.8811rem;
        background-color: #292929;
        flex-shrink: 0;

        .image-1-QVP {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.397rem 0.669rem 0rem;
          width: 8.9875rem;
          height: 6.2121rem;
          object-fit: cover;
        }
        .kiki-online-vid {
          line-height: 1.2102272511;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.366rem 9.046rem 0rem 0rem;
          max-width: 6.5rem;
          font-size: 2.4rem;
          font-weight: 400;

          .kiki-online-vid-sub-0 {
            font-family: ArcadeClassic, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: rgba(255, 255, 255, 0.8000000119);
          }
          .kiki-online-vid-sub-1 {
            line-height: 1.2575;
            color: #000000;
            font-family: ArcadeClassic, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
          }
          .kiki-online-vid-sub-2 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #a6a6a6;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
          .kiki-online-vid-sub-3 {
            font-family: ArcadeClassic, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #7ecff2;
          }
        }
        .auto-group-wxgv-svh {
          height: calc(100% - 0.6864rem);
          position: relative;
          flex-shrink: 0;
          margin: 0.344rem 0rem 0.342rem 0rem;
          width: 13.4937rem;

          .item--Ci5 {
            justify-content: center;
            font-size: 2.5rem;
            color: #000000;
            white-space: nowrap;
            width: 1.6rem;
            position: absolute;
            top: 3.0948rem;
            font-family: Inter, 'Source Sans Pro';
            height: 3.1rem;
            left: 6.6734rem;
            align-items: center;
            line-height: 1.2125;
            display: flex;
            font-weight: 400;
          }
          .item--Vx5 {
            justify-content: center;
            white-space: nowrap;
            left: 10.5082rem;
            align-items: center;
            top: 3.3948rem;
            font-size: 2rem;
            width: 1.3rem;
            height: 2.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            position: absolute;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
          }
          .group-102-bVK {
            left: 0;
            align-items: center;
            font-size: 2.5rem;
            border: solid 0.3rem #ff25a7;
            background-color: #292929;
            width: 13.4937rem;
            border-radius: 1rem;
            justify-content: center;
            display: flex;
            color: #ff25a7;
            font-family: ArcadeClassic, 'Source Sans Pro';
            top: 0;
            position: absolute;
            font-weight: 400;
            line-height: 1.2575;
            white-space: nowrap;
            box-sizing: border-box;
            height: 3.2685rem;
          }
        }
      }
      .item--bdj {
        border-radius: 0.5rem;
        box-sizing: border-box;
        flex-direction: column;
        background-color: #292929;
        display: flex;
        border: solid 0.1rem #000000;
        flex-shrink: 0;
        margin-right: 0.002rem;
        padding: 0.602rem 0rem 0.495rem 0rem;
        width: calc(100% - 0.002rem);

        .auto-group-ozs9-Q5P {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.828rem 0.342rem 0rem;
          width: calc(100% - 0.8284rem);
          height: 3.2685rem;
          display: flex;

          .item--ibs {
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            display: flex;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Pixelroborobo, 'Source Sans Pro';
            margin: 0rem 16.746rem 0.081rem 0rem;
          }
          .group-103-1L5 {
            white-space: nowrap;
            border: solid 0.3rem #ff25a7;
            background-color: #292929;
            width: 13.4937rem;
            height: 100%;
            align-items: center;
            box-sizing: border-box;
            font-weight: 400;
            line-height: 1.2575;
            font-family: ArcadeClassic, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            border-radius: 1rem;
            font-size: 2.5rem;
            color: #ff25a7;
          }
        }
        .auto-group-m6gy-gSD {
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .protected-9-10-Reh {
            font-size: 1.6rem;
            font-weight: 500;
            font-family: Pixelroborobo, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 14.927rem 0.303rem 0rem;
            display: flex;
            line-height: 1.2575;
            color: #d3d3d3;
            flex-shrink: 0;
          }
          .item--Kk5 {
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            font-size: 2.5rem;
            color: #000000;
            white-space: nowrap;
            margin-right: 2.2348rem;
            align-items: center;
            font-weight: 400;
          }
          .item--eGZ {
            font-size: 2rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.3441rem;
          }
        }
      }
    }
  }
}
