
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.start-92h {
  width: 100%;
  height: 102.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #aca5ac;

  .frame-1-sDb {
    width: 10rem;
    height: 10rem;
    position: absolute;
    left: 67.1rem;
    top: 36.3rem;
    overflow: hidden;
  }
  .union-14u {
    vertical-align: top;
    width: 19.8rem;
    height: 20.2rem;
    position: absolute;
    left: 7.3rem;
    top: 64.9rem;
    object-fit: contain;
  }
  .centre-Lcy {
    width: 7rem;
    background-color: #8f2c58;
    border-radius: 3.5rem;
    top: 71.5rem;
    border: solid 0.3rem #000000;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    height: 7rem;
    position: absolute;
    left: 13.7rem;
  }
  .select-ReR {
    box-sizing: border-box;
    background-color: #7e787e;
    width: 14.1892rem;
    border: solid 0.3rem #000000;
    left: 55.4rem;
    top: 85.1rem;
    border-radius: 123.4rem;
    height: 9.4045rem;
    position: absolute;
  }
  .start-jQD {
    position: absolute;
    left: 73rem;
    top: 85.1rem;
    box-sizing: border-box;
    background-color: #7e787e;
    width: 14.1892rem;
    height: 9.4045rem;
    border: solid 0.3rem #000000;
    border-radius: 123.4rem;
  }
  .b-button-SpR {
    height: 10.5rem;
    left: 117rem;
    top: 75.4rem;
    box-sizing: border-box;
    border-radius: 5.25rem;
    width: 10.5rem;
    position: absolute;
    border: solid 0.3rem #000000;
    background-color: #8f2c58;
  }
  .a-button-AEd {
    top: 64.9rem;
    position: absolute;
    height: 10.5rem;
    left: 126.2rem;
    border: solid 0.3rem #000000;
    box-sizing: border-box;
    background-color: #8f2c58;
    border-radius: 5.25rem;
    width: 10.5rem;
  }
  .select-seq {
    font-size: 3rem;
    text-transform: uppercase;
    color: #464084;
    white-space: nowrap;
    top: 91.3296rem;
    align-items: center;
    position: absolute;
    letter-spacing: 0.3rem;
    left: 58.1102rem;
    font-weight: 600;
    font-family: Poppins, 'Source Sans Pro';
    width: 12.3rem;
    height: 4.5rem;
    line-height: 1.5;
    font-style: italic;
    display: flex;
    justify-content: center;
  }
  .b-wub {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    left: 123.8247rem;
    line-height: 1.5;
    white-space: nowrap;
    width: 2.3rem;
    position: absolute;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    font-style: italic;
    text-transform: uppercase;
    top: 84.7686rem;
    color: #464084;
    font-family: Poppins, 'Source Sans Pro';
  }
  .a-3Sq {
    display: flex;
    letter-spacing: 0.3rem;
    font-style: italic;
    position: absolute;
    left: 134.474rem;
    top: 74.955rem;
    white-space: nowrap;
    width: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Poppins, 'Source Sans Pro';
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 1.5;
    color: #464084;
    height: 4.5rem;
  }
  .start-YeV {
    display: flex;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    font-style: italic;
    left: 76.4102rem;
    font-weight: 600;
    font-family: Poppins, 'Source Sans Pro';
    width: 10.9rem;
    position: absolute;
    justify-content: center;
    text-transform: uppercase;
    height: 4.5rem;
    top: 91.3296rem;
    align-items: center;
    line-height: 1.5;
    color: #464084;
    white-space: nowrap;
  }
  .game-login-background-Sjs {
    border: solid 0.2rem #000000;
    background-color: rgba(44, 18, 65, 0.2599999905);
    box-sizing: border-box;
    padding: 2.2rem 6.9rem 2.9rem 6.6rem;
    width: 97.5rem;
    height: 61.7rem;
    position: absolute;
    left: 23.4rem;
    top: 3.7rem;

    .item--YY1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: solid 0.5rem #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      padding: 9.95rem 19.4rem 20.95rem 14.6rem;
      height: 100%;
      align-items: center;
      background-color: #859e5a;
      box-sizing: border-box;

      .login-logo-3jf {
        flex-shrink: 0;
        margin-bottom: 5.8625rem;
        width: 100%;
        height: 13.5375rem;
        position: relative;

        .cmyk-offset-additive-glow-bWH {
          top: 0.3125rem;
          filter: blur(1.2rem);
          opacity: 0.5;
          width: 50rem;
          height: 13.225rem;
          position: absolute;
          left: 0;

          .retro-7Dj {
            position: absolute;
            letter-spacing: 1rem;
            font-size: 10rem;
            line-height: 1.2575;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            color: #ff5abd;
            font-family: ArcadeClassic, 'Source Sans Pro';
            font-weight: 400;
            text-transform: uppercase;
            width: 46.6rem;
            height: 12.6rem;
            left: 2.2911rem;
            top: 0;
            align-items: center;
          }
          .retro-b-b8u {
            line-height: 1.2575;
            box-shadow: -0.4rem 0 1.6rem #022aff;
            justify-content: center;
            font-weight: 400;
            letter-spacing: 1rem;
            font-family: ArcadeClassic, 'Source Sans Pro';
            height: 12.6rem;
            left: 0;
            top: 0;
            font-size: 10rem;
            color: #3964ff;
            white-space: nowrap;
            width: 49.0099rem;
            position: absolute;
            display: flex;
            align-items: center;
            text-transform: uppercase;
          }
          .retro-y-GVw {
            position: absolute;
            display: flex;
            align-items: center;
            font-size: 10rem;
            font-weight: 400;
            width: 49.0099rem;
            height: 12.6rem;
            left: 0.8251rem;
            white-space: nowrap;
            justify-content: center;
            line-height: 1.2575;
            letter-spacing: 1rem;
            color: #edff1e;
            box-shadow: 0.2rem 0 0.8rem rgba(255, 255, 46, 0.6000000238);
            top: 0.3125rem;
            text-transform: uppercase;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
          .retro-c-XAy {
            height: 12.6rem;
            display: flex;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 1rem;
            width: 49.0099rem;
            font-family: ArcadeClassic, 'Source Sans Pro';
            top: 0.625rem;
            text-transform: uppercase;
            white-space: nowrap;
            left: 0.495rem;
            align-items: center;
            justify-content: center;
            font-size: 10rem;
            color: #8a7d7d;
            box-shadow: 0 0.2rem 0.4rem rgba(90, 255, 245, 0.25);
            position: absolute;
          }
          .login-af3 {
            font-weight: 400;
            left: 1.466rem;
            justify-content: center;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            width: 46.6rem;
            font-size: 10rem;
            line-height: 1.2575;
            text-transform: uppercase;
            position: absolute;
            align-items: center;
            display: flex;
            letter-spacing: 1rem;
            height: 12.6rem;
            top: 0.2083rem;
          }
        }
        .cmyk-offset-s8M {
          top: 0;
          width: 49.835rem;
          height: 13.225rem;
          position: absolute;
          left: 0;

          .retro-QPB {
            height: 12.6rem;
            top: 0;
            width: 46.6rem;
            display: flex;
            font-weight: 400;
            left: 2.2911rem;
            text-transform: uppercase;
            white-space: nowrap;
            font-family: ArcadeClassic, 'Source Sans Pro';
            position: absolute;
            align-items: center;
            justify-content: center;
            font-size: 10rem;
            line-height: 1.2575;
            letter-spacing: 1rem;
            color: #ff5abd;
          }
          .retro-b-u53 {
            top: 0;
            text-transform: uppercase;
            font-family: ArcadeClassic, 'Source Sans Pro';
            font-size: 10rem;
            font-weight: 400;
            line-height: 1.2575;
            letter-spacing: 1rem;
            box-shadow: -0.4rem 0 1.6rem #022aff;
            height: 12.6rem;
            position: absolute;
            color: #3964ff;
            white-space: nowrap;
            width: 49.0099rem;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .retro-y-BHT {
            left: 0.8251rem;
            font-size: 10rem;
            width: 49.0099rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #edff1e;
            font-family: ArcadeClassic, 'Source Sans Pro';
            justify-content: center;
            display: flex;
            white-space: nowrap;
            box-shadow: 0.2rem 0 0.8rem rgba(255, 255, 46, 0.6000000238);
            height: 12.6rem;
            top: 0.3125rem;
            align-items: center;
            letter-spacing: 1rem;
            text-transform: uppercase;
            position: absolute;
          }
          .retro-c-3aZ {
            height: 12.6rem;
            font-size: 10rem;
            color: #8a7d7d;
            box-shadow: 0 0.2rem 0.4rem rgba(90, 255, 245, 0.25);
            left: 0.495rem;
            align-items: center;
            font-weight: 400;
            width: 49.0099rem;
            display: flex;
            line-height: 1.2575;
            text-transform: uppercase;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            top: 0.625rem;
            justify-content: center;
            letter-spacing: 1rem;
          }
          .retro-VhT {
            white-space: nowrap;
            width: 46.6rem;
            display: flex;
            justify-content: center;
            font-weight: 400;
            text-transform: uppercase;
            height: 12.6rem;
            position: absolute;
            top: 0.2083rem;
            letter-spacing: 1rem;
            left: 1.466rem;
            align-items: center;
            line-height: 1.2575;
            font-size: 10rem;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
        }
      }
      .press-any-key-z8R {
        white-space: nowrap;
        display: flex;
        font-weight: 500;
        letter-spacing: 0.5rem;
        font-family: Pixelroborobo, 'Source Sans Pro';
        line-height: 1.2575;
        text-transform: uppercase;
        color: #ffffff;
        flex-shrink: 0;
        margin-left: 5.1rem;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
      }
    }
  }
}
