
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.matching-E2M {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .layout-M6y {
    width: 192rem;
    height: 108rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;

    .auto-group-vitb-ftM {
      width: 152rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .item--CNV {
        height: 108rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffce50;
        width: 40rem;
      }
      .item--81F {
        width: 112rem;
        height: 54rem;
        position: absolute;
        left: 40rem;
        top: 0;
        background-color: #ff37eb;
      }
      .item--TJR {
        height: 54rem;
        position: absolute;
        left: 40rem;
        top: 54rem;
        background-color: #5f95ff;
        width: 112rem;
      }
      .item--PC5 {
        flex-direction: column;
        height: 54rem;
        position: absolute;
        left: 40rem;
        align-items: center;
        display: flex;
        background-color: #414141;
        box-sizing: border-box;
        padding: 0.825rem 2rem 1.886rem 2rem;
        width: 112rem;
        top: 54rem;

        .auto-group-kjdb-Txd {
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;
          margin: 0rem 0.667rem 1.297rem 0rem;
          width: calc(100% - 0.6667rem);

          .icon-settings-P5b {
            width: 5.3333rem;
            height: 4.7573rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 96.667rem 0.43rem 0rem;
          }
          .userlistbutton-gKb {
            width: 5.3333rem;
            height: 4.7162rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-yulh-Coj {
          padding: 1.824rem 2.133rem 1.769rem 2.667rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          border: solid 0.3rem #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .newmessage-uy3 {
            margin: 0rem 0.134rem 0.881rem 0.265rem;
            width: calc(100% - 0.3993rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .line-1-du3 {
              width: 40.0681rem;
              height: 0.5191rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.472rem 5.95rem 0rem 0rem;
            }
            .new-message-8au {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 6.0833rem;
              align-items: center;
              font-size: 2rem;
              font-family: Pixelroborobo, 'Source Sans Pro';
              color: #ffea2d;
              display: flex;
              justify-content: center;
              font-weight: 500;
              line-height: 1.2575;
            }
            .line-2-Rpu {
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.2358rem;
              width: 39.3993rem;
              height: 0.2649rem;
              object-fit: contain;
            }
          }
          .item-1-kcH {
            margin: 0rem 87.44rem 0.472rem 0.267rem;
            width: calc(100% - 87.7069rem);
            height: 5.8952rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .image-2-FJ9 {
              margin-right: 0.4rem;
              width: 8.8932rem;
              height: 5.8952rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-bx3f-abK {
              position: relative;
              flex-shrink: 0;
              margin: 0.907rem 0rem 0.802rem 0rem;
              width: 6.2rem;
              height: calc(100% - 1.7092rem);

              .seilee-VyB {
                height: 2.1rem;
                left: 0;
                font-weight: 500;
                line-height: 1.2575;
                white-space: nowrap;
                width: 6.2rem;
                position: absolute;
                top: 0;
                font-size: 1.6rem;
                color: #ffa7a7;
                font-family: Pixelroborobo, 'Source Sans Pro';
              }
              .item-13-09-QaM {
                font-family: Pixelroborobo, 'Source Sans Pro';
                align-items: baseline;
                width: 4.6rem;
                top: 2.086rem;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2575;
                display: flex;
                height: 2.1rem;
                position: absolute;
                left: 0;
                color: #ffffff;
                white-space: nowrap;

                .item-13-09-QaM-sub-0 {
                }
                .item-13-09-QaM-sub-1 {
                  font-size: 1rem;
                  font-weight: 500;
                  line-height: 1.2575;
                  color: #919191;
                  font-family: Pixelroborobo, 'Source Sans Pro';
                }
              }
            }
          }
          .item-2-FzH {
            margin: 0rem 88.04rem 21.105rem 0.267rem;
            width: calc(100% - 88.3068rem);
            height: 5.8952rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .image-2-Zk5 {
              margin-right: 0.6rem;
              width: 8.8932rem;
              height: 5.8952rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-vdcv-hLV {
              margin: 0.635rem 0rem 0.802rem 0rem;
              height: calc(100% - 1.4371rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .me-cyF {
                line-height: 1.2575;
                color: #ffa7a7;
                font-family: Pixelroborobo, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2581rem;
                font-size: 1.6rem;
                font-weight: 500;
              }
              .item-13-10-kZf {
                font-size: 1.6rem;
                line-height: 1.2575;
                font-family: Pixelroborobo, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                align-items: baseline;
                flex-shrink: 0;
                font-weight: 500;
                color: #ffffff;

                .item-13-10-kZf-sub-0 {
                }
                .item-13-10-kZf-sub-1 {
                  font-weight: 500;
                  line-height: 1.2575;
                  color: #919191;
                  font-family: Pixelroborobo, 'Source Sans Pro';
                  font-size: 1rem;
                }
              }
            }
          }
          .item--cVP {
            display: flex;
            align-items: flex-end;
            border-radius: 0.5rem;
            flex-shrink: 0;
            width: 100%;
            height: 4.3625rem;

            .item--w1s {
              margin-right: 1.2rem;
              width: 90.8rem;
              height: 4.1266rem;
              background-color: #ffffff;
              border-radius: 0.5rem;
              flex-shrink: 0;
            }
            .item--2p1 {
              margin-bottom: 0rem;
              width: 11.2rem;
              height: calc(100% - 0rem);
              position: relative;
              border-radius: 0.5rem;
              flex-shrink: 0;

              .item--wvy {
                height: 4.2382rem;
                position: absolute;
                left: 0;
                top: 0.1243rem;
                border: solid 0.3rem #35c2ff;
                box-sizing: border-box;
                border-radius: 0.5rem;
                width: 11.2rem;
              }
              .send-rHF {
                font-family: Pixelroborobo, 'Source Sans Pro';
                top: 0.5691rem;
                align-items: center;
                font-weight: 500;
                width: 4.9rem;
                position: absolute;
                justify-content: center;
                font-size: 2.4rem;
                line-height: 1.2575;
                white-space: nowrap;
                height: 3.1rem;
                left: 3.15rem;
                display: flex;
                color: #35c2ff;
              }
            }
          }
        }
      }
      .item--HNZ {
        height: 8.6rem;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        box-sizing: border-box;
        font-size: 3.6rem;
        line-height: 1.2575;
        color: #ffffff;
        background-color: #ff6060;
        border-radius: 1.5rem;
        width: 40rem;
        top: 0;
        display: flex;
        font-weight: 500;
        font-family: Pixelroborobo, 'Source Sans Pro';
        border: solid 0.1rem #000000;
        position: absolute;
        left: 0;
      }
      .all-u93 {
        background-color: #5f5f5f;
        width: 40.098rem;
        left: 0.302rem;
        height: 57.3rem;
        position: absolute;
        top: 8.1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-bottom: 0.2454rem;

        .auto-group-hp4h-nyX {
          width: 100%;
          height: 11.6563rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-20-Xw7 {
            background-color: #ffffff;
            width: 40.098rem;
            height: 5.9719rem;
            position: absolute;
            left: 0;
            top: 0;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
          .channels-TZs {
            position: absolute;
            justify-content: center;
            color: #000000;
            height: 3.7rem;
            font-size: 2.9rem;
            width: 11.6rem;
            align-items: center;
            line-height: 1.2575;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            left: 13.4471rem;
            display: flex;
            font-weight: 400;
            top: 1.136rem;
          }
          .channel-select-k3B {
            top: 5.5214rem;
            display: flex;
            align-items: center;
            width: 40.098rem;
            height: 6.1349rem;
            position: absolute;
            left: 0;

            .auto-group-lrn5-s7o {
              width: 20.049rem;
              height: 100%;
              color: #000000;
              font-family: ArcadeClassic, 'Source Sans Pro';
              display: flex;
              white-space: nowrap;
              box-sizing: border-box;
              background-color: #ffffff;
              flex-shrink: 0;
              font-weight: 400;
              align-items: center;
              justify-content: center;
              font-size: 2.9rem;
              line-height: 1.2575;
              border: solid 0.1rem #000000;
            }
            .group-82-Xy3 {
              width: 20.049rem;
              align-items: center;
              font-weight: 400;
              box-sizing: border-box;
              background-color: #d7d7d7;
              display: flex;
              font-size: 2.9rem;
              color: #000000;
              flex-shrink: 0;
              justify-content: center;
              white-space: nowrap;
              height: 100%;
              line-height: 1.2575;
              font-family: ArcadeClassic, 'Source Sans Pro';
              border: solid 0.1rem #000000;
            }
          }
        }
        .auto-group-9axy-DL5 {
          margin-bottom: 0rem;
          width: 100%;
          height: 15.9507rem;
          position: relative;
          flex-shrink: 0;

          .search-panel-kau {
            box-sizing: border-box;
            width: 40.098rem;
            border: solid 0.4rem #ff25a7;
            background-color: #444444;
            padding: 1.227rem 1.337rem 1.227rem 34.752rem;
            height: 6.1349rem;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 0.5rem;

            .icon-magnifying-glass-G3T {
              width: 4.0098rem;
              height: 3.6809rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item-123-kUR {
            padding: 1.338rem 0rem 1.711rem 0rem;
            width: 40.098rem;
            position: absolute;
            left: 0;
            top: 6.1349rem;
            border: solid 0.1rem #000000;
            background-color: #292929;
            border-radius: 0.5rem;
            box-sizing: border-box;
            height: 9.8158rem;

            .item-123-r1f {
              display: flex;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 2.0671rem;
            }
            .public-3-10-ZAy {
              white-space: nowrap;
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #d3d3d3;
              font-family: Pixelroborobo, 'Source Sans Pro';
            }
          }
        }
        .auto-group-ghgu-SEm {
          margin-bottom: 0rem;
          width: 100%;
          height: 19.6317rem;
          position: relative;
          flex-shrink: 0;

          .item-42--nZX {
            box-sizing: border-box;
            padding: 1.338rem 0rem 1.711rem 0rem;
            left: 0;
            border: solid 0.1rem #000000;
            border-radius: 0.5rem;
            width: 40.098rem;
            height: 9.8158rem;
            position: absolute;
            top: 0;
            background-color: #292929;

            .item-42--t6m {
              color: #ffffff;
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 2.0671rem;
              display: flex;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2575;
            }
            .public-1-10-nT3 {
              font-weight: 500;
              line-height: 1.2575;
              color: #d3d3d3;
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1.6rem;
            }
          }
          .item--Heh {
            height: 9.8158rem;
            position: absolute;
            top: 9.8158rem;
            border-radius: 0.5rem;
            box-sizing: border-box;
            padding: 1.461rem 0rem 1.711rem 0rem;
            width: 40.098rem;
            left: 0;
            border: solid 0.1rem #000000;
            background-color: #292929;

            .item--ado {
              font-weight: 500;
              line-height: 1.2575;
              color: #ffffff;
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 1.9444rem;
              display: flex;
              font-size: 2rem;
            }
            .protected-9-10-teV {
              display: flex;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2575;
              color: #d3d3d3;
              font-family: Pixelroborobo, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .item--nE5 {
          box-sizing: border-box;
          border: solid 0.1rem #000000;
          border-radius: 0.5rem;
          flex-shrink: 0;
          padding: 1.461rem 0rem 1.711rem 0rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #292929;

          .item--fof {
            display: flex;
            font-size: 2rem;
            line-height: 1.2575;
            font-family: Pixelroborobo, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.9444rem;
            font-weight: 500;
            color: #ffffff;
          }
          .protected-9-10-a9w {
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2575;
            color: #d3d3d3;
            font-family: Pixelroborobo, 'Source Sans Pro';
          }
        }
      }
      .item--efb {
        left: 40rem;
        top: 0.1rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #000000;
        width: 112rem;
        height: 54rem;
        position: absolute;

        .auto-group-uedp-kyX {
          height: 19.4502rem;
          position: absolute;
          left: 12.9333rem;
          top: 8.3958rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 20rem;

          .user1img-HTf {
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-bottom: 1.5392rem;
            width: 20rem;
            height: 14.311rem;
          }
          .dohyulee-zss {
            font-weight: 400;
            line-height: 1.2575;
            color: #ffffff;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            font-size: 2.8rem;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
          }
        }
        .auto-group-tbtd-X77 {
          height: 30.1196rem;
          position: absolute;
          left: 40.2667rem;
          top: 19.2804rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 31.2rem;

          .vs-eBj {
            font-weight: 400;
            margin: 0rem 0rem 10.789rem 0.267rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 9.6rem;
            line-height: 1.2575;
            color: #ae3e3e;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .auto-group-ekjx-wgd {
            width: 100%;
            height: 7.2304rem;
            position: relative;
            flex-shrink: 0;

            .giveup-VTF {
              left: 0;
              top: 0;
              background-color: #db5050;
              border-radius: 4rem;
              width: 31.2rem;
              height: 6.583rem;
              cursor: pointer;
              position: absolute;
            }
            .give-up-1wP {
              font-weight: 400;
              white-space: nowrap;
              font-size: 5rem;
              height: 6.3rem;
              position: absolute;
              left: 6.2333rem;
              top: 0.9304rem;
              line-height: 1.2575;
              color: #f3f0d4;
              font-family: ArcadeClassic, 'Source Sans Pro';
              width: 16.7rem;
            }
          }
        }
        .item--JQh {
          cursor: pointer;
          position: absolute;
          left: 81.5rem;
          top: 11.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 17.7333rem;
          height: 11.6396rem;
        }
        .info-14D {
          height: 9.5406rem;
          position: absolute;
          left: 12.9333rem;
          top: 28.9081rem;
          width: 22.9333rem;

          .item-30-hhj {
            top: 2.9703rem;
            font-size: 2.8rem;
            color: #ffffff;
            font-weight: 400;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            justify-content: center;
            left: 14.8667rem;
            display: flex;
            align-items: center;
            line-height: 1.2575;
            width: 2.8rem;
            height: 3.6rem;
          }
          .item-101-vKb {
            height: 3.6rem;
            display: flex;
            color: #ffffff;
            font-family: ArcadeClassic, 'Source Sans Pro';
            left: 17.5rem;
            top: 6.3095rem;
            justify-content: center;
            line-height: 1.2575;
            align-items: center;
            font-weight: 400;
            width: 4.2rem;
            position: absolute;
            font-size: 2.8rem;
            white-space: nowrap;
          }
          .item-30-n6u {
            height: 3.6rem;
            line-height: 1.2575;
            white-space: nowrap;
            position: absolute;
            display: flex;
            font-weight: 400;
            color: #ffffff;
            font-family: ArcadeClassic, 'Source Sans Pro';
            width: 2.8rem;
            left: 12.8667rem;
            top: -0.3689rem;
            align-items: center;
            justify-content: center;
            font-size: 2.8rem;
          }
          .win--q5B {
            height: 3.6rem;
            white-space: nowrap;
            top: -0.3689rem;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-family: ArcadeClassic, 'Source Sans Pro';
            width: 7.2rem;
            position: absolute;
            display: flex;
            line-height: 1.2575;
            left: 2.4rem;
            font-size: 2.8rem;
            font-weight: 400;
          }
          .lose--uqj {
            line-height: 1.2575;
            color: #ffffff;
            height: 3.6rem;
            left: 3.4333rem;
            top: 2.9703rem;
            width: 7.8rem;
            position: absolute;
            font-family: ArcadeClassic, 'Source Sans Pro';
            align-items: center;
            font-weight: 400;
            font-size: 2.8rem;
            white-space: nowrap;
            display: flex;
            justify-content: center;
          }
          .ladder--cVF {
            width: 11.3rem;
            display: flex;
            align-items: center;
            color: #ffffff;
            left: 2.8833rem;
            line-height: 1.2575;
            font-family: ArcadeClassic, 'Source Sans Pro';
            position: absolute;
            justify-content: center;
            white-space: nowrap;
            height: 3.6rem;
            top: 6.3095rem;
            font-size: 2.8rem;
            font-weight: 400;
          }
        }
      }
    }
    .auto-group-cuxd-rPb {
      display: flex;
      flex-direction: column;
      background-color: #3effa2;
      flex-shrink: 0;
      width: 40rem;
      height: 100%;
      align-items: center;

      .item--HUu {
        padding: 1.404rem 3.467rem 3.733rem 4.933rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        background-color: #292929;
        border-radius: 0.5rem;
        margin-right: 0rem;
        box-sizing: border-box;
        width: calc(100% - 0rem);
        align-items: center;
        border: solid 0.1rem #000000;

        .item--yMj {
          margin: 0rem 1.467rem 2.019rem 0rem;
          width: 20rem;
          height: 16.2rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
        }
        .item--TGu {
          width: calc(100% - 14.7667rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 7.5rem 3.78rem 7.267rem;

          .item--M7P {
            color: #ffffff;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            line-height: 1.2575;
            white-space: nowrap;
            margin: 0rem 1.233rem 0.213rem 0rem;
            display: flex;
            font-weight: 400;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
          .auto-group-yjwf-ecH {
            flex-shrink: 0;
            margin: 0rem 3.533rem 0.064rem 2.3rem;
            width: calc(100% - 5.8333rem);
            height: 8.1354rem;
            position: relative;

            .item--xcy {
              font-weight: 400;
              font-family: ArcadeClassic, 'Source Sans Pro';
              width: 9.5rem;
              top: 4.0354rem;
              justify-content: center;
              display: flex;
              white-space: nowrap;
              left: 0.6833rem;
              align-items: center;
              color: #ffffff;
              line-height: 1.2575;
              height: 4.1rem;
              position: absolute;
              font-size: 3.2rem;
            }
            .item--S2M {
              left: 0;
              width: 11rem;
              height: 4.1rem;
              display: flex;
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.2575;
              position: absolute;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
              top: 0;
              color: #b0d276;
              font-family: ArcadeClassic, 'Source Sans Pro';
            }
          }
          .auto-group-36xk-vCR {
            margin-left: 0.2333rem;
            width: 16.6rem;
            height: 7.9517rem;
            position: relative;
            flex-shrink: 0;

            .item--ePK {
              width: 16.6rem;
              justify-content: center;
              color: #ffffff;
              height: 4.1rem;
              font-size: 3.2rem;
              white-space: nowrap;
              top: 3.8517rem;
              display: flex;
              line-height: 1.2575;
              position: absolute;
              left: 0;
              align-items: center;
              font-weight: 400;
              font-family: ArcadeClassic, 'Source Sans Pro';
            }
            .item--kBT {
              width: 10.1rem;
              height: 4.1rem;
              font-weight: 400;
              top: 0;
              align-items: center;
              justify-content: center;
              font-family: ArcadeClassic, 'Source Sans Pro';
              position: absolute;
              left: 2.45rem;
              font-size: 3.2rem;
              color: #ffffff;
              white-space: nowrap;
              display: flex;
              line-height: 1.2575;
            }
          }
        }
        .item--3AZ {
          width: 100%;
          height: 5.4rem;
          position: relative;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .rectangle-27-BGm {
            height: 5.4rem;
            position: absolute;
            left: 0.1333rem;
            top: 0;
            border: solid 0.2rem #ff3333;
            box-sizing: border-box;
            border-radius: 0.5rem;
            width: 31.4667rem;
          }
          .edit-my-info-hW1 {
            left: 8.35rem;
            font-weight: 400;
            justify-content: center;
            color: #ff3a3a;
            height: 3.8rem;
            position: absolute;
            top: 0.692rem;
            display: flex;
            align-items: center;
            width: 14.9rem;
            font-size: 3rem;
            line-height: 1.2575;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .all-xRw {
        box-sizing: border-box;
        padding-top: 0.1067rem;
        width: 100%;
        height: 54rem;
        overflow: hidden;
        position: relative;
        background-color: #ffffff;
        flex-shrink: 0;

        .item--t4h {
          width: 100%;
          height: 100%;
          position: relative;
          background-color: #5f5f5f;

          .channel-Q33 {
            left: 13.3333rem;
            font-size: 2.4rem;
            line-height: 1.2575;
            white-space: nowrap;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000000;
            background-color: #d9d9d9;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            width: 13.3333rem;
            height: 5.336rem;
            top: 0;
            font-weight: 400;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
          .friends-sBX {
            position: absolute;
            top: 0;
            display: flex;
            font-weight: 400;
            line-height: 1.2575;
            font-family: ArcadeClassic, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            width: 13.3333rem;
            height: 5.336rem;
            align-items: center;
            background-color: #d9d9d9;
            left: 0;
            justify-content: center;
            font-size: 2.4rem;
            color: #000000;
            white-space: nowrap;
            box-sizing: border-box;
          }
          .all-vfb {
            background-color: #ffffff;
            width: 13.3333rem;
            display: flex;
            justify-content: center;
            font-weight: 400;
            font-family: ArcadeClassic, 'Source Sans Pro';
            border: solid 0.1rem #000000;
            position: absolute;
            left: 26.6667rem;
            align-items: center;
            color: #000000;
            white-space: nowrap;
            box-sizing: border-box;
            height: 5.336rem;
            top: 0;
            font-size: 2.4rem;
            line-height: 1.2575;
          }
          .item--PZB {
            left: 1rem;
            align-items: center;
            background-color: #292929;
            padding-right: 1.4589rem;
            height: 7rem;
            position: absolute;
            top: 45.8933rem;
            display: flex;
            border: solid 1rem #ff4264;
            box-sizing: border-box;
            width: 38rem;

            .item--UqX {
              width: 7.125rem;
              height: 6.7522rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.611rem 0.248rem 0rem;
            }
            .item--atZ {
              font-size: 2.4rem;
              font-weight: 400;
              line-height: 1.2102272511;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin: 0rem 10.834rem 0.05rem 0rem;
              max-width: 13.9rem;

              .item--atZ-sub-0 {
                line-height: 1.2575;
                color: rgba(255, 255, 255, 0.8000000119);
                font-family: ArcadeClassic, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 400;
              }
              .item--atZ-sub-1 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #444444;
                font-family: ArcadeClassic, 'Source Sans Pro';
              }
              .item--atZ-sub-2 {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #000000;
                font-family: ArcadeClassic, 'Source Sans Pro';
              }
              .item--atZ-sub-3 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.2575;
                color: #7ecff2;
                font-family: ArcadeClassic, 'Source Sans Pro';
              }
            }
            .item--MZs {
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0416rem;
              width: 4.0714rem;
              height: 3.3761rem;
              position: relative;
              object-fit: contain;
            }
          }
          .item--EtZ {
            top: 5.2933rem;
            left: 0;
            border: solid 0.3rem #ff25a7;
            background-color: #5e5e5e;
            box-sizing: border-box;
            padding: 1.057rem 1.5rem 1.079rem 35.3rem;
            width: 40rem;
            height: 5.336rem;
            position: absolute;

            .icon-magnifying-glass-jqK {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item--qNZ {
            background-color: rgba(255, 255, 255, 0.8000000119);
            height: 34.3rem;
            left: 0;
            top: 10.5933rem;
            overflow: hidden;
            align-items: center;
            display: flex;
            width: 40rem;
            position: absolute;
            flex-direction: column;

            .auto-group-fal1-veu {
              height: 24rem;
              position: relative;
              flex-shrink: 0;
              width: 100%;

              .item-3-Tuj {
                border-radius: 0.5rem;
                padding: 0rem 17.433rem 0rem 0.4rem;
                width: 40rem;
                position: absolute;
                left: 0;
                display: flex;
                align-items: flex-start;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                height: 8rem;
                top: 16rem;
                background-color: #292929;

                .image-1-MVK {
                  width: 9.0667rem;
                  height: 7.2222rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.4rem;
                }
                .seowokim-online-gGh {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2102272511;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-top: 0.6667rem;
                  max-width: 12.7rem;

                  .seowokim-online-gGh-sub-0 {
                    color: rgba(255, 255, 255, 0.8000000119);
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                  }
                  .seowokim-online-gGh-sub-1 {
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #000000;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                  }
                  .seowokim-online-gGh-sub-2 {
                    color: #a6a6a6;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                  }
                  .seowokim-online-gGh-sub-3 {
                    color: #7ecff2;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.2575;
                  }
                }
              }
              .item-2-Xa9 {
                height: 8rem;
                left: 0;
                top: 8rem;
                box-sizing: border-box;
                width: 40rem;
                position: absolute;
                display: flex;
                align-items: flex-start;
                border: solid 0.1rem #000000;
                background-color: #292929;
                border-radius: 0.5rem;
                padding: 0rem 20.333rem 0rem 0.4rem;

                .image-1-Dxm {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 0.4rem;
                  width: 9.0667rem;
                  height: 7.2222rem;
                  object-fit: cover;
                }
                .sielee-in-game-Z13 {
                  font-weight: 400;
                  line-height: 1.2102272511;
                  color: #ffffff;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-top: 0.6667rem;
                  max-width: 9.8rem;
                  font-size: 2.4rem;

                  .sielee-in-game-Z13-sub-0 {
                    color: rgba(255, 255, 255, 0.8000000119);
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                  }
                  .sielee-in-game-Z13-sub-1 {
                    font-weight: 400;
                    line-height: 1.2575;
                    color: rgba(255, 255, 255, 0.8000000119);
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2rem;
                  }
                  .sielee-in-game-Z13-sub-2 {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #b0d276;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                }
              }
              .item-1-eq7 {
                display: flex;
                background-color: #292929;
                border-radius: 0.5rem;
                height: 8rem;
                position: absolute;
                left: 0;
                top: 0;
                align-items: flex-start;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                padding: 0rem 19.8rem 0rem 0.4rem;
                width: 40rem;

                .image-1-YQh {
                  flex-shrink: 0;
                  margin-right: 0.4333rem;
                  width: 9.0667rem;
                  height: 7.2222rem;
                  object-fit: cover;
                  vertical-align: top;
                }
                .junoh-offline-sSy {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2102272511;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-top: 0.7rem;
                  max-width: 10.3rem;

                  .junoh-offline-sSy-sub-0 {
                    font-weight: 400;
                    line-height: 1.2575;
                    color: rgba(255, 255, 255, 0.8000000119);
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                  }
                  .junoh-offline-sSy-sub-1 {
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #444444;
                    font-family: ArcadeClassic, 'Source Sans Pro';
                  }
                  .junoh-offline-sSy-sub-2 {
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #000000;
                  }
                  .junoh-offline-sSy-sub-3 {
                    font-family: ArcadeClassic, 'Source Sans Pro';
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.2575;
                    color: #a6a6a6;
                  }
                }
              }
              .item--Z6q {
                position: absolute;
                left: 39.1rem;
                top: 7.2rem;
                border: solid 0.1rem #000000;
                background-color: rgba(255, 255, 255, 0.8000000119);
                width: 0.9rem;
                height: 15rem;
                box-sizing: border-box;
                border-radius: 2rem;
              }
            }
            .item-5-SAd {
              border: solid 0.1rem #000000;
              background-color: #292929;
              border-radius: 0.5rem;
              flex-shrink: 0;
              padding: 0rem 16.933rem 0rem 0.4rem;
              display: flex;
              height: 8rem;
              align-items: flex-start;
              box-sizing: border-box;
              width: 100%;

              .image-1-YjT {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.4rem;
                width: 9.0667rem;
                height: 7.2222rem;
              }
              .hahahoho-in-game-UND {
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2102272511;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                margin-top: 0.6667rem;
                max-width: 13.2rem;

                .hahahoho-in-game-UND-sub-0 {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: rgba(255, 255, 255, 0.8000000119);
                  font-family: ArcadeClassic, 'Source Sans Pro';
                }
                .hahahoho-in-game-UND-sub-1 {
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: rgba(255, 255, 255, 0.8000000119);
                  font-family: ArcadeClassic, 'Source Sans Pro';
                }
                .hahahoho-in-game-UND-sub-2 {
                  color: #b0d276;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.2575;
                }
              }
            }
            .item-4-Qob {
              align-items: flex-start;
              border: solid 0.1rem #000000;
              border-radius: 0.5rem;
              box-sizing: border-box;
              width: 100%;
              display: flex;
              flex-shrink: 0;
              padding: 0rem 12.533rem 0rem 0.4rem;
              height: 8rem;
              background-color: #292929;

              .image-1-X7X {
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 0.4rem;
                width: 9.0667rem;
                height: 7.2222rem;
              }
              .seodong-online-TG5 {
                flex-shrink: 0;
                margin-top: 0.6667rem;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 1.2102272511;
                color: #000000;
                white-space: nowrap;
                display: flex;
                font-family: Inter, 'Source Sans Pro';
                align-items: baseline;

                .seodong-online-TG5-sub-0 {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: rgba(255, 255, 255, 0.8000000119);
                  font-family: ArcadeClassic, 'Source Sans Pro';
                }
                .seodong-online-TG5-sub-1 {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                }
                .seodong-online-TG5-sub-2 {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #a6a6a6;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                }
                .seodong-online-TG5-sub-3 {
                  line-height: 1.2575;
                  color: #7ecff2;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 400;
                }
              }
            }
            .item-6-8f3 {
              box-sizing: border-box;
              align-items: flex-start;
              border: solid 0.1rem #000000;
              flex-shrink: 0;
              border-radius: 0.5rem;
              padding: 0rem 14.4rem 0rem 0.4rem;
              width: 100%;
              display: flex;
              background-color: #292929;

              .image-1-rb3 {
                margin-right: 0.4333rem;
                width: 9.0667rem;
                height: 7.2222rem;
                object-fit: cover;
                vertical-align: top;
                flex-shrink: 0;
              }
              .junoh-offline-njb {
                white-space: nowrap;
                display: flex;
                line-height: 1.2102272511;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                align-items: baseline;
                flex-shrink: 0;
                margin-top: 0.7rem;
                font-size: 2.4rem;
                font-weight: 400;

                .junoh-offline-njb-sub-0 {
                  font-weight: 400;
                  line-height: 1.2575;
                  color: rgba(255, 255, 255, 0.8000000119);
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  font-size: 2.4rem;
                }
                .junoh-offline-njb-sub-1 {
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #444444;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                }
                .junoh-offline-njb-sub-2 {
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  font-size: 2.4rem;
                  font-weight: 400;
                  line-height: 1.2575;
                  color: #000000;
                }
                .junoh-offline-njb-sub-3 {
                  color: #a6a6a6;
                  font-family: ArcadeClassic, 'Source Sans Pro';
                  font-size: 2rem;
                  font-weight: 400;
                  line-height: 1.2575;
                }
              }
            }
          }
        }
      }
    }
  }
  .channellist-pCR {
    display: flex;
    flex-direction: column;
    background-color: #5f5f5f;
    width: 40.1961rem;
    height: 49.2rem;
    position: absolute;
    left: 0.2039rem;
    top: 65.4rem;
    align-items: center;

    .auto-group-4nrp-LAm {
      color: #000000;
      font-size: 2.9rem;
      font-weight: 400;
      line-height: 1.2575;
      font-family: ArcadeClassic, 'Source Sans Pro';
      background-color: #ffffff;
      width: 100%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 5.1277rem;
      justify-content: center;
      white-space: nowrap;
      border: solid 0.1rem #000000;
    }
    .auto-group-98vf-zWD {
      box-sizing: border-box;
      padding: 0.033rem 0rem 29.092rem 0.026rem;
      width: 100%;
      height: 44.0723rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item-3-6ZF {
        margin-bottom: 0.258rem;
        height: 6.8811rem;
        display: flex;
        border: solid 0.1rem #000000;
        background-color: #292929;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 0rem 0.83rem 0rem 0.397rem;
        align-items: center;
        flex-shrink: 0;

        .image-1-zed {
          margin: 0rem 0.397rem 0.669rem 0rem;
          width: 8.9875rem;
          height: 6.2121rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .kiki-online-JQR {
          line-height: 1.2102272511;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.366rem 9.046rem 0rem 0rem;
          max-width: 6.5rem;
          font-size: 2.4rem;
          font-weight: 400;

          .kiki-online-JQR-sub-0 {
            line-height: 1.2575;
            color: rgba(255, 255, 255, 0.8000000119);
            font-family: ArcadeClassic, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
          }
          .kiki-online-JQR-sub-1 {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: ArcadeClassic, 'Source Sans Pro';
          }
          .kiki-online-JQR-sub-2 {
            font-weight: 400;
            line-height: 1.2575;
            color: #a6a6a6;
            font-family: ArcadeClassic, 'Source Sans Pro';
            font-size: 2.4rem;
          }
          .kiki-online-JQR-sub-3 {
            color: #7ecff2;
            font-family: ArcadeClassic, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2575;
          }
        }
        .auto-group-jaam-pQh {
          margin: 0.344rem 0rem 0.342rem 0rem;
          width: 13.4937rem;
          height: calc(100% - 0.6864rem);
          position: relative;
          flex-shrink: 0;

          .item--jGm {
            display: flex;
            line-height: 1.2125;
            white-space: nowrap;
            width: 1.6rem;
            left: 6.6734rem;
            justify-content: center;
            font-weight: 400;
            position: absolute;
            top: 3.0948rem;
            color: #000000;
            height: 3.1rem;
            font-size: 2.5rem;
            align-items: center;
            font-family: Inter, 'Source Sans Pro';
          }
          .item--bpm {
            left: 10.5082rem;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            font-weight: 400;
            font-size: 2rem;
            align-items: center;
            justify-content: center;
            color: #000000;
            white-space: nowrap;
            width: 1.3rem;
            top: 3.3948rem;
            line-height: 1.2125;
            height: 2.5rem;
          }
          .group-102-6Fj {
            line-height: 1.2575;
            box-sizing: border-box;
            height: 3.2685rem;
            font-size: 2.5rem;
            font-weight: 400;
            color: #ff25a7;
            white-space: nowrap;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: ArcadeClassic, 'Source Sans Pro';
            border: solid 0.3rem #ff25a7;
            border-radius: 1rem;
            width: 13.4937rem;
            position: absolute;
            background-color: #292929;
          }
        }
      }
      .item--W4Z {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 0.002rem;
        padding: 0.602rem 0rem 0.495rem 0rem;
        width: calc(100% - 0.002rem);
        border: solid 0.1rem #000000;
        background-color: #292929;

        .auto-group-tf45-nXs {
          margin: 0rem 0.828rem 0.342rem 0rem;
          width: calc(100% - 0.8284rem);
          height: 3.2685rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .item--JFK {
            margin: 0rem 16.746rem 0.081rem 0rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2575;
            color: #ffffff;
            font-family: Pixelroborobo, 'Source Sans Pro';
            display: flex;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .group-103-z89 {
            width: 13.4937rem;
            font-size: 2.5rem;
            line-height: 1.2575;
            color: #ff25a7;
            flex-shrink: 0;
            background-color: #292929;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            font-weight: 400;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            border: solid 0.3rem #ff25a7;
            box-sizing: border-box;
            height: 100%;
            align-items: center;
          }
        }
        .auto-group-omyd-fEH {
          align-items: center;
          flex-shrink: 0;
          display: flex;

          .protected-9-10-Qhf {
            display: flex;
            font-size: 1.6rem;
            font-weight: 500;
            color: #d3d3d3;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 14.927rem 0.303rem 0rem;
            line-height: 1.2575;
            font-family: Pixelroborobo, 'Source Sans Pro';
          }
          .item--WVo {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.5rem;
            font-weight: 400;
            color: #000000;
            white-space: nowrap;
            margin-right: 2.2348rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            line-height: 1.2125;
          }
          .item--Rsf {
            font-size: 2rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            justify-content: center;
            font-weight: 400;
            line-height: 1.2125;
            flex-shrink: 0;
            margin-top: 0.3441rem;
            align-items: center;
          }
        }
      }
    }
  }
}
