
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.start-Eqw {
  width: 100%;
  height: 102.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #aca5ac;

  .frame-1-RQd {
    left: 67.1rem;
    top: 36.3rem;
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    position: absolute;
  }
  .union-hd3 {
    vertical-align: top;
    width: 19.8rem;
    height: 20.2rem;
    position: absolute;
    left: 7.3rem;
    top: 64.9rem;
    object-fit: contain;
  }
  .centre-ZQM {
    left: 13.7rem;
    background-color: #8f2c58;
    width: 7rem;
    height: 7rem;
    position: absolute;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 3.5rem;
    top: 71.5rem;
    border: solid 0.3rem #000000;
    box-sizing: border-box;
  }
  .select-BKF {
    width: 14.1892rem;
    height: 9.4045rem;
    left: 55.4rem;
    top: 85.1rem;
    border: solid 0.3rem #000000;
    position: absolute;
    box-sizing: border-box;
    background-color: #7e787e;
    border-radius: 123.4rem;
  }
  .start-59j {
    height: 9.4045rem;
    position: absolute;
    left: 73rem;
    top: 85.1rem;
    box-sizing: border-box;
    width: 14.1892rem;
    border: solid 0.3rem #000000;
    background-color: #7e787e;
    border-radius: 123.4rem;
  }
  .b-button-n49 {
    border-radius: 5.25rem;
    background-color: #8f2c58;
    width: 10.5rem;
    height: 10.5rem;
    position: absolute;
    left: 117rem;
    top: 75.4rem;
    border: solid 0.3rem #000000;
    box-sizing: border-box;
  }
  .a-button-gQR {
    width: 10.5rem;
    height: 10.5rem;
    top: 64.9rem;
    border: solid 0.3rem #000000;
    border-radius: 5.25rem;
    position: absolute;
    left: 126.2rem;
    box-sizing: border-box;
    background-color: #8f2c58;
  }
  .select-Bc5 {
    width: 12.3rem;
    align-items: center;
    white-space: nowrap;
    position: absolute;
    font-weight: 600;
    letter-spacing: 0.3rem;
    font-family: Poppins, 'Source Sans Pro';
    height: 4.5rem;
    left: 58.1102rem;
    top: 91.3296rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    line-height: 1.5;
    font-style: italic;
    text-transform: uppercase;
    color: #464084;
  }
  .b-QUq {
    display: flex;
    color: #464084;
    position: absolute;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    width: 2.3rem;
    justify-content: center;
    font-size: 3rem;
    white-space: nowrap;
    height: 4.5rem;
    left: 123.8247rem;
    top: 84.7686rem;
    align-items: center;
    letter-spacing: 0.3rem;
    font-style: italic;
    font-family: Poppins, 'Source Sans Pro';
  }
  .a-stD {
    align-items: center;
    text-transform: uppercase;
    width: 2.5rem;
    top: 74.955rem;
    font-size: 3rem;
    color: #464084;
    white-space: nowrap;
    display: flex;
    line-height: 1.5;
    letter-spacing: 0.3rem;
    font-style: italic;
    font-family: Poppins, 'Source Sans Pro';
    height: 4.5rem;
    position: absolute;
    left: 134.474rem;
    justify-content: center;
    font-weight: 600;
  }
  .start-YUZ {
    display: flex;
    align-items: center;
    font-size: 3rem;
    line-height: 1.5;
    text-transform: uppercase;
    top: 91.3296rem;
    justify-content: center;
    font-weight: 600;
    left: 76.4102rem;
    width: 10.9rem;
    position: absolute;
    letter-spacing: 0.3rem;
    font-style: italic;
    color: #464084;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    height: 4.5rem;
  }
  .game-login-background-E6V {
    left: 23.4rem;
    box-sizing: border-box;
    height: 61.7rem;
    position: absolute;
    top: 3.7rem;
    border: solid 0.2rem #000000;
    background-color: rgba(44, 18, 65, 0.2599999905);
    padding: 2.2rem 6.9rem 2.9rem 6.6rem;
    width: 97.5rem;

    .item--tgq {
      align-items: center;
      display: flex;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #859e5a;
      padding: 10.213rem 19.4rem 20.95rem 14.6rem;
      width: 100%;
      height: 100%;
      flex-direction: column;
      border: solid 0.5rem #000000;
      box-sizing: border-box;

      .cmyk-offset-additive-glow-kj3 {
        margin-bottom: 5.9125rem;
        opacity: 0.5;
        width: 100%;
        height: 13.225rem;
        position: relative;
        filter: blur(1.2rem);
        flex-shrink: 0;

        .retro-fLD {
          width: 46.6rem;
          left: 2.3411rem;
          display: flex;
          color: #ff5abd;
          font-family: ArcadeClassic, 'Source Sans Pro';
          height: 12.6rem;
          top: 0;
          align-items: center;
          justify-content: center;
          font-size: 10rem;
          line-height: 1.2575;
          letter-spacing: 1rem;
          text-transform: uppercase;
          white-space: nowrap;
          position: absolute;
          font-weight: 400;
        }
        .retro-b-wHj {
          line-height: 1.2575;
          width: 49.0099rem;
          display: flex;
          font-size: 10rem;
          font-weight: 400;
          position: absolute;
          left: 0;
          top: 0;
          align-items: center;
          letter-spacing: 1rem;
          height: 12.6rem;
          text-transform: uppercase;
          color: #3964ff;
          font-family: ArcadeClassic, 'Source Sans Pro';
          white-space: nowrap;
          box-shadow: -0.4rem 0 1.6rem #022aff;
          justify-content: center;
        }
        .retro-y-bNH {
          width: 49.0099rem;
          height: 12.6rem;
          font-size: 10rem;
          position: absolute;
          align-items: center;
          font-weight: 400;
          line-height: 1.2575;
          white-space: nowrap;
          left: 0.8251rem;
          display: flex;
          justify-content: center;
          text-transform: uppercase;
          color: #edff1e;
          font-family: ArcadeClassic, 'Source Sans Pro';
          top: 0.3125rem;
          letter-spacing: 1rem;
          box-shadow: 0.2rem 0 0.8rem rgba(255, 255, 46, 0.6000000238);
        }
        .retro-c-3VB {
          letter-spacing: 1rem;
          box-shadow: 0 0.2rem 0.4rem rgba(90, 255, 245, 0.25);
          width: 49.0099rem;
          left: 0.495rem;
          top: 0.625rem;
          display: flex;
          font-size: 10rem;
          font-weight: 400;
          text-transform: uppercase;
          white-space: nowrap;
          color: #8a7d7d;
          font-family: ArcadeClassic, 'Source Sans Pro';
          height: 12.6rem;
          position: absolute;
          align-items: center;
          justify-content: center;
          line-height: 1.2575;
        }
        .login-tVo {
          line-height: 1.2575;
          height: 12.6rem;
          left: 1.516rem;
          display: flex;
          letter-spacing: 1rem;
          text-transform: uppercase;
          white-space: nowrap;
          font-family: ArcadeClassic, 'Source Sans Pro';
          width: 46.6rem;
          position: absolute;
          font-weight: 400;
          font-size: 10rem;
          top: 0.2083rem;
          align-items: center;
          justify-content: center;
        }
        .cmyk-offset-BUu {
          width: 50rem;
          height: 9.6875rem;
          position: absolute;
          left: 0;
          top: 1.4875rem;

          .retro-6rm {
            width: 46.6rem;
            white-space: nowrap;
            font-size: 10rem;
            letter-spacing: 1rem;
            color: #ff5abd;
            position: absolute;
            justify-content: center;
            align-items: center;
            font-family: ArcadeClassic, 'Source Sans Pro';
            left: 2.3411rem;
            display: flex;
            font-weight: 400;
            line-height: 1.2575;
            text-transform: uppercase;
            height: 12.6rem;
            top: -1.8rem;
          }
          .retro-b-w8d {
            width: 49.0099rem;
            text-transform: uppercase;
            color: #3964ff;
            box-shadow: -0.4rem 0 1.6rem #022aff;
            left: 0;
            top: -1.8rem;
            align-items: center;
            justify-content: center;
            display: flex;
            font-weight: 400;
            line-height: 1.2575;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            height: 12.6rem;
            position: absolute;
            font-size: 10rem;
            letter-spacing: 1rem;
          }
          .retro-y-nf3 {
            display: flex;
            align-items: center;
            font-weight: 400;
            line-height: 1.2575;
            width: 49.0099rem;
            white-space: nowrap;
            box-shadow: 0.2rem 0 0.8rem rgba(255, 255, 46, 0.6000000238);
            position: absolute;
            left: 0.8251rem;
            top: -1.4875rem;
            letter-spacing: 1rem;
            color: #edff1e;
            height: 12.6rem;
            font-size: 10rem;
            text-transform: uppercase;
            font-family: ArcadeClassic, 'Source Sans Pro';
            justify-content: center;
          }
          .retro-c-Sjb {
            width: 49.0099rem;
            justify-content: center;
            line-height: 1.2575;
            box-shadow: 0 0.2rem 0.4rem rgba(90, 255, 245, 0.25);
            height: 12.6rem;
            font-weight: 400;
            letter-spacing: 1rem;
            font-family: ArcadeClassic, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            top: -1.175rem;
            display: flex;
            align-items: center;
            color: #8a7d7d;
            left: 0.495rem;
            font-size: 10rem;
            text-transform: uppercase;
          }
          .retro-JWu {
            width: 46.6rem;
            text-transform: uppercase;
            height: 12.6rem;
            display: flex;
            line-height: 1.2575;
            font-family: ArcadeClassic, 'Source Sans Pro';
            top: -1.5917rem;
            justify-content: center;
            white-space: nowrap;
            position: absolute;
            left: 1.516rem;
            align-items: center;
            font-size: 10rem;
            font-weight: 400;
            letter-spacing: 1rem;
          }
        }
      }
      .press-any-key-kth {
        text-transform: uppercase;
        white-space: nowrap;
        display: flex;
        font-weight: 500;
        line-height: 1.2575;
        letter-spacing: 0.5rem;
        color: #ffffff;
        font-family: Pixelroborobo, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 5.1rem;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
      }
    }
  }
}
