
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item--ppq {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.item--ppq .layout-jB7 {
  width: 192rem;
  height: 108rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB {
  width: 152rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--cEu {
  width: 40rem;
  height: 108rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffce50;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--9Vj {
  width: 112rem;
  height: 54rem;
  position: absolute;
  left: 40rem;
  top: 0;
  background-color: #ff37eb;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--GqF {
  width: 112rem;
  height: 54rem;
  position: absolute;
  left: 40rem;
  top: 54rem;
  background-color: #5f95ff;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT {
  box-sizing: border-box;
  padding: 3.148rem 4rem 2.004rem 4rem;
  width: 112rem;
  height: 54rem;
  position: absolute;
  left: 40rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd {
  margin-bottom: 2.4806rem;
  box-sizing: border-box;
  padding: 3.152rem 0rem 1.896rem 0rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .item-1-Q4H {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 9.5rem;
  position: relative;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .item-1-Q4H .ladder-history-X8u {
  width: 100rem;
  height: 7.7032rem;
  position: absolute;
  left: 2rem;
  top: 0;
  display: flex;
  align-items: flex-end;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .item-1-Q4H .ladder-history-X8u .ladderleft-eDX {
  margin: 0rem 5.667rem 0.452rem 0rem;
  width: 40rem;
  height: 7.2509rem;
  position: relative;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .item-1-Q4H .ladder-history-X8u .ladderleft-eDX .image-1-m3F {
  width: 9.0667rem;
  height: 6.5459rem;
  position: absolute;
  left: 0.4rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .item-1-Q4H .ladder-history-X8u .ladderleft-eDX .hahago-6LR {
  width: 9.4rem;
  height: 3.8rem;
  position: absolute;
  left: 9.4667rem;
  top: 1.0032rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .item-1-Q4H .ladder-history-X8u .auto-group-muqs-Kys {
  margin-right: 6.2333rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .item-1-Q4H .ladder-history-X8u .auto-group-muqs-Kys .ladder-sVb {
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3d3a3a;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .item-1-Q4H .ladder-history-X8u .auto-group-muqs-Kys .item-2-3-D3f {
  margin-right: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3d3a3a;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .item-1-Q4H .ladder-history-X8u .ladderright-vim {
  margin-bottom: 0.4523rem;
  box-sizing: border-box;
  padding: 0rem 1.333rem 0rem 2.2rem;
  height: 7.2509rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .item-1-Q4H .ladder-history-X8u .ladderright-vim .seowokim-SSD {
  margin: 1rem 14.5rem 0rem 0rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .item-1-Q4H .ladder-history-X8u .ladderright-vim .image-1-yBF {
  width: 9.0667rem;
  height: 6.5459rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .item-1-Q4H .mins-ago-UNu {
  width: 9rem;
  height: 2.6rem;
  position: absolute;
  left: 94.7rem;
  top: 6.8rem;
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #6d6d6d;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb {
  margin-bottom: 1.7rem;
  width: 100%;
  height: 18.9rem;
  position: relative;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-3-JMw {
  width: 104rem;
  height: 9.5rem;
  position: absolute;
  left: 0;
  top: 9.4rem;
  background-color: #d9d9d9;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-3-JMw .ladder-history-RBf {
  width: 100rem;
  height: 7.7032rem;
  position: absolute;
  left: 2rem;
  top: 0;
  display: flex;
  align-items: flex-end;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-3-JMw .ladder-history-RBf .ladderleft-kUq {
  margin: 0rem 5.667rem 0.452rem 0rem;
  width: 40rem;
  height: 7.2509rem;
  position: relative;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-3-JMw .ladder-history-RBf .ladderleft-kUq .image-1-Uvd {
  width: 9.0667rem;
  height: 6.5459rem;
  position: absolute;
  left: 0.4rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-3-JMw .ladder-history-RBf .ladderleft-kUq .junoh-R5B {
  width: 8rem;
  height: 3.8rem;
  position: absolute;
  left: 9.4667rem;
  top: 1.0032rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-3-JMw .ladder-history-RBf .auto-group-fkkw-V53 {
  margin-right: 6.2333rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-3-JMw .ladder-history-RBf .auto-group-fkkw-V53 .ladder-SFB {
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3d3a3a;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-3-JMw .ladder-history-RBf .auto-group-fkkw-V53 .item-1-3-yW1 {
  margin-right: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3d3a3a;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-3-JMw .ladder-history-RBf .ladderright-uPf {
  margin-bottom: 0.4523rem;
  box-sizing: border-box;
  padding: 0rem 1.333rem 0rem 2.167rem;
  height: 7.2509rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-3-JMw .ladder-history-RBf .ladderright-uPf .sielee-d4m {
  margin: 1.003rem 18.833rem 0rem 0rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-3-JMw .ladder-history-RBf .ladderright-uPf .image-1-xMw {
  width: 9.0667rem;
  height: 6.5459rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-3-JMw .mins-ago-sE1 {
  width: 10.4rem;
  height: 2.6rem;
  position: absolute;
  left: 93.3rem;
  top: 6.8rem;
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #6d6d6d;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-2-y29 {
  width: 104rem;
  height: 9.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-2-y29 .ladder-history-JKK {
  width: 100rem;
  height: 7.7032rem;
  position: absolute;
  left: 2rem;
  top: 0;
  display: flex;
  align-items: flex-end;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-2-y29 .ladder-history-JKK .ladderleft-qa9 {
  margin: 0rem 5.667rem 0.452rem 0rem;
  width: 40rem;
  height: 7.2509rem;
  position: relative;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-2-y29 .ladder-history-JKK .ladderleft-qa9 .image-1-mTo {
  width: 9.0667rem;
  height: 6.5459rem;
  position: absolute;
  left: 0.4rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-2-y29 .ladder-history-JKK .ladderleft-qa9 .hahago-uK7 {
  width: 9.4rem;
  height: 3.8rem;
  position: absolute;
  left: 9.4667rem;
  top: 1.0032rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-2-y29 .ladder-history-JKK .auto-group-5wmk-NyP {
  margin-right: 6.2333rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-2-y29 .ladder-history-JKK .auto-group-5wmk-NyP .ladder-Ktd {
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3d3a3a;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-2-y29 .ladder-history-JKK .auto-group-5wmk-NyP .item-2-3-sfF {
  margin-right: 0.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3d3a3a;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-2-y29 .ladder-history-JKK .ladderright-1WZ {
  margin-bottom: 0.4523rem;
  box-sizing: border-box;
  padding: 0rem 1.333rem 0rem 2.2rem;
  height: 7.2509rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-2-y29 .ladder-history-JKK .ladderright-1WZ .dohyulee-Kn9 {
  margin: 1rem 15.7rem 0rem 0rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-2-y29 .ladder-history-JKK .ladderright-1WZ .image-1-3i9 {
  width: 9.0667rem;
  height: 6.5459rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .auto-group-q1kf-Mhb .item-2-y29 .mins-ago-xKK {
  width: 9rem;
  height: 2.6rem;
  position: absolute;
  left: 94.7rem;
  top: 6.8rem;
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #6d6d6d;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .search-panel-FZK {
  margin: 0rem 37.1rem 0rem 36.9rem;
  box-sizing: border-box;
  padding: 0.981rem 1.067rem 0.819rem 25.733rem;
  width: calc(100% - 74rem);
  border: solid 0.4rem #000000;
  background-color: #5e5e5e;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-afmb-trd .search-panel-FZK .icon-magnifying-glass-ZK7 {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--QwT .auto-group-4zcr-qGd {
  margin: 0rem 32.267rem 0rem 32.4rem;
  width: calc(100% - 64.6667rem);
  height: 5.8198rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX {
  box-sizing: border-box;
  padding: 0.825rem 2rem 1.886rem 2rem;
  width: 112rem;
  height: 54rem;
  position: absolute;
  left: 40rem;
  top: 54rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #414141;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-fced-MPP {
  margin: 0rem 0.667rem 1.297rem 0rem;
  width: calc(100% - 0.6667rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-fced-MPP .icon-settings-Uiu {
  margin: 0rem 96.667rem 0.43rem 0rem;
  width: 5.3333rem;
  height: 4.7573rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-fced-MPP .userlistbutton-oFP {
  width: 5.3333rem;
  height: 4.7162rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb {
  box-sizing: border-box;
  padding: 1.824rem 2.133rem 1.769rem 2.667rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .newmessage-dkD {
  margin: 0rem 0.134rem 0.881rem 0.265rem;
  width: calc(100% - 0.3993rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .newmessage-dkD .line-1-mLd {
  margin: 0.472rem 5.95rem 0rem 0rem;
  width: 40.0681rem;
  height: 0.5191rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .newmessage-dkD .new-message-V1j {
  margin-right: 6.0833rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffea2d;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .newmessage-dkD .line-2-baZ {
  margin-top: 0.2358rem;
  width: 39.3992rem;
  height: 0.2649rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-1-LHF {
  margin: 0rem 87.44rem 0.472rem 0.267rem;
  width: calc(100% - 87.7069rem);
  height: 5.8952rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-1-LHF .image-2-F9K {
  margin-right: 0.4rem;
  width: 8.8931rem;
  height: 5.8952rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-1-LHF .auto-group-tovk-nQ9 {
  margin: 0.907rem 0rem 0.802rem 0rem;
  width: 6.2rem;
  height: calc(100% - 1.7092rem);
  position: relative;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-1-LHF .auto-group-tovk-nQ9 .seilee-WL9 {
  width: 6.2rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffa7a7;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-1-LHF .auto-group-tovk-nQ9 .item-13-09-cPB {
  width: 4.6rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 2.086rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-1-LHF .auto-group-tovk-nQ9 .item-13-09-cPB .item-13-09-cPB-sub-0 {
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-1-LHF .auto-group-tovk-nQ9 .item-13-09-cPB .item-13-09-cPB-sub-1 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #919191;
  font-family: Pixelroborobo, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-2-iKj {
  margin: 0rem 88.04rem 21.105rem 0.267rem;
  width: calc(100% - 88.3069rem);
  height: 5.8952rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-2-iKj .image-2-2bK {
  margin-right: 0.6rem;
  width: 8.8931rem;
  height: 5.8952rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-2-iKj .auto-group-blem-NQH {
  margin: 0.635rem 0rem 0.802rem 0rem;
  height: calc(100% - 1.4371rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-2-iKj .auto-group-blem-NQH .me-Vzh {
  margin-bottom: 0.2581rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffa7a7;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-2-iKj .auto-group-blem-NQH .item-13-10-pn5 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-2-iKj .auto-group-blem-NQH .item-13-10-pn5 .item-13-10-pn5-sub-0 {
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item-2-iKj .auto-group-blem-NQH .item-13-10-pn5 .item-13-10-pn5-sub-1 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #919191;
  font-family: Pixelroborobo, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item--o8D {
  width: 100%;
  height: 4.3625rem;
  display: flex;
  align-items: flex-end;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item--o8D .item--jGm {
  margin: 0rem 1.2rem 0rem 0rem;
  width: 90.8rem;
  height: 4.1266rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item--o8D .item--EjK {
  margin-bottom: 0rem;
  width: 11.2rem;
  height: calc(100% - 0rem);
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item--o8D .item--EjK .item--NKj {
  width: 11.2rem;
  height: 4.2382rem;
  position: absolute;
  left: 0;
  top: 0.1243rem;
  border: solid 0.3rem #35c2ff;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--rhX .auto-group-njvt-Wfb .item--o8D .item--EjK .send-V9T {
  width: 4.9rem;
  height: 3.1rem;
  position: absolute;
  left: 3.15rem;
  top: 0.5691rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #35c2ff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .item--XM3 {
  width: 40rem;
  height: 8.6rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ff6060;
  border-radius: 1.5rem;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK {
  box-sizing: border-box;
  padding-bottom: 0.2454rem;
  width: 40.098rem;
  height: 57.3rem;
  position: absolute;
  left: 0.302rem;
  top: 8.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #5f5f5f;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .auto-group-kkxh-Gxq {
  width: 100%;
  height: 11.6563rem;
  position: relative;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .auto-group-kkxh-Gxq .rectangle-20-pzM {
  width: 40.098rem;
  height: 5.9719rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .auto-group-kkxh-Gxq .channels-NFB {
  width: 11.6rem;
  height: 3.7rem;
  position: absolute;
  left: 13.4471rem;
  top: 1.136rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .auto-group-kkxh-Gxq .channel-select-4do {
  width: 40.098rem;
  height: 6.1349rem;
  position: absolute;
  left: 0;
  top: 5.5214rem;
  display: flex;
  align-items: center;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .auto-group-kkxh-Gxq .channel-select-4do .auto-group-vuth-bNq {
  width: 20.049rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .auto-group-kkxh-Gxq .channel-select-4do .group-82-Gzm {
  width: 20.049rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d7d7d7;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .search-panel-AKT {
  box-sizing: border-box;
  padding: 1.227rem 1.337rem 1.227rem 34.752rem;
  width: 100%;
  border: solid 0.4rem #ff25a7;
  background-color: #444444;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .search-panel-AKT .icon-magnifying-glass-JRf {
  width: 4.0098rem;
  height: 3.6809rem;
  object-fit: contain;
  vertical-align: top;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .item-123-QDo {
  box-sizing: border-box;
  padding: 1.338rem 0rem 1.711rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .item-123-QDo .item-123-Kbf {
  margin-bottom: 2.0671rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .item-123-QDo .public-3-10-3Gm {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #d3d3d3;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .item-42--jQV {
  box-sizing: border-box;
  padding: 1.338rem 0rem 1.711rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .item-42--jQV .item-42--F7w {
  margin-bottom: 2.0671rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .item-42--jQV .public-1-10-k4h {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #d3d3d3;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .item--Fn9 {
  box-sizing: border-box;
  padding: 1.461rem 0rem 1.711rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .item--Fn9 .item--yTF {
  margin-bottom: 1.9444rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .item--Fn9 .protected-9-10-HTw {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #d3d3d3;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .item--nfb {
  box-sizing: border-box;
  padding: 1.461rem 0rem 1.711rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .item--nfb .item--hXf {
  margin-bottom: 1.9444rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-befs-4jB .all-aKK .item--nfb .protected-9-10-ced {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #d3d3d3;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf {
  width: 40rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #3effa2;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .item--GjB {
  box-sizing: border-box;
  padding: 1.404rem 3.467rem 3.733rem 4.933rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .item--GjB .item--PJ1 {
  margin: 0rem 1.467rem 2.019rem 0rem;
  width: 20rem;
  height: 16.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .item--GjB .item--Wmw {
  margin: 0rem 7.5rem 3.78rem 7.267rem;
  width: calc(100% - 14.7667rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .item--GjB .item--Wmw .item--QsK {
  margin: 0rem 1.233rem 0.213rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .item--GjB .item--Wmw .auto-group-jgcy-KDb {
  margin: 0rem 3.533rem 0.064rem 2.3rem;
  width: calc(100% - 5.8333rem);
  height: 8.1354rem;
  position: relative;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .item--GjB .item--Wmw .auto-group-jgcy-KDb .item--eFs {
  width: 9.5rem;
  height: 4.1rem;
  position: absolute;
  left: 0.6833rem;
  top: 4.0354rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .item--GjB .item--Wmw .auto-group-jgcy-KDb .item--8gq {
  width: 11rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #b0d276;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .item--GjB .item--Wmw .auto-group-s3tx-q5T {
  margin-left: 0.2333rem;
  width: 16.6rem;
  height: 7.9516rem;
  position: relative;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .item--GjB .item--Wmw .auto-group-s3tx-q5T .item--mjo {
  width: 16.6rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 3.8516rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .item--GjB .item--Wmw .auto-group-s3tx-q5T .item--FQ5 {
  width: 10.1rem;
  height: 4.1rem;
  position: absolute;
  left: 2.45rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .item--GjB .item--8im {
  width: 100%;
  height: 5.4rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .item--GjB .item--8im .rectangle-27-H5s {
  width: 31.4667rem;
  height: 5.4rem;
  position: absolute;
  left: 0.1333rem;
  top: 0;
  border: solid 0.2rem #ff3333;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .item--GjB .item--8im .edit-my-info-QRP {
  width: 14.9rem;
  height: 3.8rem;
  position: absolute;
  left: 8.35rem;
  top: 0.692rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ff3a3a;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF {
  box-sizing: border-box;
  padding-top: 0.1067rem;
  width: 100%;
  height: 54rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #5f5f5f;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw {
  margin-bottom: 1rem;
  width: 100%;
  height: 44.8933rem;
  position: relative;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .channel-eU9 {
  width: 13.3333rem;
  height: 5.336rem;
  position: absolute;
  left: 13.3333rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .friends-7Mj {
  width: 13.3333rem;
  height: 5.336rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .all-zRX {
  width: 13.3333rem;
  height: 5.336rem;
  position: absolute;
  left: 26.6667rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--fXf {
  box-sizing: border-box;
  padding: 1.057rem 1.5rem 1.079rem 35.3rem;
  width: 40rem;
  height: 5.336rem;
  position: absolute;
  left: 0;
  top: 5.2933rem;
  border: solid 0.3rem #ff25a7;
  background-color: #5e5e5e;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--fXf .icon-magnifying-glass-NS5 {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq {
  width: 40rem;
  height: 34.3rem;
  position: absolute;
  left: 0;
  top: 10.5933rem;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8000000119);
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-3-ao3 {
  box-sizing: border-box;
  padding: 0rem 17.433rem 0rem 0.4rem;
  width: 40rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 16rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-3-ao3 .image-1-Gvm {
  margin-right: 0.4rem;
  width: 9.0667rem;
  height: 7.2222rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-3-ao3 .seowokim-online-ovh {
  margin-top: 0.6667rem;
  max-width: 12.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-3-ao3 .seowokim-online-ovh .seowokim-online-ovh-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-3-ao3 .seowokim-online-ovh .seowokim-online-ovh-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-3-ao3 .seowokim-online-ovh .seowokim-online-ovh-sub-2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a6a6a6;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-3-ao3 .seowokim-online-ovh .seowokim-online-ovh-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #7ecff2;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-2-QxR {
  box-sizing: border-box;
  padding: 0rem 18.433rem 0rem 0.4rem;
  width: 40rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 8rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-2-QxR .image-1-WkZ {
  margin-right: 0.4rem;
  width: 9.0667rem;
  height: 7.2222rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-2-QxR .sielee-in-game-Fy3 {
  margin-top: 0.6667rem;
  max-width: 11.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-2-QxR .sielee-in-game-Fy3 .sielee-in-game-Fy3-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-2-QxR .sielee-in-game-Fy3 .sielee-in-game-Fy3-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-2-QxR .sielee-in-game-Fy3 .sielee-in-game-Fy3-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #b0d276;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-1-Qss {
  box-sizing: border-box;
  padding: 0rem 17.7rem 0rem 0.4rem;
  width: 40rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-1-Qss .image-1-3A9 {
  margin-right: 0.5333rem;
  width: 9.0667rem;
  height: 7.2222rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-1-Qss .junoh-offline-ypV {
  margin-top: 0.7rem;
  max-width: 12.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-1-Qss .junoh-offline-ypV .junoh-offline-ypV-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-1-Qss .junoh-offline-ypV .junoh-offline-ypV-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #444444;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-1-Qss .junoh-offline-ypV .junoh-offline-ypV-sub-2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item-1-Qss .junoh-offline-ypV .junoh-offline-ypV-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a6a6a6;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .auto-group-fw6d-WMw .item--sNq .item--5uT {
  width: 0.9rem;
  height: 15rem;
  position: absolute;
  left: 39.1rem;
  top: 7.2rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8000000119);
  border-radius: 2rem;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .item--ZJq {
  margin: 0 1rem;
  box-sizing: border-box;
  padding-right: 1.4589rem;
  width: calc(100% - 2rem);
  height: 7rem;
  display: flex;
  align-items: center;
  border: solid 1rem #ff4264;
  background-color: #292929;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .item--ZJq .item--UAu {
  margin: 0rem 0.611rem 0.248rem 0rem;
  width: 7.125rem;
  height: 6.7522rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .item--ZJq .item--PHs {
  margin: 0.45rem 9.334rem 0rem 0rem;
  max-width: 15.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .item--ZJq .item--PHs .item--PHs-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .item--ZJq .item--PHs .item--PHs-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #444444;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .item--ZJq .item--PHs .item--PHs-sub-2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .item--ZJq .item--PHs .item--PHs-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #7ecff2;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .layout-jB7 .auto-group-bqsf-ihf .channel-3jF .item--ycu .item--ZJq .item--JSm {
  margin-top: 0.0416rem;
  width: 4.0714rem;
  height: 3.3761rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .channellist-mLM {
  width: 40.1961rem;
  height: 49.2rem;
  position: absolute;
  left: 0.2039rem;
  top: 65.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #5f5f5f;
}
.item--ppq .channellist-mLM .auto-group-u2rv-VGM {
  width: 100%;
  height: 5.1277rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR {
  box-sizing: border-box;
  padding: 0.033rem 0rem 29.092rem 0.026rem;
  width: 100%;
  height: 44.0723rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item-3-V9s {
  margin-bottom: 0.258rem;
  box-sizing: border-box;
  padding: 0rem 0.83rem 0rem 0.397rem;
  height: 6.8811rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item-3-V9s .image-1-ax1 {
  margin: 0rem 0.397rem 0.669rem 0rem;
  width: 8.9875rem;
  height: 6.2121rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item-3-V9s .kiki-online-6vM {
  margin: 0.366rem 9.046rem 0rem 0rem;
  max-width: 6.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item-3-V9s .kiki-online-6vM .kiki-online-6vM-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item-3-V9s .kiki-online-6vM .kiki-online-6vM-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item-3-V9s .kiki-online-6vM .kiki-online-6vM-sub-2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a6a6a6;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item-3-V9s .kiki-online-6vM .kiki-online-6vM-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #7ecff2;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item-3-V9s .auto-group-s4au-E2u {
  margin: 0.344rem 0rem 0.342rem 0rem;
  width: 13.4937rem;
  height: calc(100% - 0.6864rem);
  position: relative;
  flex-shrink: 0;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item-3-V9s .auto-group-s4au-E2u .item--9Qm {
  width: 1.6rem;
  height: 3.1rem;
  position: absolute;
  left: 6.6734rem;
  top: 3.0948rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item-3-V9s .auto-group-s4au-E2u .item--qYV {
  width: 1.3rem;
  height: 2.5rem;
  position: absolute;
  left: 10.5082rem;
  top: 3.3948rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item-3-V9s .auto-group-s4au-E2u .group-102-9JH {
  width: 13.4937rem;
  height: 3.2685rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ff25a7;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #ff25a7;
  box-sizing: border-box;
  background-color: #292929;
  border-radius: 1rem;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item--NRw {
  margin-right: 0.002rem;
  box-sizing: border-box;
  padding: 0.602rem 0rem 0.495rem 0rem;
  width: calc(100% - 0.002rem);
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item--NRw .auto-group-nhsq-s7o {
  margin: 0rem 0.828rem 0.342rem 0rem;
  width: calc(100% - 0.8283rem);
  height: 3.2685rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item--NRw .auto-group-nhsq-s7o .item--aY1 {
  margin: 0rem 16.746rem 0.081rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item--NRw .auto-group-nhsq-s7o .group-103-4TB {
  width: 13.4937rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ff25a7;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #ff25a7;
  box-sizing: border-box;
  background-color: #292929;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item--NRw .auto-group-32zu-j3X {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item--NRw .auto-group-32zu-j3X .protected-9-10-svR {
  margin: 0rem 14.927rem 0.303rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #d3d3d3;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item--NRw .auto-group-32zu-j3X .item--CC1 {
  margin-right: 2.2348rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--ppq .channellist-mLM .auto-group-dat1-ySR .item--NRw .auto-group-32zu-j3X .item--eZo {
  margin-top: 0.3441rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
