
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 38.3rem;
}.item--oTP {
  width: 100%;
  height: 61.8rem;
}
.item--oTP .group-91-XeH {
  width: 100%;
  height: 100%;
  position: relative;
}
.item--oTP .group-91-XeH .nocitication-block-gXB {
  box-sizing: border-box;
  padding: 42.5rem 3.2rem 14.3rem 5rem;
  width: 38.3rem;
  height: 61.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.4rem #ff25a7;
  background-color: #444444;
  border-radius: 0.5rem;
}
.item--oTP .group-91-XeH .nocitication-block-gXB .rectangle-40-o61 {
  width: 30.1rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
}
.item--oTP .group-91-XeH .title-JHf {
  width: 8.3rem;
  height: 4.5rem;
  position: absolute;
  left: 3.9rem;
  top: 2.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--oTP .group-91-XeH .mode-BcM {
  width: 8.9rem;
  height: 4.5rem;
  position: absolute;
  left: 2.5rem;
  top: 15.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--oTP .group-91-XeH .group-89-6DX {
  width: 19.05rem;
  height: 12.75rem;
  position: absolute;
  left: 5rem;
  top: 21.1rem;
}
.item--oTP .group-91-XeH .group-89-6DX .auto-group-w2b3-1bP {
  margin: 0rem 5.55rem 0.55rem 0rem;
  width: calc(100% - 5.55rem);
  display: flex;
  align-items: center;
}
.item--oTP .group-91-XeH .group-89-6DX .auto-group-w2b3-1bP .ellipse-6-8AD {
  margin: 0.1rem 1.5rem 0rem 0rem;
  width: 2.7rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--oTP .group-91-XeH .group-89-6DX .auto-group-w2b3-1bP .pubilc-qaR {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d3d3d3;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--oTP .group-91-XeH .group-89-6DX .auto-group-vahf-kxH {
  margin-bottom: 0.8rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.item--oTP .group-91-XeH .group-89-6DX .auto-group-vahf-kxH .ellipse-7-uaH {
  margin: 0rem 1.05rem 0.2rem 0rem;
  width: 2.7rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--oTP .group-91-XeH .group-89-6DX .auto-group-vahf-kxH .protected-RoX {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d3d3d3;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--oTP .group-91-XeH .group-89-6DX .auto-group-kvad-MSH {
  margin-right: 4.25rem;
  width: calc(100% - 4.25rem);
  display: flex;
  align-items: center;
}
.item--oTP .group-91-XeH .group-89-6DX .auto-group-kvad-MSH .auto-group-vuc9-6em {
  margin-right: 1.7rem;
  width: 2.7rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--oTP .group-91-XeH .group-89-6DX .auto-group-kvad-MSH .private-dub {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d3d3d3;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--oTP .group-91-XeH .password-NMP {
  width: 16.6rem;
  height: 4.5rem;
  position: absolute;
  left: 2.286rem;
  top: 36.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a6a6a6;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--oTP .group-91-XeH .group-81-3yK {
  width: 16.9rem;
  height: 5.2rem;
  position: absolute;
  left: 11.2rem;
  top: 53.2rem;
  border-radius: 0.5rem;
}
.item--oTP .group-91-XeH .group-81-3yK .group-80-nAD {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.item--oTP .group-91-XeH .group-81-3yK .group-80-nAD .edit-button-kMw {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0.5rem;
}
.item--oTP .group-91-XeH .group-81-3yK .group-80-nAD .edit-button-kMw .rectangle-27-hny {
  width: 16.8rem;
  height: 5.2rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  border: solid 0.2rem #ff3333;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.item--oTP .group-91-XeH .group-81-3yK .group-80-nAD .edit-button-kMw .create-DWR {
  width: 9.7rem;
  height: 3.8rem;
  position: absolute;
  left: 3.6rem;
  top: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ff3a3a;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.item--oTP .group-91-XeH .rectangle-40-ftD {
  width: 30.1rem;
  height: 5rem;
  position: absolute;
  left: 5rem;
  top: 7.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.5rem;
}
