
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.matchingsucess-o2h {
  width: 100%;
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.matchingsucess-o2h .layout-Who {
  width: 192rem;
  height: 108rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV {
  width: 152rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--axZ {
  width: 40rem;
  height: 108rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffce50;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--iYy {
  width: 112rem;
  height: 54rem;
  position: absolute;
  left: 40rem;
  top: 0;
  background-color: #ff37eb;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--473 {
  width: 112rem;
  height: 54rem;
  position: absolute;
  left: 40rem;
  top: 54rem;
  background-color: #5f95ff;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM {
  box-sizing: border-box;
  padding: 0.825rem 2rem 1.886rem 2rem;
  width: 112rem;
  height: 54rem;
  position: absolute;
  left: 40rem;
  top: 54rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #414141;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-mvrm-4mF {
  margin: 0rem 0.667rem 1.297rem 0rem;
  width: calc(100% - 0.6667rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-mvrm-4mF .icon-settings-z97 {
  margin: 0rem 96.667rem 0.43rem 0rem;
  width: 5.3333rem;
  height: 4.7573rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-mvrm-4mF .userlistbutton-VLm {
  width: 5.3333rem;
  height: 4.7162rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf {
  box-sizing: border-box;
  padding: 1.824rem 2.133rem 1.769rem 2.667rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.3rem #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .newmessage-8ed {
  margin: 0rem 0.134rem 0.881rem 0.265rem;
  width: calc(100% - 0.3993rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .newmessage-8ed .line-1-4YH {
  margin: 0.472rem 5.95rem 0rem 0rem;
  width: 40.0681rem;
  height: 0.5191rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .newmessage-8ed .new-message-Zjw {
  margin-right: 6.0833rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffea2d;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .newmessage-8ed .line-2-gJm {
  margin-top: 0.2358rem;
  width: 39.3993rem;
  height: 0.2649rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-1-pA5 {
  margin: 0rem 87.44rem 0.472rem 0.267rem;
  width: calc(100% - 87.7069rem);
  height: 5.8952rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-1-pA5 .image-2-7ey {
  margin-right: 0.4rem;
  width: 8.8932rem;
  height: 5.8952rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-1-pA5 .auto-group-kwwz-FWH {
  margin: 0.907rem 0rem 0.802rem 0rem;
  width: 6.2rem;
  height: calc(100% - 1.7092rem);
  position: relative;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-1-pA5 .auto-group-kwwz-FWH .seilee-NL1 {
  width: 6.2rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffa7a7;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-1-pA5 .auto-group-kwwz-FWH .item-13-09-GwB {
  width: 4.6rem;
  height: 2.1rem;
  position: absolute;
  left: 0;
  top: 2.086rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-1-pA5 .auto-group-kwwz-FWH .item-13-09-GwB .item-13-09-GwB-sub-0 {
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-1-pA5 .auto-group-kwwz-FWH .item-13-09-GwB .item-13-09-GwB-sub-1 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #919191;
  font-family: Pixelroborobo, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-2-Z37 {
  margin: 0rem 88.04rem 21.105rem 0.267rem;
  width: calc(100% - 88.3068rem);
  height: 5.8952rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-2-Z37 .image-2-4kZ {
  margin-right: 0.6rem;
  width: 8.8932rem;
  height: 5.8952rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-2-Z37 .auto-group-w45p-Crm {
  margin: 0.635rem 0rem 0.802rem 0rem;
  height: calc(100% - 1.4371rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-2-Z37 .auto-group-w45p-Crm .me-8VX {
  margin-bottom: 0.2581rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffa7a7;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-2-Z37 .auto-group-w45p-Crm .item-13-10-TXo {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-2-Z37 .auto-group-w45p-Crm .item-13-10-TXo .item-13-10-TXo-sub-0 {
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item-2-Z37 .auto-group-w45p-Crm .item-13-10-TXo .item-13-10-TXo-sub-1 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #919191;
  font-family: Pixelroborobo, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item--Rsw {
  width: 100%;
  height: 4.3625rem;
  display: flex;
  align-items: flex-end;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item--Rsw .item--Mmb {
  margin-right: 1.2rem;
  width: 90.8rem;
  height: 4.1266rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item--Rsw .item--sV3 {
  margin-bottom: 0rem;
  width: 11.2rem;
  height: calc(100% - 0rem);
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item--Rsw .item--sV3 .item--zpZ {
  width: 11.2rem;
  height: 4.2382rem;
  position: absolute;
  left: 0;
  top: 0.1243rem;
  border: solid 0.3rem #35c2ff;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--BxM .auto-group-ku7b-DXf .item--Rsw .item--sV3 .send-6Mo {
  width: 4.9rem;
  height: 3.1rem;
  position: absolute;
  left: 3.15rem;
  top: 0.5691rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #35c2ff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--8pH {
  width: 40rem;
  height: 8.6rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ff6060;
  border-radius: 1.5rem;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw {
  box-sizing: border-box;
  padding-bottom: 0.2454rem;
  width: 40.098rem;
  height: 57.3rem;
  position: absolute;
  left: 0.302rem;
  top: 8.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #5f5f5f;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-nt13-1Wh {
  width: 100%;
  height: 11.6563rem;
  position: relative;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-nt13-1Wh .rectangle-20-kz5 {
  width: 40.098rem;
  height: 5.9719rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-nt13-1Wh .channels-gcq {
  width: 11.6rem;
  height: 3.7rem;
  position: absolute;
  left: 13.4471rem;
  top: 1.136rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-nt13-1Wh .channel-select-mPP {
  width: 40.098rem;
  height: 6.1349rem;
  position: absolute;
  left: 0;
  top: 5.5214rem;
  display: flex;
  align-items: center;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-nt13-1Wh .channel-select-mPP .auto-group-9alz-hH3 {
  width: 20.049rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-nt13-1Wh .channel-select-mPP .group-82-AwK {
  width: 20.049rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d7d7d7;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-fwk1-TfX {
  margin-bottom: 0rem;
  width: 100%;
  height: 15.9507rem;
  position: relative;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-fwk1-TfX .search-panel-zvM {
  box-sizing: border-box;
  padding: 1.227rem 1.337rem 1.227rem 34.752rem;
  width: 40.098rem;
  height: 6.1349rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.4rem #ff25a7;
  background-color: #444444;
  border-radius: 0.5rem;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-fwk1-TfX .search-panel-zvM .icon-magnifying-glass-Wdo {
  width: 4.0098rem;
  height: 3.6809rem;
  object-fit: contain;
  vertical-align: top;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-fwk1-TfX .item-123-cwj {
  box-sizing: border-box;
  padding: 1.338rem 0rem 1.711rem 0rem;
  width: 40.098rem;
  height: 9.8158rem;
  position: absolute;
  left: 0;
  top: 6.1349rem;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-fwk1-TfX .item-123-cwj .item-123-WXK {
  margin-bottom: 2.0671rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-fwk1-TfX .item-123-cwj .public-3-10-pnu {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #d3d3d3;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-qdpd-iNV {
  margin-bottom: 0rem;
  width: 100%;
  height: 19.6317rem;
  position: relative;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-qdpd-iNV .item-42--fYd {
  box-sizing: border-box;
  padding: 1.338rem 0rem 1.711rem 0rem;
  width: 40.098rem;
  height: 9.8158rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-qdpd-iNV .item-42--fYd .item-42--ka5 {
  margin-bottom: 2.0671rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-qdpd-iNV .item-42--fYd .public-1-10-3p5 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #d3d3d3;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-qdpd-iNV .item--YF3 {
  box-sizing: border-box;
  padding: 1.461rem 0rem 1.711rem 0rem;
  width: 40.098rem;
  height: 9.8158rem;
  position: absolute;
  left: 0;
  top: 9.8158rem;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-qdpd-iNV .item--YF3 .item--3Bo {
  margin-bottom: 1.9444rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .auto-group-qdpd-iNV .item--YF3 .protected-9-10-ZR3 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #d3d3d3;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .item--GKT {
  box-sizing: border-box;
  padding: 1.461rem 0rem 1.711rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .item--GKT .item--AQq {
  margin-bottom: 1.9444rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .all-WZw .item--GKT .protected-9-10-fcV {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #d3d3d3;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER {
  box-sizing: border-box;
  padding: 8.396rem 12.567rem 4.874rem 12.933rem;
  width: 112rem;
  height: 54rem;
  position: absolute;
  left: 40rem;
  top: 0.1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #000000;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-y5a9-pth {
  margin: 0rem 15.833rem 10.308rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-y5a9-pth .user1img-kXT {
  margin: 0rem 2.233rem 1.539rem 0rem;
  width: 20rem;
  height: 14.311rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-y5a9-pth .dohyulee-TRs {
  margin: 0rem 2.233rem 0.693rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-y5a9-pth .info2-ZE1 {
  margin-left: 2.9333rem;
  width: 19.3rem;
  height: 10.2784rem;
  position: relative;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-y5a9-pth .info2-ZE1 .item-30-Urm {
  width: 2.8rem;
  height: 3.6rem;
  position: absolute;
  left: 12.4667rem;
  top: 3.3392rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-y5a9-pth .info2-ZE1 .item-101-yHj {
  width: 4.2rem;
  height: 3.6rem;
  position: absolute;
  left: 15.1rem;
  top: 6.6784rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-y5a9-pth .info2-ZE1 .item-30-Tih {
  width: 2.8rem;
  height: 3.6rem;
  position: absolute;
  left: 10.4667rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-y5a9-pth .info2-ZE1 .win--Mp5 {
  width: 7.2rem;
  height: 3.6rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-y5a9-pth .info2-ZE1 .lose--g5f {
  width: 7.8rem;
  height: 3.6rem;
  position: absolute;
  left: 1.0333rem;
  top: 3.3392rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-y5a9-pth .info2-ZE1 .ladder--mso {
  width: 11.3rem;
  height: 3.6rem;
  position: absolute;
  left: 0.4833rem;
  top: 6.6784rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-pzvk-U1X {
  margin: 10.885rem 16.733rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-pzvk-U1X .vs-c7j {
  margin-bottom: 5.6456rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ae3e3e;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-pzvk-U1X .item-3-LZX {
  margin-left: 0.1334rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #e3d97f;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-tjho-ycV {
  margin-bottom: 10.3083rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-tjho-ycV .user2img-7ih {
  margin: 0rem 1.7rem 1.539rem 0rem;
  width: 20rem;
  height: 14.311rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-tjho-ycV .sielee-EYR {
  margin: 0rem 1.7rem 0.693rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-tjho-ycV .info1-LrM {
  margin-left: 2.4rem;
  width: 19.3rem;
  height: 10.2784rem;
  position: relative;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-tjho-ycV .info1-LrM .item-30-5J9 {
  width: 2.8rem;
  height: 3.6rem;
  position: absolute;
  left: 12.4667rem;
  top: 3.3392rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-tjho-ycV .info1-LrM .item-101-Zz1 {
  width: 4.2rem;
  height: 3.6rem;
  position: absolute;
  left: 15.1rem;
  top: 6.6784rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-tjho-ycV .info1-LrM .item-30-U5P {
  width: 2.8rem;
  height: 3.6rem;
  position: absolute;
  left: 10.4667rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-tjho-ycV .info1-LrM .win--mqB {
  width: 7.2rem;
  height: 3.6rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-tjho-ycV .info1-LrM .lose--J4R {
  width: 7.8rem;
  height: 3.6rem;
  position: absolute;
  left: 1.0333rem;
  top: 3.3392rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-fgsd-FQV .item--MER .auto-group-tjho-ycV .info1-LrM .ladder--QdF {
  width: 11.3rem;
  height: 3.6rem;
  position: absolute;
  left: 0.4833rem;
  top: 6.6784rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs {
  width: 40rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #3effa2;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .item--dF7 {
  box-sizing: border-box;
  padding: 1.404rem 3.467rem 3.733rem 4.933rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .item--dF7 .item--jZ3 {
  margin: 0rem 1.467rem 2.019rem 0rem;
  width: 20rem;
  height: 16.2rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .item--dF7 .item--1mT {
  margin: 0rem 7.5rem 3.78rem 7.267rem;
  width: calc(100% - 14.7667rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .item--dF7 .item--1mT .item--WiD {
  margin: 0rem 1.233rem 0.213rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .item--dF7 .item--1mT .auto-group-3eho-Qob {
  margin: 0rem 3.533rem 0.064rem 2.3rem;
  width: calc(100% - 5.8333rem);
  height: 8.1354rem;
  position: relative;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .item--dF7 .item--1mT .auto-group-3eho-Qob .item--KvZ {
  width: 9.5rem;
  height: 4.1rem;
  position: absolute;
  left: 0.6833rem;
  top: 4.0354rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .item--dF7 .item--1mT .auto-group-3eho-Qob .item--Qx1 {
  width: 11rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #b0d276;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .item--dF7 .item--1mT .auto-group-dcq7-iC1 {
  margin-left: 0.2333rem;
  width: 16.6rem;
  height: 7.9517rem;
  position: relative;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .item--dF7 .item--1mT .auto-group-dcq7-iC1 .item--r3K {
  width: 16.6rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 3.8517rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .item--dF7 .item--1mT .auto-group-dcq7-iC1 .item--Ywj {
  width: 10.1rem;
  height: 4.1rem;
  position: absolute;
  left: 2.45rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .item--dF7 .item--qfw {
  width: 100%;
  height: 5.4rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .item--dF7 .item--qfw .rectangle-27-z33 {
  width: 31.4667rem;
  height: 5.4rem;
  position: absolute;
  left: 0.1333rem;
  top: 0;
  border: solid 0.2rem #ff3333;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .item--dF7 .item--qfw .edit-my-info-JpR {
  width: 14.9rem;
  height: 3.8rem;
  position: absolute;
  left: 8.35rem;
  top: 0.692rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ff3a3a;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s {
  box-sizing: border-box;
  padding-top: 0.1067rem;
  width: 100%;
  height: 54rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 {
  box-sizing: border-box;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #5f5f5f;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD {
  margin-bottom: 1rem;
  width: 100%;
  height: 44.8933rem;
  position: relative;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .channel-mbX {
  width: 13.3333rem;
  height: 5.336rem;
  position: absolute;
  left: 13.3333rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .friends-2nM {
  width: 13.3333rem;
  height: 5.336rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .all-WSd {
  width: 13.3333rem;
  height: 5.336rem;
  position: absolute;
  left: 26.6667rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--n9F {
  box-sizing: border-box;
  padding: 1.057rem 1.5rem 1.079rem 35.3rem;
  width: 40rem;
  height: 5.336rem;
  position: absolute;
  left: 0;
  top: 5.2933rem;
  border: solid 0.3rem #ff25a7;
  background-color: #5e5e5e;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--n9F .icon-magnifying-glass-HLu {
  width: 3.2rem;
  height: 3.2rem;
  object-fit: contain;
  vertical-align: top;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h {
  width: 40rem;
  height: 34.3rem;
  position: absolute;
  left: 0;
  top: 10.5933rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8000000119);
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf {
  width: 100%;
  height: 24rem;
  position: relative;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-3-pEM {
  box-sizing: border-box;
  padding: 0rem 17.433rem 0rem 0.4rem;
  width: 40rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 16rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-3-pEM .image-1-Wcy {
  margin-right: 0.4rem;
  width: 9.0667rem;
  height: 7.2222rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-3-pEM .seowokim-online-DGV {
  margin-top: 0.6667rem;
  max-width: 12.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-3-pEM .seowokim-online-DGV .seowokim-online-DGV-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-3-pEM .seowokim-online-DGV .seowokim-online-DGV-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-3-pEM .seowokim-online-DGV .seowokim-online-DGV-sub-2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a6a6a6;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-3-pEM .seowokim-online-DGV .seowokim-online-DGV-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #7ecff2;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-2-onR {
  box-sizing: border-box;
  padding: 0rem 20.333rem 0rem 0.4rem;
  width: 40rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 8rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-2-onR .image-1-HSh {
  margin-right: 0.4rem;
  width: 9.0667rem;
  height: 7.2222rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-2-onR .sielee-in-game-1db {
  margin-top: 0.6667rem;
  max-width: 9.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-2-onR .sielee-in-game-1db .sielee-in-game-1db-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-2-onR .sielee-in-game-1db .sielee-in-game-1db-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-2-onR .sielee-in-game-1db .sielee-in-game-1db-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #b0d276;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-1-AoK {
  box-sizing: border-box;
  padding: 0rem 19.8rem 0rem 0.4rem;
  width: 40rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-1-AoK .image-1-UZ7 {
  margin-right: 0.4333rem;
  width: 9.0667rem;
  height: 7.2222rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-1-AoK .junoh-offline-DWh {
  margin-top: 0.7rem;
  max-width: 10.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-1-AoK .junoh-offline-DWh .junoh-offline-DWh-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-1-AoK .junoh-offline-DWh .junoh-offline-DWh-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #444444;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-1-AoK .junoh-offline-DWh .junoh-offline-DWh-sub-2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item-1-AoK .junoh-offline-DWh .junoh-offline-DWh-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a6a6a6;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .auto-group-wt5f-5Xf .item--gx1 {
  width: 0.9rem;
  height: 15rem;
  position: absolute;
  left: 39.1rem;
  top: 7.2rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8000000119);
  border-radius: 2rem;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-5-yRK {
  box-sizing: border-box;
  padding: 0rem 16.933rem 0rem 0.4rem;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-5-yRK .image-1-toB {
  margin-right: 0.4rem;
  width: 9.0667rem;
  height: 7.2222rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-5-yRK .hahahoho-in-game-RYD {
  margin-top: 0.6667rem;
  max-width: 13.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-5-yRK .hahahoho-in-game-RYD .hahahoho-in-game-RYD-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-5-yRK .hahahoho-in-game-RYD .hahahoho-in-game-RYD-sub-1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-5-yRK .hahahoho-in-game-RYD .hahahoho-in-game-RYD-sub-2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #b0d276;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-4-xa5 {
  box-sizing: border-box;
  padding: 0rem 12.533rem 0rem 0.4rem;
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-4-xa5 .image-1-UoK {
  margin-right: 0.4rem;
  width: 9.0667rem;
  height: 7.2222rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-4-xa5 .seodong-online-Dku {
  margin-top: 0.6667rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-4-xa5 .seodong-online-Dku .seodong-online-Dku-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-4-xa5 .seodong-online-Dku .seodong-online-Dku-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-4-xa5 .seodong-online-Dku .seodong-online-Dku-sub-2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a6a6a6;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-4-xa5 .seodong-online-Dku .seodong-online-Dku-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #7ecff2;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-6-KL5 {
  box-sizing: border-box;
  padding: 0rem 14.4rem 0rem 0.4rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-6-KL5 .image-1-qpD {
  margin-right: 0.4333rem;
  width: 9.0667rem;
  height: 7.2222rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-6-KL5 .junoh-offline-BdB {
  margin-top: 0.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-6-KL5 .junoh-offline-BdB .junoh-offline-BdB-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-6-KL5 .junoh-offline-BdB .junoh-offline-BdB-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #444444;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-6-KL5 .junoh-offline-BdB .junoh-offline-BdB-sub-2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .auto-group-cesd-dkD .item--b6h .item-6-KL5 .junoh-offline-BdB .junoh-offline-BdB-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a6a6a6;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .item--ogV {
  margin: 0 1rem;
  box-sizing: border-box;
  padding-right: 1.459rem;
  width: calc(100% - 2rem);
  height: 7rem;
  display: flex;
  align-items: center;
  border: solid 1rem #ff4264;
  background-color: #292929;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .item--ogV .item--Und {
  margin: 0rem 0.611rem 0.248rem 0rem;
  width: 7.125rem;
  height: 6.7522rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .item--ogV .item--BS9 {
  margin: 0rem 10.834rem 0.05rem 0rem;
  max-width: 13.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .item--ogV .item--BS9 .item--BS9-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .item--ogV .item--BS9 .item--BS9-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #444444;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .item--ogV .item--BS9 .item--BS9-sub-2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .item--ogV .item--BS9 .item--BS9-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #7ecff2;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .layout-Who .auto-group-azyw-gKs .all-y9s .item--JT3 .item--ogV .item--Fiq {
  margin-top: 0.0416rem;
  width: 4.0714rem;
  height: 3.3761rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ {
  width: 40.1961rem;
  height: 49.2rem;
  position: absolute;
  left: 0.2039rem;
  top: 65.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #5f5f5f;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-qpob-cho {
  width: 100%;
  height: 5.1277rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.9rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy {
  box-sizing: border-box;
  padding: 0.033rem 0rem 29.092rem 0.026rem;
  width: 100%;
  height: 44.0723rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item-3-cLR {
  margin-bottom: 0.258rem;
  box-sizing: border-box;
  padding: 0rem 0.83rem 0rem 0.397rem;
  height: 6.8811rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item-3-cLR .image-1-WRo {
  margin: 0rem 0.396rem 0.669rem 0rem;
  width: 8.9875rem;
  height: 6.2121rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item-3-cLR .kiki-online-Dr1 {
  margin: 0.366rem 9.046rem 0rem 0rem;
  max-width: 6.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2102272511;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item-3-cLR .kiki-online-Dr1 .kiki-online-Dr1-sub-0 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: rgba(255, 255, 255, 0.8000000119);
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item-3-cLR .kiki-online-Dr1 .kiki-online-Dr1-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item-3-cLR .kiki-online-Dr1 .kiki-online-Dr1-sub-2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a6a6a6;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item-3-cLR .kiki-online-Dr1 .kiki-online-Dr1-sub-3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #7ecff2;
  font-family: ArcadeClassic, 'Source Sans Pro';
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item-3-cLR .auto-group-x4qw-w3F {
  margin: 0.344rem 0rem 0.342rem 0rem;
  width: 13.4937rem;
  height: calc(100% - 0.6864rem);
  position: relative;
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item-3-cLR .auto-group-x4qw-w3F .item--FJq {
  width: 1.6rem;
  height: 3.1rem;
  position: absolute;
  left: 6.6734rem;
  top: 3.0948rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item-3-cLR .auto-group-x4qw-w3F .item--99K {
  width: 1.3rem;
  height: 2.5rem;
  position: absolute;
  left: 10.5082rem;
  top: 3.3948rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item-3-cLR .auto-group-x4qw-w3F .group-102-ERf {
  width: 13.4937rem;
  height: 3.2685rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ff25a7;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #ff25a7;
  box-sizing: border-box;
  background-color: #292929;
  border-radius: 1rem;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item--eVP {
  margin-right: 0.0021rem;
  box-sizing: border-box;
  padding: 0.602rem 0rem 0.495rem 0rem;
  width: calc(100% - 0.0021rem);
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #000000;
  background-color: #292929;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item--eVP .auto-group-xver-KrR {
  margin: 0rem 0.828rem 0.342rem 0rem;
  width: calc(100% - 0.8283rem);
  height: 3.2685rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item--eVP .auto-group-xver-KrR .item--eNu {
  margin: 0rem 16.746rem 0.081rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item--eVP .auto-group-xver-KrR .group-103-Kzq {
  width: 13.4937rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ff25a7;
  font-family: ArcadeClassic, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.3rem #ff25a7;
  box-sizing: border-box;
  background-color: #292929;
  border-radius: 1rem;
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item--eVP .auto-group-w2uf-CHw {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item--eVP .auto-group-w2uf-CHw .protected-9-10-YMo {
  margin: 0rem 14.927rem 0.303rem 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #d3d3d3;
  font-family: Pixelroborobo, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item--eVP .auto-group-w2uf-CHw .item--e9w {
  margin-right: 2.2348rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.matchingsucess-o2h .channellist-6UZ .auto-group-onzo-6cy .item--eVP .auto-group-w2uf-CHw .item--kyf {
  margin-top: 0.3441rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
